body {
background-color:#f2f2f2 !important;
font-family: "Century Gothic", CenturyGothic, AppleGothic, Futura,"Futura Bk BT", "Trebuchet MS", Arial, sans-serif !important;
font-size:13px;
/*background-image:url(https://rawgit.com/rl404/MyAnimeList/master/test/images/bg.jpg);*/
background-image:url(http://sig.grumpybumpers.com/host/rl404.gif);
background-repeat:repeat;
background-attachment:fixed;
background-size:cover;
background-position:center;
}

/*body:after {content:'Go and do some clickie clickie on anime below,\asome pretty cool stuff happens.\a\aUnless you are using Opera(ver<15), IE or some other strange stuff.\a If that is the case, then I have bad news for you...';
position:absolute;
margin:0 auto;
width:0px;
left:0px;
right:900px;
padding-left:10px;
top:646px;
white-space:pre;
z-index:10;
}*/

/*----- bar pic -----*/

body:before {content:'';
background-color:rgba(255,255,255,.8);
background-repeat:repeat;
background-attachment:fixed;
background-size:cover;
background-position:center;
box-shadow:inset 0px 0px 5px 0px #fff, 0px 0px 5px 0px #000;
position:absolute;
margin-top:0px !important;
width:100%;
min-width:935px;
height:100px;
z-index:0;
display:block;
}

/*----- headers -----*/

.header_cw, .header_completed, .header_onhold, .header_dropped, .header_ptw {
/*padding-top:100px;*/
position:relative;
margin-top:-40px !important;
margin-bottom:-14px !important;
font-size:32px;
padding-left:120px;
font-weight:bold;
letter-spacing:20px;
color:#333;
text-shadow:1px 1px 0px rgba(255,255,255,.5), -1px 1px 0px rgba(255,255,255,.5);
text-shadow:0px 0px 1px #000;
z-index: -1;
}

/*----- More/Add/Edit links ----- */

.td1 div small, .td2 div small {color:transparent;}
td[class*=td] div small a:first-child {visibility:hidden;}

/*----- additional content -----*/

td[class*=td] div small a[title*="View"] {
display:block;
width:100%;
position:absolute !important;
left:0px;
pointer-events:none;
font-family:monospace;
text-align:right;
visibility:hidden;
color:#000;
}

td[class*=td] div small a[title*="View"]:after {
display:block;
background-repeat:no-repeat;
position:relative;
height:20px;
width:250px;
color:#777;
font-weight:bold;
font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
font-size:12px;
padding:10px;
text-shadow:0px 0px 1px rgba(0,0,0,.5);
text-align:left;
visibility:visible;
}
tr:hover td[class*=td] div small a[title*="View"]:after {
  color:#fff;
}

td[class*=td] div small a[title*="View"]:before {
/*content:"error";*/
white-space:pre;
position:relative;
top:-12px;
right:182px;
font-size:11px;
visibility:visible;
}
@media screen and (min-width:961px) {td[class*=td] div small a[title*="View"]:before {
margin-right:-24px;
right:22%;}
}


/*----- basic list settings -----*/

.td1, .td2, .table_header {
height:20px;
font-size:13px;
overflow:hidden;
}
.table_header {background-color:rgba(0,0,0,.4);color:#fff;}
.table_header:first-of-type {box-shadow:-10px 0px 0px rgba(0,0,0,.4);}
.table_header:last-of-type {box-shadow:10px 0px 0px rgba(0,0,0,.4);}
.table_header a {color:#fff !important;}
.table_header:first-of-type {border-width:0px !important;}
#list_surround table {margin-top:5px;margin-bottom:5px;}

table:hover .td1:first-of-type, table:hover .td2:first-of-type {box-shadow:-5px 0px 0px rgba(0,0,0,.1);}
table:hover .td1:last-of-type, table:hover .td2:last-of-type {box-shadow:5px 0px 0px rgba(0,0,0,.1);}

table:hover:nth-of-type(27n) td[class*=td] {background-color:rgba(150,150,150,.1);}
table:hover:nth-of-type(27n+1) td[class*=td] {background-color:rgba(150,150,200,.2);}
table:hover:nth-of-type(27n+2) td[class*=td] {background-color:rgba(150,150,250,.3);}
table:hover:nth-of-type(27n+3) td[class*=td] {background-color:rgba(150,200,150,.2);}
table:hover:nth-of-type(27n+4) td[class*=td] {background-color:rgba(150,200,200,.3);}
table:hover:nth-of-type(27n+5) td[class*=td] {background-color:rgba(150,200,250,.4);}
table:hover:nth-of-type(27n+6) td[class*=td] {background-color:rgba(150,250,150,.3);}
table:hover:nth-of-type(27n+7) td[class*=td] {background-color:rgba(150,250,200,.4);}
table:hover:nth-of-type(27n+8) td[class*=td] {background-color:rgba(150,250,250,.5);}
table:hover:nth-of-type(27n+9) td[class*=td] {background-color:rgba(200,150,150,.2);}
table:hover:nth-of-type(27n+10) td[class*=td] {background-color:rgba(200,150,200,.2);}
table:hover:nth-of-type(27n+11) td[class*=td] {background-color:rgba(200,150,250,.4);}
table:hover:nth-of-type(27n+12) td[class*=td] {background-color:rgba(200,200,150,.3);}
table:hover:nth-of-type(27n+13) td[class*=td] {background-color:rgba(200,200,200,.4);}
table:hover:nth-of-type(27n+14) td[class*=td] {background-color:rgba(200,200,250,.5);}
table:hover:nth-of-type(27n+15) td[class*=td] {background-color:rgba(200,250,150,.4);}
table:hover:nth-of-type(27n+16) td[class*=td] {background-color:rgba(200,250,200,.5);}
table:hover:nth-of-type(27n+17) td[class*=td] {background-color:rgba(200,250,250,.6);}
table:hover:nth-of-type(27n+18) td[class*=td] {background-color:rgba(250,150,150,.3);}
table:hover:nth-of-type(27n+19) td[class*=td] {background-color:rgba(250,150,200,.4);}
table:hover:nth-of-type(27n+20) td[class*=td] {background-color:rgba(250,150,250,.5);}
table:hover:nth-of-type(27n+21) td[class*=td] {background-color:rgba(250,200,150,.4);}
table:hover:nth-of-type(27n+22) td[class*=td] {background-color:rgba(250,200,200,.5);}
table:hover:nth-of-type(27n+23) td[class*=td] {background-color:rgba(250,200,250,.6);}
table:hover:nth-of-type(27n+24) td[class*=td] {background-color:rgba(250,250,150,.5);}
table:hover:nth-of-type(27n+25) td[class*=td] {background-color:rgba(250,250,200,.6);}
table:hover:nth-of-type(27n+26) td[class*=td] {background-color:rgba(250,250,250,.7);}


#list_surround {
position:absolute;
margin-top:550px;
left:0px;
z-index:3;
right:0px;
width:90%;
min-width:935px;
max-width:1237px;
margin-left:auto;
margin-right:auto;
top:0px;
background-color:rgba(255,255,255,.8);
/*background-image:url("http://i.imgur.com/3Iloc5A.jpg");
background-repeat:repeat;
background-attachment:fixed;
background-size:cover;
background-position:center;*/
box-shadow:inset 0px 0px 5px 0px #fff, 0px 0px 5px 0px #000;
}

#list_surround:after {content:"";
display:block;
width:1px;
height:100px;
position:absolute;
}

#list_surround > table:nth-child(5) {margin-top:0px !important;}

.category_totals {
	font-size:10px;
	text-align:right;
	padding-right:10px;
	color: rgba(0,0,0,0.5);
}

table:hover .category_totals:hover {
	color: black;
	transition: all 0.15s ease-in-out 0s;
}

/*----- shinobu dame -----*/

/*#list_surround:before {content:"so much useless data...";
position:relative;
width:150px;
margin-right:90px;
top:15px;
float:right;
}

#list_surround > table:nth-child(5):after {content:"";
width:300px;
height:300px;
background-repeat:no-repeat;
margin-right:160px;
margin-top:-309px;
background-image:url("http://student.agh.edu.pl/~suski/mal/shinobu.png");
background-size:300px;
background-position:bottom;
float:right;
}*/

/*----- column widths -----*/

/*.td1:nth-child(1), .td2:nth-child(1), .table_header:nth-child(1) {width:20px;font-size:8px;}

.td1:nth-child(2), .td2:nth-child(2), .table_header:nth-child(2) {
min-width:530px; letter-spacing:0px; font-size:11px;}

.td1:nth-child(3), .td2:nth-child(3), .table_header:nth-child(3) {
width:180px;text-align:left;}
.td1:nth-child(3), .td2:nth-child(3) {
font-size:14px;
font-family: Impact, Haettenschweiler, "Franklin Gothic Bold", Charcoal, "Helvetica Inserat", "Bitstream Vera Sans Bold", "Arial Black", sans-serif;
text-align:left;
padding-left:8px;
width:172px;}
.td1:nth-child(3) a, .td2:nth-child(3) a {color:#555;}
.table_header:nth-child(3):after {text-align:right;
content:'  Global     #Rank    #Popul';white-space:pre;font-weight:bold;letter-spacing:-1px;font-family:monospace;}

.td1:nth-child(4), .td2:nth-child(4), .table_header:nth-child(4) {width:40px;}

.td1:nth-child(5), .td2:nth-child(5), .table_header:nth-child(5) {width:40px;}

.td1:nth-child(6), .td2:nth-child(6), .table_header:nth-child(6) {width:35px;}

.td1:nth-child(n+7), .td2:nth-child(n+7), .table_header:nth-child(n+7) {width:45px;}

.td1:nth-child(6):last-child, .td2:nth-child(6):last-child, .table_header:nth-child(6):last-child {padding-right:90px;}
*/
@media screen and (min-width:961px) {
.td1:nth-child(1), .td2:nth-child(1), .table_header:nth-child(1) {width:5%;}
.td1:nth-child(2), .td2:nth-child(2), .table_header:nth-child(2) {padding-right:20px;}
.td1:nth-child(4), .td2:nth-child(4), .table_header:nth-child(4) {padding-left:15px;width:8%;} 
.td1:nth-child(5), .td2:nth-child(5), .table_header:nth-child(5) {width:8%;}
.td1:nth-child(6), .td2:nth-child(6), .table_header:nth-child(6) {width:8%;}
.td1:nth-child(7), .td2:nth-child(7), .table_header:nth-child(7) {width:8%;}
.td1:nth-child(8), .td2:nth-child(8), .table_header:nth-child(8) {width:8%;}

.td1:nth-child(6):last-child, .td2:nth-child(6):last-child, .table_header:nth-child(6):last-child {display:none;}
} 

/*----- links -----*/

a, a:visited {color:#000; text-decoration:none !important;}
a:hover {color:#777 !important;}
.animetitle {color:#111;font-size:11px;letter-spacing:.1px;word-spacing:.2px}
@media screen and (min-width:1050px) {.animetitle {font-size:12px;letter-spacing:.2px;word-spacing:.4px}}
#list_surround tr:hover td[class*=td] a:hover {color:#fff !important;}
#list_surround tr:hover td[class*=td] a.animetitle:hover {color:#fff !important;}
.td1 > small, .td2 > small {color:#555;font-variant:small-caps;}
td small a {color:#377;}

/*----- statuses -----*/

#list_surround table:first-of-type {
position:absolute;
top:-550px;
margin:0 auto;
left:478px;
right:0px;
width:420px;
height:100px;
z-index:3;
}

#list_surround table:first-of-type td, #list_surround table:first-of-type td a {
display:block;
color:transparent;
width:70px;
height:80px;
font-size:0px;
transition:.2s;
float:left;
}
#list_surround table:first-of-type td a {padding-top:20px;}
#list_surround table:first-of-type td a:before {
font-size:20px;
font-weight:bold;
color:#555;
border:3px solid #555;
border-radius:18px;
display:block;
height:30px;
width:30px;
line-height:28px;
}
#list_surround table:first-of-type td a:hover:before {color:#777;border-color:#777;}
#list_surround table:first-of-type td a:hover{box-shadow: 0px -5px 0px 0px #333 inset;}
#list_surround table:first-of-type td a:hover:after, .status_selected a:after {
font-size:12px;
color:#555;
display:block;
height:30px;
line-height:30px;
border-radius:18px;
margin-top:10px;
}

#list_surround table:first-of-type td:nth-of-type(1) a:before {content:'W';}
#list_surround table:first-of-type td:nth-of-type(1) a:after {content:'Watching';}
#list_surround table:first-of-type td:nth-of-type(2) a:before {content:'C';}
#list_surround table:first-of-type td:nth-of-type(2) a:after {content:'Completed';}
#list_surround table:first-of-type td:nth-of-type(3) a:before {content:'H';}
#list_surround table:first-of-type td:nth-of-type(3) a:after {content:'On Hold';}
#list_surround table:first-of-type td:nth-of-type(4) a:before {content:'D';}
#list_surround table:first-of-type td:nth-of-type(4) a:after {content:'Dropped';}
#list_surround table:first-of-type td:nth-of-type(5) a:before {content:'P';}
#list_surround table:first-of-type td:nth-of-type(5) a:after {content:'Planned';}
#list_surround table:first-of-type td:nth-of-type(6) a:before {content:'A';}
#list_surround table:first-of-type td:nth-of-type(6) a:after {content:'All Anime';}

.status_selected a {
background-color:#333 !important;
box-shadow: 0px -5px 0px 0px #eee inset !important;
}
.status_selected a:before {color:#fff !important;border-color:#fff !important;}
.status_selected a:after {color:#fff !important;}

/*----- grand totals -----*/

#grand_totals:before {content:'Totals: ';}

#grand_totals {
position:absolute;
top:0px;
left:0px;
height:20px;
line-height:20px;
font-size:12px;
padding:0 10px;
text-align:left;
color:rgba(0,0,0,0.5);
transition: all 0.15s ease-in-out 0s;
}

#grand_totals:hover {color:#000;}

/*----- credits -----*/

#copyright:before {content:'Style created by dzikibambus and modified by rl404.\a';white-space:pre-wrap;}
#copyright {
	padding:50px 0px 50px 0px;
	margin-top:-25px !important;
	color:#fff;
	text-shadow:0px 0px 0.5px #fff;
background-color:#333;
}
#copyrght a {color:#fff;}
#grand_totals + #copyright {margin-top:-20px !important;}
/* #inlineContent{display:block !important;background-color:#333;height:100px;position:absolute;bottom:0px;width:100%;z-index:-1;} */
#copyright:hover{
	background:url(https://rawgit.com/rl404/MyAnimeList/master/test/images/ubw2.png),
		url(https://rawgit.com/rl404/MyAnimeList/master/test/images/longkantai.png);
	background-size: 100%,2160px;
	background-position: 0 0, 0 0;
	animation: cr 60s linear infinite;
 	-webkit-animation: cr 60s linear infinite;
}

@-webkit-keyframes cr {
    0% {background-position:0 0, 0px 0;} 
    100% {background-position: 0 0,-2160px 0;}
}

@keyframes cr {
    0% {background-position:0 0, 0px 0;} 
    100% {background-position: 0 0, -2160px 0;}
}

/*----- MAL strip -----*/

#mal_control_strip {
background-image:none !important;
background-color:transparent !important;
height:100px;
position:absolute;
width:922px !important;
top:0px;
margin:0 auto !important;
left:0px !important;
right:22px !important;
}
#mal_control_strip td {border:0px;}
#mal_control_strip td div, #mal_control_strip td div a, #mal_control_strip td div span {
font-family: "Century Gothic", CenturyGothic, AppleGothic, Futura,"Futura Bk BT", "Trebuchet MS", Arial, sans-serif !important;
}

#mal_control_strip #mal_cs_listinfo div a {
position:absolute;
top:50px;
left:0px;
height:50px;
width:169px;
border-right:1px dashed rgba(0,0,0,.1);
text-align:center;
line-height:50px;
font-size:16px;
color:#555;
transition:.2s;
}
#mal_control_strip #mal_cs_listinfo div a:hover {box-shadow: 5px 0px 0px 0px #333 inset !important;}
#mal_control_strip #mal_cs_listinfo div strong a {top:0px;font-size:16px;}

#mal_control_strip #mal_cs_links div a {
position:absolute;
top:0px;
left:170px;
height:25px;
width:79px;
border-right:1px dashed rgba(0,0,0,.1);
text-align:center;
line-height:25px;
font-size:12px;
color:#555;
transition:.2s;
}
#mal_control_strip #mal_cs_links div:first-child a:first-child {top:0px;}
#mal_control_strip #mal_cs_links div:first-child a:nth-child(2) {top:25px;}
#mal_control_strip #mal_cs_links div:nth-child(2) a:first-child {top:50px;}
#mal_control_strip #mal_cs_links div:nth-child(2) a:nth-child(2) {top:75px;}
#mal_control_strip #mal_cs_links div a:hover {box-shadow: 5px 0px 0px 0px #333 inset !important;}

#mal_control_strip #mal_cs_otherlinks div:first-child {
position:absolute;
top:0px;
left:250px;
margin:0px;
height:12px;
padding:19px 0px;
width:250px;
text-align:center;
line-height:12px;
font-size:12px;
font-weight:100 !important;
color:#555;
}
#mal_control_strip #mal_cs_otherlinks div:first-child a {color:#555;font-weight:bold;transition:.2s;}

#mal_control_strip #mal_cs_otherlinks div:nth-child(2) a {
position:absolute;
top:50px;
left:250px;
margin:0px;
height:50px;
width:110px;
text-align:center;
line-height:50px;
font-size:12px;
color:#555;
transition:.2s;
z-index:2;

}
#mal_control_strip #mal_cs_otherlinks div:nth-child(2) a[href*="/sharedanime.php"] {line-height:35px;}
#mal_control_strip #mal_cs_otherlinks div:nth-child(2) span {
position:absolute;
top:75px;
left:250px;
margin:0px;
height:25px;
width:110px;
text-align:center;
line-height:20px;
font-size:12px;
color:#555;
z-index:1;
transition:.2s;
}

#mal_control_strip #mal_cs_otherlinks div:nth-child(2) {color:transparent !important;}
#mal_control_strip #mal_cs_otherlinks div:nth-child(2) a:first-child:hover {
box-shadow: 0px -5px 0px 0px #333 inset;}
#mal_control_strip #mal_cs_otherlinks div:nth-child(2) a:nth-of-type(2) {
left:360px;width:70px;line-height:50px;}
#mal_control_strip #mal_cs_otherlinks div:nth-child(2) a:nth-of-type(3) {
left:430px;width:70px;line-height:50px;}
#mal_control_strip #mal_cs_otherlinks div:nth-child(2) a:nth-of-type(n+2):hover {
box-shadow: 0px -5px 0px 0px #333 inset;}

#mal_control_strip #mal_cs_otherlinks:nth-child(2) div:first-child {left:160px;width:340px;}
#mal_control_strip #mal_cs_otherlinks:nth-child(2) div:nth-child(2) a {left:160px;width:100px;}
#mal_control_strip #mal_cs_otherlinks:nth-child(2) div:nth-child(2) a:nth-of-type(2) {left:260px;width:140px;}
#mal_control_strip #mal_cs_otherlinks:nth-child(2) div:nth-child(2) a:nth-of-type(3) {left:400px;width:100px;}

#mal_cs_powered {display:none;}
#mal_cs_pic {background-color:#333;}

/*----- main code ends here -----/*





/*----- expanding fields -----*/

@keyframes trli {
0% {height:100px}
100% {height:420px}
}

@-webkit-keyframes trli {
0% {height:100px}
100% {height:420px}
}

@keyframes trba {
0% {height:420px}
100% {height:17px}
}
@-webkit-keyframes trba {
0% {height:420px}
100% {height:17px}
}

#list_surround .hide + table:active tr, #list_surround .hide + table tr:hover, #list_surround table[class*=header] + table + table:active tr, #list_surround table[class*=header] + table + table tr:hover {
/*//background-color:#3f4649 !important;*/
background-color:#333;
/*//background-image:url(https://dl.dropboxusercontent.com/s/6ag670ovfmep0ip/binding_gray.png);*/
display:block;
position:relative;
left:0;
top:-5px;
width:100%;
height:420px;
margin-top:0px;
margin-bottom:-5px;
margin-left:0%;
margin-right:0%;
pointer-events:auto !important;
border-top:0px dashed #fff;
border-bottom:0px dashed #fff;
cursor:auto;
animation:trli .2s !important;
-webkit-animation:trli .2s !important;
z-index:1 !important;
}

#list_surround .hide + table, #list_surround table[class*=header] + table + table {cursor:pointer;}

#list_surround .hide + table tr, #list_surround table[class*=header] + table + table tr {
pointer-events:none;
z-index:-1 !important;
height:0px;animation:trba .2s !important;-webkit-animation:trba .2s !important;}

/*----- anime titles -----*/

.animetitle:hover {color:#fff !important;}

@keyframes one {
0% {
margin-top:35px;
padding-top:0px;
height:0px;
width:0px;
box-shadow:0px 0px 0px 0px #555;
font-size:0px;
}
50% {
margin-top:15px;
padding-top:20px;
height:40px;
width:60px;font-size:4px;}
85% {box-shadow:1px 1px 1px 0px rgba(0,0,0,.4);width:800px;}
90% {width:810px;font-size:18px;}
100% {box-shadow:1px 1px 1px 0px rgba(0,0,0,.4);width:800px;}
}

@-webkit-keyframes one {
0% {
margin-top:35px;
padding-top:0px;
height:0px;
width:0px;
box-shadow:0px 0px 0px 0px #555;
font-size:0px;
}
50% {
margin-top:15px;
padding-top:20px;
height:40px;
width:60px;font-size:4px;}
85% {box-shadow:1px 1px 1px 0px rgba(0,0,0,.4);width:800px;}
90% {width:810px;font-size:18px;}
100% {box-shadow:1px 1px 1px 0px rgba(0,0,0,.4);width:800px;}
}

#list_surround table tr:hover td[class*=td] {background-color:transparent;border:none;box-shadow:0px 0px 0px transparent;}

tr:hover .td1 .animetitle, tr:hover .td2 .animetitle {
height:40px;
width:800px;
animation:one .5s ease-in-out;
-webkit-animation:one .5s ease-in-out;
border-bottom:1px solid #eee;
position:absolute;
margin:0 auto;
right:0px;
left:0px;
color:#eee;
padding-top:20px;
line-height:20px;
text-align:center;
border-radius:0px;
font-weight:bold;
font-size:18px;
margin-top:15px;
}


/*----- airing/edit -----*/

@keyframes airing {
0% {color:transparent;}
50% {color:transparent;}
100% {color:#eee;}
}

@-webkit-keyframes airing {
0% {color:transparent;}
50% {color:transparent;}
100% {color:#eee;}
}

@keyframes edit {
0% {color:transparent;}
50% {color:transparent;}
100% {color:#eee;}
}

@-webkit-keyframes edit {
0% {color:transparent;}
50% {color:transparent;}
100% {color:#eee;}
}

tr:hover .td1 > small, tr:hover .td2 > small {display:block;position:absolute;width:150px;height:20px;left:780px;top:66px;font-weight:bold;color:#eee;animation:airing 2s ease-in-out;-webkit-animation:airing 2s ease-in-out;}

tr:hover td[class*=td] div small a:first-child {display:block;position:absolute;width:50px;height:25px;left:0px;right:500px;margin:0 auto;top:78px;font-weight:bold;color:#eee;animation:edit 2s ease-in-out;-webkit-animation:edit 2s ease-in-out;z-index:1;font-size:12px;text-align:center;line-height:25px;visibility:visible;}

tr:hover td[class*=td] div small a:first-child:hover {transition:.2s;box-shadow: 0px 3px 0px 0px #eee inset !important;}

/*----- score -----*/

@keyframes score {
0% {font-size:0px;margin-top:170px;}
70% {font-size:240px;}
80% {margin-top:87px;}
100% {margin-top:90px;}
}
@-webkit-keyframes score {
0% {font-size:0px;margin-top:170px;}
70% {font-size:240px;}
80% {margin-top:87px;}
100% {margin-top:90px;}
}
tr:hover .td1:nth-of-type(n+3) a, tr:hover .td2:nth-of-type(n+3) a {color:#eee;}
tr:hover .td1:nth-of-type(n+3) a:hover, tr:hover .td2:nth-of-type(n+3) a:hover {color:#fff;}
tr:hover .td1:nth-of-type(3), tr:hover .td2:nth-of-type(3) {
display:block;
height:200px;
width:300px;
animation:score .7s ease-in-out;
-webkit-animation:score .7s ease-in-out;
background-color:transparent;
position:absolute;
margin:0 auto;
left:0px;
right:600px;
color:#eee;
margin-top:90px;
font-size:220px;
padding:0px;
line-height:220px !important;
text-align:center;
font-family: "Century Gothic", CenturyGothic, AppleGothic, Futura,"Futura Bk BT", "Trebuchet MS", Arial, sans-serif !important;
font-weight:bold;
border:none;
overflow:visible;
}

/*----- number -----*/

@keyframes number {
0% {font-size:0px;height:0px;width:0px;margin-top:43px;padding:0px;}
70% {font-size:16px;}
80% {height:30px;width:30px;margin-top:21px;padding:12px;}
100% {height:30px;width:30px;margin-top:23px;padding:10px;}
}
@-webkit-keyframes number {
0% {font-size:0px;height:0px;width:0px;margin-top:43px;padding:0px;}
70% {font-size:16px;}
80% {height:30px;width:30px;margin-top:21px;padding:12px;}
100% {height:30px;width:30px;margin-top:23px;padding:10px;}
}

tr:hover .td1:nth-of-type(1), tr:hover .td2:nth-of-type(1) {
display:block;
height:30px;
width:30px;
animation:number .5s ease-in-out;
-webkit-animation:number 1s ease-in-out;
position:absolute;
left:0px; right:900px;
margin:0 auto;
color:#eee;
margin-top:23px;
font-size:16px;
padding:10px;
line-height:30px !important;
text-align:center;
font-family: "Century Gothic", CenturyGothic, AppleGothic, Futura,"Futura Bk BT", "Trebuchet MS", Arial, sans-serif !important;
font-weight:bold;
border:none;
border-radius:0px;
}

/*----- other columns -----*/

@keyframes rest {
0% {font-size:0px;}
100% {font-size:16px;}
}
@-webkit-keyframes rest {
0% {font-size:0px;}
100% {font-size:16px;}
}
tr:hover .td1:nth-of-type(n+4), tr:hover .td2:nth-of-type(n+4) {
font-weight:400 !important;
display:block;
height:26px;
width:300px;
margin:0 auto;
left:600px;
right:0px;
animation:rest .8s ease-in-out;
-webkit-animation:rest .8s ease-in-out;
background-color:transparent !important;
color:#eee;
position:absolute;
font-family:calibri, sans-serif;
/*font-variant:small-caps;*/
font-size:16px;
line-height:24px;
text-align:center;
font-weight:bold;
border:none;
text-align:left;
overflow:hidden;
}

tr:hover .td1:nth-of-type(4):before, tr:hover .td2:nth-of-type(4):before {content:'Type: ';font-variant:small-caps;font-weight:bold;}
tr:hover .td1:nth-of-type(4), tr:hover .td2:nth-of-type(4) {margin-top:75px;left:585px;}

tr:hover .td1:nth-of-type(5):before, tr:hover .td2:nth-of-type(5):before {content:'Progress: ';font-variant:small-caps;font-weight:bold;}
tr:hover .td1:nth-of-type(5), tr:hover .td2:nth-of-type(5) {margin-top:105px;}

tr:hover .td1:nth-of-type(6):before, tr:hover .td2:nth-of-type(6):before {content:'Review: ';font-variant:small-caps;font-weight:bold;}
tr:hover .td1:nth-of-type(6), tr:hover .td2:nth-of-type(6) {margin-top:135px;height:180px;}
tr:hover td[class*=td]:nth-child(6):last-child {width:300px;padding-right:0;}

/*
tr:hover .td1:nth-of-type(7):before, tr:hover .td2:nth-of-type(7):before {content:'Started: ';}
tr:hover .td1:nth-of-type(7), tr:hover .td2:nth-of-type(7) {margin-top:165px;}

tr:hover .td1:nth-of-type(8):before, tr:hover .td2:nth-of-type(8):before {content:'Finshed: ';}
tr:hover .td1:nth-of-type(8), tr:hover .td2:nth-of-type(8) {margin-top:195px;}
*/

/*----- global columns -----*/
/*
tr:hover td[class*=td] div small a[title*="View"]:before {
font-weight:400 !important;
display:block;
height:26px;
width:30px;
margin:0 auto;
left:490px;
right:0px;
margin-top:242px;
top:-20px !important;
animation:rest .8s ease-in-out;
-webkit-animation:rest .8s ease-in-out;
background-color:transparent !important;
color:#eee;
position:absolute;
font-family:calibri, sans-serif;
font-variant:small-caps;
font-size:16px;
line-height:30px;
text-align:center;
font-weight:bold;
border:none;
text-align:left;
overflow:visible;
white-space:normal;
text-indent:18px;
}

tr:hover td[class*=td] div small a[title*="View"]:after {
margin-left:auto !important;
margin-right:auto !important;
top:0px !important;
z-index:1;
}

tr:hover td[class*=td]:nth-of-type(6):after {content:'Global rating:\aRanking:\aPopularity:';
font-weight:400 !important;
display:block;
height:26px;
width:200px;
left:0px;
margin-top:60px;
animation:rest .8s ease-in-out !important;
-webkit-animation:rest .8s ease-in-out !important;
background-color:transparent !important;
color:#eee;
position:absolute !important;
font-family:calibri, sans-serif;
font-variant:small-caps;
font-size:16px;
line-height:30px;
text-align:center;
font-weight:bold;
border:none;
text-align:left;
overflow:visible !important;
white-space:pre;
}
*/
/*----- covers -----*/

@keyframes covers {
0% {height:0px;top:226px;}
20% {height:40px;top:206px;}
50% {height:50px;top:201px;}
100% {height:298px;top:77px;}
}
@-webkit-keyframes covers {
0% {height:0px;top:226px;}
20% {height:40px;top:206px;}
50% {height:50px;top:201px;}
100% {height:298px;top:77px;}
}

.animetitle:before {height:0px;top:226px;}

tr:hover .animetitle:before {content:'';
position:absolute;
margin-left:50%;
left:-105px;
top:77px;
width:206px;
height:291px;
background:#999;
z-index:10;
border:1px solid #ddd;
border-radius:0px;
pointer-events:none;
background-position:center center;
background-repeat:no-repeat;
animation:covers .5s linear !important;
-webkit-animation:covers .5s linear !important;
box-shadow:0px 0px 10px -4px #000 inset;
}

/*----- loading -----*/
/*
.header_cw:before,
.header_completed:before,
.header_onhold:before,
.header_dropped:before,
.header_ptw:before {
display: block;
background-color: #fcfefc;
height: 30% !important;
left: 0 !important;
position: fixed !important;
top: -55% !important;
width: 100% !Important;
z-index: 101;
color: #333;
content: "Welcome to rl404's list";
pointer-events: none;
padding: 5%;
border-style: solid;
border-width: 0px 0 5px 0;
animation:mymove 7s; 
-webkit-animation:mymove 7s; 
}

.header_cw span:before,
.header_completed span:before,
.header_onhold span:before,
.header_dropped span:before,
.header_ptw span:before{
display: block;
content: "Loading" !important;
background-color: #fcfefc;
width:100%;
height:15%;
color: #333;
border-style: solid;
border-width: 5px 0 0px 0;
font-size: 32px !important;
font-family: Century Gothic;
text-shadow: 1px 2px 3px white;

position: fixed;
padding-top: 20%;
padding-right: 15%; 
text-align: right;
right: 0 !important;
top: 100% !important;
pointer-events: none;
z-index: 110 !Important;
animation:mymove2 7s; 
-webkit-animation:mymove2 7s; 
}

.header_cw span:after,
.header_completed span:after,
.header_onhold span:after,
.header_dropped span:after,
.header_ptw span:after
{
display: block;
background: transparent url("http://sig.grumpybumpers.com/host/rl405.gif") no-repeat;
background-size: 15%;
content: "";
color: black !important;
font-size: 32px !important;

background-position: 100% 95%;
position: fixed;
height: 50%;
width: 100%;
right: 0 !important;
top: 100% !important;
z-index: 110;
pointer-events: none;
animation:mymove2 7s; 
-webkit-animation:mymove2 7s; 
}


@keyframes mymove 
{
0% {top:0%;}
70% {top: 0%;}
100% {top:-55%; display:none;}
}

@-webkit-keyframes mymove 
{
0% {top:0%;}
70% {top: 0%;}
100% {top:-55%; display:none;}
}

@keyframes mymove2 
{
0% {top:50%;}
70% {top: 50%;}
100% {top:100%; display:none;}
}

@-webkit-keyframes mymove2 
{
0% {top:50%;}
70% {top: 50%;}
100% {top:100%; display:none;}
}
*/