/* Absolute Duo */
.animetitle[href*="anime/25397/"]:after {content:"Ja~";
position:absolute;
margin-left:10px;
margin-top:-0px;
color:#c68;
font-weight:bold;
font-family:arial, sans-serif;
text-shadow:0px 0px 1px #777;
font-size:13px;
pointer-events:none;
transform:rotate(8deg);
-ms-transform:rotate(8deg);
-webkit-transform:rotate(8deg);}

/* Bakemonogatari */
.animetitle[href*="anime/5081/"]:after {content:".pptx";
position:absolute;
margin-left:10px;
margin-top:-2px;
color:orange;
font-weight:bold;
font-family:arial, sans-serif;
text-shadow:0px 0px 1px #777;
font-size:13px;
pointer-events:none;
/* transform:rotate(8deg);
-ms-transform:rotate(8deg);
-webkit-transform:rotate(8deg);*/} 

/* Beelzebub */
.animetitle[href*="anime/9513/"]:after {content:"ZEBUL BLAST";
position:absolute;
margin-left:10px;
margin-top:-0px;
color:red;
font-weight:bold;
font-family:arial, sans-serif;
text-shadow:0px 0px 1px #777;
font-size:13px;
pointer-events:none;
padding:7px;
transform:rotate(12deg);
-ms-transform:rotate(12deg);
-webkit-transform:rotate(12deg);
/*   background-color:rgba(255,255,255,.8); */
width:93px;height:14px;border-radius:5px;
border:1px solid #e00;box-shadow:0px 0px 1px #000;}

/* Black rock shooter */
.animetitle[href*="anime/12079/"]:after {content:"";
background-image:url("https://rawgit.com/rl404/MyAnimeList/master/test/images/brs.png");
background-size: 100px;
z-index:-5;
position:absolute;
margin-left:10px;
margin-top:-2px;
width:100px;height:20px;
pointer-events:none;}

/* Boku dake */
.animetitle[href*="anime/31043/"]:after {content:"Baka na no?";
position:absolute;
margin-left:10px;
margin-top:-0px;
color:brown;
font-weight:bold;
font-family:arial, sans-serif;
text-shadow:0px 0px 1px #777;
font-size:13px;
pointer-events:none;
transform:rotate(8deg);
-ms-transform:rotate(8deg);
-webkit-transform:rotate(8deg);}

/* 5cm per second */
.animetitle[href*="anime/1689/"]:after {content:"🌸";
position:absolute;
margin-left:10px;
margin-top:-2px;
color:brown;
font-weight:bold;
font-family:arial, sans-serif;
text-shadow:0px 0px 1px #777;
font-size:13px;
pointer-events:none;
transform:rotate(8deg);
-ms-transform:rotate(8deg);
-webkit-transform:rotate(8deg);}

/*carnival phantasm */
.animetitle[href*="anime/10012/"]:after {content:"";
background-image:url("https://rawgit.com/rl404/MyAnimeList/master/test/images/saberlion.png");
background-size: 50px;
z-index:-5;
position:absolute;
margin-left:10px;
margin-top:-10px;
width:50px;height:40px;
pointer-events:none;}

/* Neptune */
.animetitle[href*="anime/16157/"]:after {content:"how many neps could a nepnep nep if a nepnep could nep neps?";
position:absolute;
margin-left:10px;
margin-top:-2px;
color:#0099ff;
  width:220px;
 text-align:center;
font-weight:bold;
font-family:arial, sans-serif;
text-shadow:0px 0px 1px #777;
font-size:12px;
pointer-events:none;
transform:rotate(-8deg);
-ms-transform:rotate(-8deg);
-webkit-transform:rotate(-8deg);}

/*chuunibyou */
#xmenu14741:after {content:"";
left:100px;top:-20px;width:50px;height:50px;
margin-top:-25px;margin-left:-100px;
background-image:url("https://rawgit.com/rl404/MyAnimeList/master/test/images/c.png");
background-size: 25px;
z-index:-5;opacity: 1;}
tr:hover #xmenu14741 {display:none;}

/*clannad */
#xmenu2167:after {content:"";
left:500px;top:-10px;width:500px;height:200px;
margin-top:-18px;margin-left:-100px;
background-image:url("https://rawgit.com/rl404/MyAnimeList/master/test/images/dango.png");
background-size: 175px;
z-index:-5;opacity: 1;}
tr:hover #xmenu2167 {display:none;}

/* d-frag */
.animetitle[href*="anime/20031/"]:after {content:"Head Bagger";
position:absolute;
margin-left:10px;
margin-top:-2px;
color:purple;
font-weight:bold;
font-family:arial, sans-serif;
text-shadow:0px 0px 1px #777;
font-size:13px;
pointer-events:none;
transform:rotate(8deg);
-ms-transform:rotate(8deg);
-webkit-transform:rotate(8deg);}

/* fate go */
.animetitle[href*="anime/34321/"]:after {content:"";
background-image:url("https://rawgit.com/rl404/MyAnimeList/master/test/images/shielder.png");
background-size: 50px;
z-index:-5;
position:absolute;
margin-left:10px;
margin-top:-20px;
width:50px;height:50px;
pointer-events:none;}

/* fate kaleid */
.animetitle[href*="anime/14829/"]:after {content:"";
background-image:url("https://rawgit.com/rl404/MyAnimeList/master/test/images/ilya.png");
background-size: 50px;
z-index:-5;
position:absolute;
margin-left:10px;
margin-top:-20px;
width:50px;height:50px;
pointer-events:none;}

/* fate night */
.animetitle[href*="anime/356/"]:after {content:"";
background-image:url("https://rawgit.com/rl404/MyAnimeList/master/test/images/saber.png");
background-size: 50px;
z-index:-5;
position:absolute;
margin-left:10px;
margin-top:-15px;
width:50px;height:42px;
pointer-events:none;}

/* fate ubw */
.animetitle[href*="anime/22297/"]:after {content:"";
background-image:url("https://rawgit.com/rl404/MyAnimeList/master/test/images/archer.png");
background-size: 50px;
z-index:-5;
position:absolute;
margin-left:10px;
margin-top:-17px;
width:50px;height:41px;
pointer-events:none;}

/* fate zero */
.animetitle[href*="anime/10087/"]:after {content:"";
background-image:url("https://rawgit.com/rl404/MyAnimeList/master/test/images/gilg.png");
background-size: 50px;
z-index:-5;
position:absolute;
margin-left:10px;
margin-top:-20px;
width:50px;height:45px;
pointer-events:none;}

/* Gakkougurashi */
#xmenu24765:after {content:"";
left:100px;top:-10px;width:25px;height:50px;
margin-top:-40px;margin-left:-100px;
background-image:url("https://rawgit.com/rl404/MyAnimeList/master/test/images/gg.png");
background-size: 25px;
z-index:-5;opacity: 1;}
tr:hover #xmenu24765 {display:none;}

/* Girl und panzer */
.animetitle[href*="anime/14131/"]:after {content:"Panzer vor!";
position:absolute;
margin-left:10px;
margin-top:-2px;
color:green;
font-weight:bold;
font-family:arial, sans-serif;
text-shadow:0px 0px 1px #777;
font-size:13px;
pointer-events:none;
transform:rotate(8deg);
-ms-transform:rotate(8deg);
-webkit-transform:rotate(8deg);}

/* Gochuumon */
#xmenu21273:after {content:"";
left:100px;top:-20px;width:50px;height:50px;
margin-top:-27px;margin-left:-100px;
background-image:url("https://rawgit.com/rl404/MyAnimeList/master/test/images/chino.png");
background-size: 25px;
z-index:-5;opacity: 1;}
tr:hover #xmenu21273 {display:none;}

/* Gokukoku */
.animetitle[href*="anime/21431/"]:after {content:"Neko-san ♪♪♪";
position:absolute;
margin-left:10px;
margin-top:-2px;
color: blue;
font-weight:bold;
font-family:arial, sans-serif;
text-shadow:0px 0px 1px #777;
font-size:13px;
pointer-events:none;
transform:rotate(8deg);
-ms-transform:rotate(8deg);
-webkit-transform:rotate(8deg);}

/* kore wa zombie */
.animetitle[href*="anime/8841/"]:after {content:"";
background-image:url("https://rawgit.com/rl404/MyAnimeList/master/test/images/z.png");
background-size: 50px;
z-index:-5;
position:absolute;
margin-left:10px;
margin-top:-10px;
width:50px;height:29px;
pointer-events:none;}

/* kyoukai no kanata */
#xmenu18153:after {content:"";
left:100px;top:-20px;width:50px;height:50px;
margin-top:-30px;margin-left:-100px;
background-image:url("https://rawgit.com/rl404/MyAnimeList/master/test/images/knk.png");
background-size: 25px;
z-index:-5;opacity: 1;}
tr:hover #xmenu18153 {display:none;}

/* yuru yuri */
#xmenu10495:after {content:"";
left:100px;top:-25px;width:50px;height:50px;
margin-top:-27px;margin-left:-100px;
background-image:url("https://rawgit.com/rl404/MyAnimeList/master/test/images/yuru.png");
background-size: 25px;
z-index:-5;opacity: 1;}
tr:hover #xmenu10495 {display:none;}


/* Neon Genesis Evangelion */
#xmenu30:after {content:"Rei x Rei x Rei OT3";
left:270px;top:-45px;
margin-left:-100px;
color:#c68;
transform:rotate(-4deg);
-ms-transform:rotate(-4deg);
-webkit-transform:rotate(-4deg);}

/* Mushishi
#xmenu457:after {content:"";
left:350px;top:-15px;width:120px;height:120px;
margin-top:-18px;margin-left:-100px;
background-image:url("http://imageshack.us/a/img24/7553/5qdz.png");}
tr:hover #xmenu457 {display:none;}
.animetitle[href*="anime/457/"] {line-height:100px;}
#xmenu457:before {top:30px;} */

/* Suzumiya Haruhi no Yuuutsu
#xmenu849:after {content:"";
left:200px;top:10px;width:100px;height:160px;
margin-top:-70px;
background-image:url("http://imageshack.us/a/img138/6167/zqsa.png");}
.animetitle[href*="anime/849/"] {line-height:100px;}
#xmenu849:before {top:30px;} */

/* Ookami to Koushinryou
#xmenu2966:after {content:"";
left:300px;top:20px;width:130px;height:120px;
margin-left:100px;
margin-top:-55px;
background-image:url("http://imageshack.us/a/img43/2613/jqsc.png");
background-position:20px -2px;}
.animetitle[href*="anime/2966/"] {line-height:100px;}
#xmenu2966:before {top:30px;} */

/* Strike Witches */
#xmenu3667:after {content:"Love is alive and well";
left:200px;top:-35px;margin-left:-100px;
transform:rotate(4deg);
-ms-transform:rotate(4deg);
-webkit-transform:rotate(4deg);}

/* Bakemonogatari
#xmenu5081:after {content:"";
left:300px;top:27px;width:200px;height:80px;
margin-top:-55px;
background-image:url("http://imageshack.us/a/img69/7629/5uuj.png");
background-size:200px;
background-position:0px 0px;}
.animetitle[href*="anime/5081/"] {line-height:100px;}
#xmenu5081:before {top:30px;} */

/* K-On! */
#xmenu5680:after {content:"                         \2605\2605\2605\2605\2605\a\25c4\2022\2022  It's like a five star fast-food restaurant";
left:220px;top:-50px;
margin-left:-160px;
transform:rotate(2deg);
-ms-transform:rotate(2deg);
-webkit-transform:rotate(2deg);
width:360px;white-space:pre;}

/* Suzumiya Haruhi no Shoushitsu
#xmenu7311:after {content:"";
left:350px;top:15px;width:55px;height:120px;
margin-left:100px;
margin-top:-55px;
background-image:url("http://imageshack.us/a/img41/8830/y03i.png");}
.animetitle[href*="anime/7311/"] {line-height:100px;}
#xmenu7311:before {top:30px;} */

/* Koe de Oshigoto! The Animation
#xmenu8876:after {content:"";
left:-150px;top:-28px;margin-left:350px;width:264px;height:80px;
background-image:url("http://imageshack.us/a/img21/3137/xjcy.png");
background-repeat:repeat;
background-size:auto 100px;}
tr:hover #xmenu8876:after {width:51px;z-index:11;margin-top:150px;margin-left:-320px;}
.animetitle[href*="anime/8876/"] {line-height:100px;}
#xmenu8876:before {top:30px;} */

/* Mahou Shoujo Madoka Magica */
#xmenu9756:after {content:"";
left:-200px;top:-10px;
margin-top:-50px;
margin-left:600px;
color:pink;
/background-image:url("http://imageshack.us/a/img17/7736/9350.png");
background-size:120px;
height:160px;
white-space:pre;}
/.animetitle[href*="anime/9756/"] {line-height:100px;}
.animetitle[href*="anime/9756/"]:after {content:"Mami x Loneliness OTP";
position:absolute;
margin-left:-30px;
margin-top:-10px;
color:#c68;
font-weight:bold;
font-family:arial, sans-serif;
text-shadow:0px 0px 1px #777;
font-size:13px;
pointer-events:none;
transform:rotate(8deg);
-ms-transform:rotate(8deg);
-webkit-transform:rotate(8deg);}
/#xmenu9756:before {top:30px;}

/*  */
#xmenu9834:after {content:"trolling level: Enfinity";
left:180px;top:-40px;
margin-left:-100px;
transform:rotate(-2deg);
-ms-transform:rotate(-2deg);
-webkit-transform:rotate(-2deg);}

/*  */
#xmenu11597:after {content:"Fanservice.pptx";
left:200px;top:-30px;
margin-left:-80px;
transform:rotate(4deg);
-ms-transform:rotate(4deg);
-webkit-transform:rotate(4deg);}
a.animetitle[href*="anime/11597/"] span {text-decoration:line-through}

/*  */
#xmenu14293:after {content:"Lens Flares: The Movie";
left:100px;top:-26px;
margin-left:50px;margin-top:-12px;
transform:rotate(1deg);
-ms-transform:rotate(1deg);
-webkit-transform:rotate(1deg);}
a.animetitle[href*="anime/14293/"] span {text-decoration:line-through}

/*  */
#xmenu15793:after {content:"SYMPHOGEAH!";
left:0px;top:-142px;
margin-left:250px;
margin-top:100px;
padding:7px;
transform:rotate(12deg);
-ms-transform:rotate(12deg);
-webkit-transform:rotate(12deg);
font-size:22px;color:#e00;
width:165px;height:25px;border-radius:5px;
border:1px solid #e00;box-shadow:0px 0px 1px #000;}
tr:hover #xmenu15793:after {background-color:rgba(255,255,255,.8);z-index:11;}

/*  */
a.animetitle[href*="anime/16353/"] span {text-decoration:line-through}
#xmenu16353:after {content:"Rabu Rabo";
left:200px;top:-40px;
margin-left:-100px;
transform:rotate(-1deg);
-ms-transform:rotate(-1deg);
-webkit-transform:rotate(-1deg);}

/*  */
#xmenu17265:after {content:"/glassesadjust";
font-family:monospace;
left:200px;top:-43px;
margin-top:8px;
margin-left:-100px;}

/*  */
#xmenu17549:after {content:"nyanpassu!";
left:210px;top:-39px;
margin-left:-80px;
margin-top:12px;
transform:rotate(6deg);
-ms-transform:rotate(6deg);
-webkit-transform:rotate(6deg);}