/* Absolute Duo */
.animetitle[href*="anime/25397/"]:after {content:"Ja~";
position:absolute;
margin-left:10px;
margin-top:-0px;
color:#c68;
font-weight:bold;
font-family:arial, sans-serif;
text-shadow:0px 0px 1px #777;
font-size:13px;
pointer-events:none;
transform:rotate(8deg);
-ms-transform:rotate(8deg);
-webkit-transform:rotate(8deg);}

/* Bakemonogatari */
.animetitle[href*="anime/5081/"]:after {content:"";
background-image:url("https://rawgit.com/rl404/MyAnimeList/master/test/images/senjo.png");
background-size: 45px;
z-index:-5;
position:absolute;
margin-left:10px;
margin-top:-15px;
width:45px;height:42px;
pointer-events:none;}

/* Beelzebub */
.animetitle[href*="anime/9513/"]:after {content:"ZEBUL BLAST";
position:absolute;
margin-left:10px;
margin-top:-0px;
color:red;
font-weight:bold;
font-family:arial, sans-serif;
text-shadow:0px 0px 1px #777;
font-size:13px;
pointer-events:none;
padding:7px;
transform:rotate(12deg);
-ms-transform:rotate(12deg);
-webkit-transform:rotate(12deg);
/*   background-color:rgba(255,255,255,.8); */
width:93px;height:14px;border-radius:5px;
border:1px solid #e00;box-shadow:0px 0px 1px #000;}

/* Black rock shooter */
.animetitle[href*="anime/12079/"]:after {content:"";
background-image:url("https://rawgit.com/rl404/MyAnimeList/master/test/images/brs.png");
background-size: 100px;
z-index:-5;
position:absolute;
margin-left:10px;
margin-top:-2px;
width:100px;height:20px;
pointer-events:none;}

/* Boku dake */
.animetitle[href*="anime/31043/"]:after {content:"Baka na no?";
position:absolute;
margin-left:10px;
margin-top:-0px;
color:brown;
font-weight:bold;
font-family:arial, sans-serif;
text-shadow:0px 0px 1px #777;
font-size:13px;
pointer-events:none;
transform:rotate(8deg);
-ms-transform:rotate(8deg);
-webkit-transform:rotate(8deg);}

/* 5cm per second */
.animetitle[href*="anime/1689/"]:after {content:"";
position:absolute;
margin-left:10px;
margin-top:-2px;
color:brown;
font-weight:bold;
font-family:arial, sans-serif;
text-shadow:0px 0px 1px #777;
font-size:13px;
pointer-events:none;
transform:rotate(8deg);
-ms-transform:rotate(8deg);
-webkit-transform:rotate(8deg);}

/*carnival phantasm */
.animetitle[href*="anime/10012/"]:after {content:"";
background-image:url("https://rawgit.com/rl404/MyAnimeList/master/test/images/saberlion.png");
background-size: 50px;
z-index:-5;
position:absolute;
margin-left:10px;
margin-top:-10px;
width:50px;height:40px;
pointer-events:none;}

/* Neptune */
.animetitle[href*="anime/16157/"]:after {content:"";
background-image:url("https://rawgit.com/rl404/MyAnimeList/master/test/images/nep.png");
background-size: 50px;
position:absolute;
margin-left:10px;
margin-top:-11px;
z-index: -5;
width:50px;height:38px;
pointer-events:none;}

/*chuunibyou */
#xmenu14741:after {content:"";
left:100px;top:-20px;width:50px;height:50px;
margin-top:-25px;margin-left:-100px;
background-image:url("https://rawgit.com/rl404/MyAnimeList/master/test/images/c.png");
background-size: 25px;
z-index:-5;opacity: 1;}
tr:hover #xmenu14741 {display:none;}

/*clannad */
#xmenu2167:after {content:"";
left:500px;top:-10px;width:500px;height:200px;
margin-top:-18px;margin-left:-100px;
background-image:url("https://rawgit.com/rl404/MyAnimeList/master/test/images/dango.png");
background-size: 175px;
z-index:-5;opacity: 1;}
tr:hover #xmenu2167 {display:none;}

/* d-frag */
.animetitle[href*="anime/20031/"]:after {content:"Head Bagger";
position:absolute;
margin-left:10px;
margin-top:-2px;
color:purple;
font-weight:bold;
font-family:arial, sans-serif;
text-shadow:0px 0px 1px #777;
font-size:13px;
pointer-events:none;
transform:rotate(8deg);
-ms-transform:rotate(8deg);
-webkit-transform:rotate(8deg);}

/* denpa onna */
.animetitle[href*="anime/9379/"]:after {content:"";
background-image:url("https://rawgit.com/rl404/MyAnimeList/master/test/images/touwa.png");
background-size: 50px;
position:absolute;
margin-left:-150px;
margin-top:-20px;
z-index: -5;
width:50px;height:50px;
pointer-events:none;}

/* etotama */
#xmenu28221:after {content:"";
left:100px;top:-20px;width:50px;height:50px;
margin-top:-35px;margin-left:-100px;
background-image:url("https://rawgit.com/rl404/MyAnimeList/master/test/images/etotama.png");
background-size: 35px;
z-index:-5;opacity: 1;}
tr:hover #xmenu28221 {display:none;}

/* fate go */
.animetitle[href*="anime/34321/"]:after {content:"";
background-image:url("https://rawgit.com/rl404/MyAnimeList/master/test/images/shielder.png");
background-size: 50px;
z-index:-5;
position:absolute;
margin-left:10px;
margin-top:-20px;
width:50px;height:50px;
pointer-events:none;}

/* fate kaleid */
.animetitle[href*="anime/14829/"]:after {content:"";
background-image:url("https://rawgit.com/rl404/MyAnimeList/master/test/images/ilya.png");
background-size: 50px;
z-index:-5;
position:absolute;
margin-left:10px;
margin-top:-20px;
width:50px;height:50px;
pointer-events:none;}

/* fate night */
.animetitle[href*="anime/356/"]:after {content:"";
background-image:url("https://rawgit.com/rl404/MyAnimeList/master/test/images/saber.png");
background-size: 50px;
z-index:-5;
position:absolute;
margin-left:10px;
margin-top:-15px;
width:50px;height:42px;
pointer-events:none;}

/* fate ubw */
.animetitle[href*="anime/22297/"]:after {content:"";
background-image:url("https://rawgit.com/rl404/MyAnimeList/master/test/images/archer.png");
background-size: 50px;
z-index:-5;
position:absolute;
margin-left:10px;
margin-top:-17px;
width:50px;height:41px;
pointer-events:none;}

/* fate zero */
.animetitle[href*="anime/10087/"]:after {content:"";
background-image:url("https://rawgit.com/rl404/MyAnimeList/master/test/images/gilg.png");
background-size: 50px;
z-index:-5;
position:absolute;
margin-left:10px;
margin-top:-20px;
width:50px;height:45px;
pointer-events:none;}

/* Gakkougurashi */
#xmenu24765:after {content:"";
left:100px;top:-10px;width:25px;height:50px;
margin-top:-40px;margin-left:-100px;
background-image:url("https://rawgit.com/rl404/MyAnimeList/master/test/images/gg.png");
background-size: 25px;
z-index:-5;opacity: 1;}
tr:hover #xmenu24765 {display:none;}

/* Girl und panzer */
.animetitle[href*="anime/14131/"]:after {content:"Panzer vor!";
position:absolute;
margin-left:10px;
margin-top:-2px;
color:green;
font-weight:bold;
font-family:arial, sans-serif;
text-shadow:0px 0px 1px #777;
font-size:13px;
pointer-events:none;
transform:rotate(8deg);
-ms-transform:rotate(8deg);
-webkit-transform:rotate(8deg);}

/* Baka to test */
.animetitle[href*="anime/6347/"]:after {content:"";
background-image:url("https://rawgit.com/rl404/MyAnimeList/master/test/images/baka1.png");
background-size: 40px;
z-index:-5;
position:absolute;
margin-left:10px;
margin-top:-17px;
width:40px;height:50px;
pointer-events:none;}

.animetitle[href*="anime/8516/"]:after {content:"";
background-image:url("https://rawgit.com/rl404/MyAnimeList/master/test/images/baka2.png");
background-size: 40px;
z-index:-5;
position:absolute;
margin-left:10px;
margin-top:-20px;
width:40px;height:50px;
pointer-events:none;}

.animetitle[href*="anime/24727/"]:after {content:"";
background-image:url("https://rawgit.com/rl404/MyAnimeList/master/test/images/baka5.png");
background-size: 33px;
z-index:-5;
position:absolute;
margin-left:10px;
margin-top:-15px;
width:33px;height:49px;
pointer-events:none;}

.animetitle[href*="anime/7870/"]:after {content:"";
background-image:url("https://rawgit.com/rl404/MyAnimeList/master/test/images/baka3.png");
background-size: 45px;
z-index:-5;
position:absolute;
margin-left:10px;
margin-top:-15px;
width:45px;height:50px;
pointer-events:none;}

.animetitle[href*="anime/9471/"]:after {content:"";
background-image:url("https://rawgit.com/rl404/MyAnimeList/master/test/images/baka6.png");
background-size: 50px;
z-index:-5;
position:absolute;
margin-left:10px;
margin-top:-8px;
width:50px;height:30px;
pointer-events:none;}

.animetitle[href*="anime/7805/"]:after {content:"";
background-image:url("https://rawgit.com/rl404/MyAnimeList/master/test/images/baka4.png");
background-size: 30px;
z-index:-5;
position:absolute;
margin-left:10px;
margin-top:-15px;
width:30px;height:48px;
pointer-events:none;}

/* Ansatsu */
.animetitle[href*="anime/24833/"]:after {content:"";
background-image:url("https://rawgit.com/rl404/MyAnimeList/master/test/images/koro.png");
background-size: 30px;
z-index:-5;
position:absolute;
margin-left:10px;
margin-top:-8px;
width:30px;height:30px;
pointer-events:none;}

/* anohana */
.animetitle[href*="anime/9989/"]:after {content:"";
background-image:url("https://rawgit.com/rl404/MyAnimeList/master/test/images/menma.png");
background-size: 45px;
z-index:-5;
position:absolute;
margin-left:5px;
margin-top:-17px;
width:50px;height:41px;
pointer-events:none;}

/* Arakawa under bridge */
.animetitle[href*="anime/7647/"]:after {content:"";
background-image:url("https://rawgit.com/rl404/MyAnimeList/master/test/images/bridge.png");
background-size: 50px;
z-index:-5;
position:absolute;
margin-left:10px;
margin-top:-20px;
width:50px;height:45px;
pointer-events:none;}

.animetitle[href*="anime/9074/"]:after {content:"";
background-image:url("https://rawgit.com/rl404/MyAnimeList/master/test/images/bridge.png");
background-size: 50px;
z-index:-5;
position:absolute;
margin-left:10px;
margin-top:-20px;
width:100px;height:45px;
pointer-events:none;}

/* ars nova */
.animetitle[href*="anime/18893/"]:after {content:"";
background-image:url("https://rawgit.com/rl404/MyAnimeList/master/test/images/arsnova3.png");
background-size: 60px;
z-index:-5;
position:absolute;
margin-left:10px;
margin-top:-15px;
width:60px;height:38px;
pointer-events:none;}

.animetitle[href*="anime/24921/"]:after {content:"";
background-image:url("https://rawgit.com/rl404/MyAnimeList/master/test/images/arsnova.png");
background-size: 70px;
z-index:-5;
position:absolute;
margin-left:10px;
margin-top:-15px;
width:70px;height:40px;
pointer-events:none;}

.animetitle[href*="anime/24919/"]:after {content:"";
background-image:url("https://rawgit.com/rl404/MyAnimeList/master/test/images/arsnova2.png");
background-size: 60px;
z-index:-5;
position:absolute;
margin-left:10px;
margin-top:-15px;
width:60px;height:40px;
pointer-events:none;}

/* accel world */
.animetitle[href*="anime/11759/"]:after {content:"";
background-image:url("https://rawgit.com/rl404/MyAnimeList/master/test/images/accel.png");
background-size: 50px;
z-index:-5;
position:absolute;
margin-left:10px;
margin-top:-20px;
width:50px;height:50px;
pointer-events:none;}

/* monster musume */
.animetitle[href*="anime/30307/"]:after {content:"";
background-image:url("https://rawgit.com/rl404/MyAnimeList/master/test/images/miia.png");
background-size: 80px;
z-index:-5;
position:absolute;
margin-left:10px;
margin-top:-20px;
width:70px;height:45px;
pointer-events:none;}

/* kill la kill */
/* kill la kill */
.animetitle[href*="anime/18679/"]:after {content:"";
background-image:url("https://rawgit.com/rl404/MyAnimeList/master/test/images/kill.png"),
					url("https://rawgit.com/rl404/MyAnimeList/master/test/images/kill2.png");
background-size: 40px,37px;
background-repeat: no-repeat;
background-position: left,right;
position:absolute;
margin-left:10px;
margin-top:-18px;
z-index: -5;
width:85px;height:50px;
pointer-events:none;}

/* kobayashi-san */
.animetitle[href*="anime/33206/"]:after {content:"";
background-image:url("https://rawgit.com/rl404/MyAnimeList/master/test/images/tohru.png");
background-size: 50px;
z-index:-5;
position:absolute;
margin-left:10px;
margin-top:-20px;
width:50px;height:45px;
pointer-events:none;}

/* Himegoto */
tr:hover .animetitle[href*="/22835/"]:hover::before{background-image: url('https://rawgit.com/rl404/MyAnimeList/master/test/images/trap.jpeg')}

/* Mikakunin */
tr:hover .animetitle[href*="/20541/"]:hover::before{
	background-image: url('https://rawgit.com/rl404/MyAnimeList/master/test/images/mikakunin.gif');
	background-size: 206px;
}

/* Gochuumon */
#xmenu21273:after {content:"";
left:100px;top:-20px;width:50px;height:50px;
margin-top:-27px;margin-left:-100px;
background-image:url("https://rawgit.com/rl404/MyAnimeList/master/test/images/chino.png");
background-size: 25px;
z-index:-5;opacity: 1;}
tr:hover #xmenu21273 {display:none;}

/* angel beats */
#xmenu6547:after {content:"";
left:100px;top:-20px;width:200px;height:50px;
margin-top:-12px;margin-left:-90px;
background-image:url("https://rawgit.com/rl404/MyAnimeList/master/test/images/ab.png");
background-size: 180px;
z-index:-5;opacity: 1;}
tr:hover #xmenu6547 {display:none;}

/* Hanamonogatari */
.animetitle[href*="anime/21855/"]:after {content:"";
background-image:url("https://rawgit.com/rl404/MyAnimeList/master/test/images/kanbaru.png");
background-size: 45px;
z-index:-5;
position:absolute;
margin-left:10px;
margin-top:-14px;
width:45px;height:42px;
pointer-events:none;}

/* Fairy tail */
.animetitle[href*="anime/6702/"]:after {content:"";
background-image:url("https://rawgit.com/rl404/MyAnimeList/master/test/images/natsu.png");
background-size: 45px;
z-index:-5;
position:absolute;
margin-left:10px;
margin-top:-14px;
width:45px;height:42px;
pointer-events:none;}

/* plastic memories */
.animetitle[href*="anime/27775/"]:after {content:"";
background-image:url("https://rawgit.com/rl404/MyAnimeList/master/test/images/isla.png");
background-size: 45px;
z-index:-5;
position:absolute;
margin-left:10px;
margin-top:-14px;
width:45px;height:46px;
pointer-events:none;}

/* musaigen */
.animetitle[href*="anime/31442/"]:after {content:"";
background-image:url("https://rawgit.com/rl404/MyAnimeList/master/test/images/musaigen.png");
background-size: 45px;
z-index:-5;
position:absolute;
margin-left:10px;
margin-top:-20px;
width:45px;height:48px;
pointer-events:none;}

/* ika musume */
.animetitle[href*="anime/8557/"]:after {content:"";
background-image:url("https://rawgit.com/rl404/MyAnimeList/master/test/images/ika.png");
background-size: 60px;
z-index:-5;
position:absolute;
margin-left:10px;
margin-top:-14px;
width:60px;height:42px;
pointer-events:none;}

/* konosuba */
.animetitle[href*="anime/30831/"]:after {content:"";
background-image:url("https://rawgit.com/rl404/MyAnimeList/master/test/images/konosuba.png");
background-size: 55px;
z-index:-5;
position:absolute;
margin-left:10px;
margin-top:-23px;
width:55px;height:53px;
pointer-events:none;}

/* sao 2 */
.animetitle[href*="anime/21881/"]:after {content:"";
background-image:url("https://rawgit.com/rl404/MyAnimeList/master/test/images/sinon.png");
background-size: 45px;
z-index:-5;
position:absolute;
margin-left:10px;
margin-top:-20px;
width:45px;height:47px;
pointer-events:none;}

/* Nisemonogatari */
.animetitle[href*="anime/11597/"]:after {content:"";
background-image:url("https://rawgit.com/rl404/MyAnimeList/master/test/images/tsukihi.png"),
					url("https://rawgit.com/rl404/MyAnimeList/master/test/images/karen.png");
background-size: 40px,57px;
background-repeat: no-repeat;
background-position: left,right;
position:absolute;
margin-left:10px;
margin-top:-20px;
z-index: -5;
width:100px;height:50px;
pointer-events:none;}

/* kimi no na wa */
.animetitle[href*="anime/32281/"]:after {content:"";
background-image:url("https://rawgit.com/rl404/MyAnimeList/master/test/images/taki1.png"),
					url("https://rawgit.com/rl404/MyAnimeList/master/test/images/mitsuha1.png");
background-size: 60px,60px;
background-repeat: no-repeat;
background-position: left,right;
position:absolute;
margin-left:10px;
margin-top:-30px;
z-index: -5;
width:120px;height:60px;
pointer-events:none;}

.animetitle[href*="anime/32281/"]:hover::after {content:"";
background-image:url("https://rawgit.com/rl404/MyAnimeList/master/test/images/taki.gif"),
					url("https://rawgit.com/rl404/MyAnimeList/master/test/images/mitsuha.gif");
background-size: 60px,60px;
background-repeat: no-repeat;
background-position: left,right;
position:absolute;
margin-left:10px;
margin-top:-30px;
z-index: -5;
width:120px;height:60px;
pointer-events:none;}

/* rezero */
.animetitle[href*="anime/31240/"]:after {content:"";
background-image: url("https://rawgit.com/rl404/MyAnimeList/master/test/images/rem.png"),
	url("https://rawgit.com/rl404/MyAnimeList/master/test/images/ram.png");
background-size: 45px;
background-repeat: no-repeat;
position:absolute;
background-position: left,right;
margin-left:10px;
margin-top:-20px;
z-index: -5;
width:100px;height:50px;
pointer-events:none;}

/* Nyanko days */
.animetitle[href*="anime/34148/"]:after {content:"Nya nya~";
position:absolute;
margin-left:10px;
margin-top:-2px;
color: orange;
font-weight:bold;
font-family:arial, sans-serif;
text-shadow:0px 0px 1px #777;
font-size:13px;
pointer-events:none;
transform:rotate(8deg);
-ms-transform:rotate(8deg);
-webkit-transform:rotate(8deg);}

/* Owarimonogatari */
.animetitle[href*="anime/31181/"]:after {content:"Ougi.pptx";
position:absolute;
margin-left:10px;
margin-top:-2px;
color: black;
font-weight:bold;
font-family:arial, sans-serif;
text-shadow:0px 0px 1px #777;
font-size:13px;
pointer-events:none;
transform:rotate(8deg);
-ms-transform:rotate(8deg);
-webkit-transform:rotate(8deg);}

/* dxd */
.animetitle[href*="anime/11617/"]:after {content:"Oppai";
position:absolute;
margin-left:10px;
margin-top:-2px;
color: red;
font-weight:bold;
font-family:arial, sans-serif;
text-shadow:0px 0px 1px #777;
font-size:13px;
pointer-events:none;
transform:rotate(8deg);
-ms-transform:rotate(8deg);
-webkit-transform:rotate(8deg);}

/* dxd 3 */
.animetitle[href*="anime/24703/"]:after {content:"Oppai born";
position:absolute;
margin-left:10px;
margin-top:-2px;
color: orange;
font-weight:bold;
font-family:arial, sans-serif;
text-shadow:0px 0px 1px #777;
font-size:13px;
pointer-events:none;
transform:rotate(8deg);
-ms-transform:rotate(8deg);
-webkit-transform:rotate(8deg);}

/* dxd 2 */
.animetitle[href*="anime/15451/"]:after {content:"Oppai new";
position:absolute;
margin-left:10px;
margin-top:-2px;
color: blue;
font-weight:bold;
font-family:arial, sans-serif;
text-shadow:0px 0px 1px #777;
font-size:13px;
pointer-events:none;
transform:rotate(8deg);
-ms-transform:rotate(8deg);
-webkit-transform:rotate(8deg);}

/* haifuri */
.animetitle[href*="anime/31500/"]:after {content:"Haifuri";
position:absolute;
margin-left:10px;
margin-top:-2px;
color: #b33c00;
font-weight:bold;
font-family:arial, sans-serif;
text-shadow:0px 0px 1px #777;
font-size:13px;
pointer-events:none;
transform:rotate(8deg);
-ms-transform:rotate(8deg);
-webkit-transform:rotate(8deg);}

/* high school of the dead */
a.animetitle[href*="anime/8074/"] span {text-decoration:line-through}
.animetitle[href*="anime/8074/"]:after {content:"Plot of the Dead";
position:absolute;
margin-left:10px;
margin-top:0px;
color: orange;
font-weight:bold;
font-family:arial, sans-serif;
text-shadow:0px 0px 1px #777;
font-size:13px;
pointer-events:none;}

/* Akiba's trip */
a.animetitle[href*="anime/34051/"] span {text-decoration:line-through}
.animetitle[href*="anime/34051/"]:after {content:"Akiba Strip";
position:absolute;
margin-left:10px;
margin-top:0px;
color: blue;
font-weight:bold;
font-family:arial, sans-serif;
text-shadow:0px 0px 1px #777;
font-size:13px;
pointer-events:none;}

/* kancolle */
.animetitle[href*="anime/21511/"]:after {content:"";
background-image:url("https://rawgit.com/rl404/MyAnimeList/master/test/images/shima.png");
background-size: 50px;
position:absolute;
margin-left:10px;
margin-top:-23px;
z-index: -5;
width:50px;height:50px;
pointer-events:none;}
tr:hover .animetitle[href*="/21511/"]:hover::before{
	background-image: url('https://rawgit.com/rl404/MyAnimeList/master/test/images/nagato.gif');
	background-size: 206px;
}

/* koyomimonogatari */
.animetitle[href*="anime/32268/"]:after {content:"";
background-image:url("https://rawgit.com/rl404/MyAnimeList/master/test/images/araragi.png");
background-size: 40px;
z-index:-5;
position:absolute;
margin-left:10px;
margin-top:-20px;
width:40px;height:50px;
pointer-events:none;}

/* nekomonogatari */
.animetitle[href*="anime/15689/"]:after {content:"";
background-image:url("https://rawgit.com/rl404/MyAnimeList/master/test/images/hanekawa.png");
background-size: 50px;
z-index:-5;
position:absolute;
margin-left:10px;
margin-top:-15px;
width:50px;height:41px;
pointer-events:none;}

/* Gokukoku */
.animetitle[href*="anime/21431/"]:after {content:"Neko-san ♪♪♪";
position:absolute;
margin-left:10px;
margin-top:-2px;
color: blue;
font-weight:bold;
font-family:arial, sans-serif;
text-shadow:0px 0px 1px #777;
font-size:13px;
pointer-events:none;
transform:rotate(8deg);
-ms-transform:rotate(8deg);
-webkit-transform:rotate(8deg);}

/* haiyore */
.animetitle[href*="anime/11785/"]:after {content:"";
background-image:url("https://rawgit.com/rl404/MyAnimeList/master/test/images/haiyore.png");
background-size: 50px;
position:absolute;
margin-left:-100px;
margin-top:-28px;
z-index: -5;
width:50px;height:33px;
pointer-events:none;}

/* new game */
#xmenu31953:after {content:"";
left:100px;top:-20px;width:50px;height:100px;
margin-top:-27px;margin-left:-100px;
background-image:url("https://rawgit.com/rl404/MyAnimeList/master/test/images/newgame.png");
background-size: 25px;
z-index:-5;opacity: 1;}
tr:hover #xmenu31953 {display:none;}

/* locodol */
#xmenu22189:after {content:"";
left:93px;top:-20px;width:50px;height:100px;
margin-top:-30px;margin-left:-100px;
background-image:url("https://rawgit.com/rl404/MyAnimeList/master/test/images/locodol.png");
background-size: 47px;
z-index:-5;opacity: 1;}
tr:hover #xmenu22189 {display:none;}


/* hyouka */
.animetitle[href*="anime/12189/"]:after {content:"";
background-image:url("https://rawgit.com/rl404/MyAnimeList/master/test/images/hyouka.png");
background-size: 50px;
position:absolute;
margin-left:-50px;
margin-top:-25px;
z-index: -5;
width:50px;height:33px;
pointer-events:none;}

/* kiniro mosaic */
.animetitle[href*="anime/16732/"]:after {content:"";
background-image:url("https://rawgit.com/rl404/MyAnimeList/master/test/images/kiniro.png");
background-size: 45px;
z-index:-5;
position:absolute;
margin-left:10px;
margin-top:-15px;
width:45px;height:44px;
pointer-events:none;}

/* kore wa zombie */
.animetitle[href*="anime/8841/"]:after {content:"";
background-image:url("https://rawgit.com/rl404/MyAnimeList/master/test/images/z.png");
background-size: 50px;
z-index:-5;
position:absolute;
margin-left:10px;
margin-top:-10px;
width:50px;height:29px;
pointer-events:none;}

/* madoka */
#xmenu9756:after {content:"";
left:100px;top:-25px;width:100px;height:100px;
margin-top:-5px;margin-left:-100px;
background-image:url("https://rawgit.com/rl404/MyAnimeList/master/test/images/kyubey.png");
background-size: 50px;
opacity: 1;}
tr:hover #xmenu9756 {display:none;}
.animetitle[href*="anime/9756/"]:hover::after {content:"Contract?";
 position:absolute;
margin-left:10px;
margin-top:-2px;
color:red;
font-weight:bold;
font-family:arial, sans-serif;
text-shadow:0px 0px 1px #777;
font-size:13px;
pointer-events:none;
transform:rotate(8deg);
-ms-transform:rotate(8deg);
-webkit-transform:rotate(8deg);
}

/* kyoukai no kanata */
#xmenu18153:after {content:"";
left:100px;top:-20px;width:50px;height:50px;
margin-top:-30px;margin-left:-100px;
background-image:url("https://rawgit.com/rl404/MyAnimeList/master/test/images/knk.png");
background-size: 25px;
z-index:-5;opacity: 1;}
tr:hover #xmenu18153 {display:none;}

/* mirai nikki */
#xmenu10620:after {content:"";
left:93px;top:-25px;width:50px;height:100px;
margin-top:-20px;margin-left:-100px;
background-image:url("https://rawgit.com/rl404/MyAnimeList/master/test/images/mirai.png");
background-size: 40px;
z-index:-5;opacity: 1;}
tr:hover #xmenu10620 {display:none;}
.animetitle[href*="anime/10620/"]:after {content:"Yuki~";
position:absolute;
margin-left:10px;
margin-top:-2px;
color: #ff4da6;
font-weight:bold;
font-family:arial, sans-serif;
text-shadow:0px 0px 1px #777;
font-size:13px;
pointer-events:none;
transform:rotate(8deg);
-ms-transform:rotate(8deg);
-webkit-transform:rotate(8deg);}

/* masou gakuen hxh */
.animetitle[href*="anime/31845/"]:after {content:"EROS!";
position:absolute;
margin-left:10px;
margin-top:-5px;
color: #ff4da6;
font-weight:bold;
font-family:arial, sans-serif;
text-shadow:0px 0px 1px #777;
font-size:13px;
pointer-events:none;
transform:rotate(-8deg);
-ms-transform:rotate(-8deg);
-webkit-transform:rotate(-8deg);}

/* love lab */
a.animetitle[href*="anime/16353/"] span {text-decoration:line-through}
.animetitle[href*="anime/16353/"]:after {content:"Rabu Rabo";
position:absolute;
margin-left:10px;
margin-top:0px;
color: orange;
font-weight:bold;
font-family:arial, sans-serif;
text-shadow:0px 0px 1px #777;
font-size:13px;
pointer-events:none;}

/* machine doll */
.animetitle[href*="anime/17247/"]:after {content:"Yaya~";
position:absolute;
margin-left:10px;
margin-top:-2px;
color: black;
font-weight:bold;
font-family:arial, sans-serif;
text-shadow:0px 0px 1px #777;
font-size:13px;
pointer-events:none;
transform:rotate(8deg);
-ms-transform:rotate(8deg);
-webkit-transform:rotate(8deg);}

/* monogatari 2nd */
.animetitle[href*="anime/17074/"]:after {content:"";
background-image:url("https://rawgit.com/rl404/MyAnimeList/master/test/images/shinobu.png");
background-size: 50px;
position:absolute;
margin-left:10px;
margin-top:-15px;
z-index: -5;
width:50px;height:42px;
pointer-events:none;}

/* non non */
.animetitle[href*="anime/17549/"]:after {content:"Nyanpasu~";
position:absolute;
margin-left:10px;
margin-top:-2px;
color: #7958a7;
font-weight:bold;
font-family:arial, sans-serif;
text-shadow:0px 0px 1px #777;
font-size:13px;
pointer-events:none;
transform:rotate(8deg);
-ms-transform:rotate(8deg);
-webkit-transform:rotate(8deg);}

/* nichijou */
#xmenu10165:after {content:"";
left:95px;top:-25px;width:100px;height:100px;
margin-top:-25px;margin-left:-100px;
background-image:url("https://rawgit.com/rl404/MyAnimeList/master/test/images/nichijou.png");
background-size: 30px;
z-index:-5;opacity: 1;}
tr:hover #xmenu10165 {display:none;}
.animetitle[href*="anime/10165/"]:after {content:"Ayy~";
position:absolute;
margin-left:10px;
margin-top:-2px;
color: orange;
font-weight:bold;
font-family:arial, sans-serif;
text-shadow:0px 0px 1px #777;
font-size:13px;
pointer-events:none;
transform:rotate(8deg);
-ms-transform:rotate(8deg);
-webkit-transform:rotate(8deg);}

/* nurarihyon */
#xmenu7592:after {content:"";
left:97px;top:-25px;width:50px;height:50px;
margin-top:-24px;margin-left:-100px;
background-image:url("https://rawgit.com/rl404/MyAnimeList/master/test/images/yo.png");
background-size: 25px;
z-index:-5;opacity: 1;}
tr:hover #xmenu7592 {display:none;}

/* ookami-san */
#xmenu7769:after {content:"";
left:100px;top:-25px;width:100px;height:100px;
margin-top:-25px;margin-left:-100px;
background-image:url("https://rawgit.com/rl404/MyAnimeList/master/test/images/ookami.png");
background-size: 32px;
z-index:-5;opacity: 1;}
tr:hover #xmenu7769 {display:none;}

/* oreimo */
#xmenu8769:after {content:"";
left:100px;top:-25px;width:50px;height:50px;
margin-top:-30px;margin-left:-100px;
background-image:url("https://rawgit.com/rl404/MyAnimeList/master/test/images/oreimo.png");
background-size: 35px;
z-index:-5;opacity: 1;}
tr:hover #xmenu8769 {display:none;}

/* sakurasou */
.animetitle[href*="anime/13759/"]:after {content:"";
background-image:url("https://rawgit.com/rl404/MyAnimeList/master/test/images/sakurasou.png");
background-size: 45px;
z-index:-5;
position:absolute;
margin-left:10px;
margin-top:-14px;
width:45px;height:43px;
pointer-events:none;}

/* Rokujouma */
.animetitle[href*="anime/22865/"]:after {content:"";
background-image:url("https://rawgit.com/rl404/MyAnimeList/master/test/images/yurika.png");
background-size: 50px;
z-index:-5;
position:absolute;
margin-left:10px;
margin-top:-14px;
width:50px;height:41px;
pointer-events:none;}

/* seitokai */
#xmenu8675:after {content:"";
left:100px;top:-25px;width:100px;height:100px;
margin-top:-27px;margin-left:-100px;
background-image:url("https://rawgit.com/rl404/MyAnimeList/master/test/images/seitokai.png");
background-size: 25px;
z-index:-5;opacity: 1;}
tr:hover #xmenu8675 {display:none;}
.animetitle[href*="anime/8675/"]:after {content:"Dirty jokes party";
position:absolute;
margin-left:10px;
margin-top:-2px;
color: purple;
font-weight:bold;
font-family:arial, sans-serif;
text-shadow:0px 0px 1px #777;
font-size:13px;
pointer-events:none;
transform:rotate(8deg);
-ms-transform:rotate(8deg);
-webkit-transform:rotate(8deg);}

/* to aru index */
#xmenu4654:after {content:"";
left:98px;top:-25px;width:100px;height:100px;
margin-top:-27px;margin-left:-100px;
background-image:url("https://rawgit.com/rl404/MyAnimeList/master/test/images/index.png");
background-size: 30px;
z-index:-5;opacity: 1;}
tr:hover #xmenu4654 {display:none;}

/* yuru yuri */
#xmenu10495:after {content:"";
left:100px;top:-25px;width:50px;height:50px;
margin-top:-27px;margin-left:-100px;
background-image:url("https://rawgit.com/rl404/MyAnimeList/master/test/images/yuru.png");
background-size: 25px;
z-index:-5;opacity: 1;}
tr:hover #xmenu10495 {display:none;}


/* Neon Genesis Evangelion */
#xmenu30:after {content:"Rei x Rei x Rei OT3";
left:270px;top:-45px;
margin-left:-100px;
color:#c68;
transform:rotate(-4deg);
-ms-transform:rotate(-4deg);
-webkit-transform:rotate(-4deg);}

/*  */
#xmenu15793:after {content:"SYMPHOGEAH!";
left:0px;top:-142px;
margin-left:250px;
margin-top:100px;
padding:7px;
transform:rotate(12deg);
-ms-transform:rotate(12deg);
-webkit-transform:rotate(12deg);
font-size:22px;color:#e00;
width:165px;height:25px;border-radius:5px;
border:1px solid #e00;box-shadow:0px 0px 1px #000;}
tr:hover #xmenu15793:after {background-color:rgba(255,255,255,.8);z-index:11;}

