/* No game no life */
tr:hover .animetitle[href*="/19815/"]{
background-image:url(https://cdn.rawgit.com/rl404/MyAnimeList/master/Madoka/images/star1.png),
    url(https://cdn.rawgit.com/rl404/MyAnimeList/master/Madoka/images/star2.png),
	url('https://rawgit.com/rl404/MyAnimeList/master/test/images/ngnl.png');
background-size: 0,0,100%;	
width:100%;
height:385px;
top: -15px;
min-width:935px;
max-width:1237px;
margin-left:auto;
margin-right:auto;
border:1px;
padding-top: 35px;
animation: sparkle 15s linear infinite;
-webkit-animation: sparkle 15s linear infinite;
}
tr:hover .animetitle[href*="/19815/"]:before{top: 100px;}

@keyframes sparkle {
    0% { background-position: 0 0, 0 0,0 0; }
    100% { background-position: -150px 300px, 150px 300px,0 0; }
}

@-webkit-keyframes sparkle {
    0% { background-position: 0 0, 0 0,0 0; }
    100% { background-position: -150px 300px, 150px 300px,0 0; }
} 

/* Kotonoha no niwa */
tr:hover .animetitle[href*="/16782/"]{
background-image:url(https://rawgit.com/rl404/MyAnimeList/master/test/images/rain.gif),
    url(https://rawgit.com/rl404/MyAnimeList/master/test/images/rain.gif),
    url(https://rawgit.com/rl404/MyAnimeList/master/test/images/rain.gif),
	url('https://rawgit.com/rl404/MyAnimeList/master/test/images/gow.png');
background-size:747px 5000px,747px 1000px,747px,100%;
background-position: 0 0, 50% 0,0 0, center;
width:100%;
height:385px;
top: -15px;
padding-top: 35px;
min-width:935px;
max-width:1237px;
margin-left:auto;
margin-right:auto;
} 
tr:hover .animetitle[href*="/16782/"]:before{top: 100px;}

/* Gurren Lagann */
tr:hover .animetitle[href*="/2001/"]{
background-image:url('https://rawgit.com/rl404/MyAnimeList/master/test/images/ttgl.png'),
  	url(https://rawgit.com/rl404/MyAnimeList/master/test/images/ttgl2.gif);
background-size:100%,200px;
background-repeat: no-repeat;
background-position: bottom center,-20% 100%; 
width:100%;
height:385px;
top: -15px;
padding-top: 35px;
min-width:935px;
max-width:1237px;
margin-left:auto;
margin-right:auto;    
animation: ttgl 15s linear ;
-webkit-animation: ttgl 15s linear ;
} 
tr:hover .animetitle[href*="/2001/"]:before{top: 100px;}

@keyframes ttgl {
    0% { background-position: top center, 130% 100%; }
    100% { background-position: bottom center, -20% 100%; }
}

@-webkit-keyframes ttgl {
    0% { background-position: top center, 130% 100%; }
    100% { background-position: bottom center, -20% 100%;}
} 

/* clannad after story */
tr:hover .animetitle[href*="/4181/"]{
background-image:url(https://rawgit.com/rl404/MyAnimeList/master/test/images/star1.png),
    url(https://rawgit.com/rl404/MyAnimeList/master/test/images/star1.png),
    url(https://rawgit.com/rl404/MyAnimeList/master/test/images/star2.png),
	url(https://rawgit.com/rl404/MyAnimeList/master/test/images/clannad.png);
background-size:auto,420px,1000px,auto;	
width:100%;
height:385px;
top: -15px;
padding-top: 35px;
min-width:935px;
max-width:1237px;
margin-left:auto;
margin-right:auto;
animation: sparkle2 15s linear infinite;
-webkit-animation: sparkle2 15s linear infinite;
} 
tr:hover .animetitle[href*="/4181/"]:before{top: 100px;}

@keyframes sparkle2 {
    0% { background-position: 0 0, 0 0, 0 0,0 0; }
    100% { background-position: 0 -300px, 0px -840px, 0px -2000px,0 0; }
}

@-webkit-keyframes sparkle2 {
    0% { background-position: 0 0,0 0, 0 0,0 0; }
    100% { background-position: 0 -300px, 0px -840px, 0px -2000px,0 0; }
} 

/* STEINS GATE */
tr:hover .animetitle[href*="/9253/"]{
background-image:url(https://rawgit.com/rl404/MyAnimeList/master/test/images/sg3.gif),
    url(https://rawgit.com/rl404/MyAnimeList/master/test/images/sg2.gif),
	url(https://rawgit.com/rl404/MyAnimeList/master/test/images/sg.png);
background-size: 200px,150px,100%;	
background-repeat: no-repeat;
background-position: 100% 200%,0% -50%, center;
width:100%;
height:385px;
top: -15px;
min-width:935px;
max-width:1237px;
margin-left:auto;
margin-right:auto;
border:1px;
padding-top: 35px;
animation: sg 12s linear infinite;
-webkit-animation: sg 12s linear infinite;
}
tr:hover .animetitle[href*="/9253/"]:before{top: 100px;}

@keyframes sg {
    0% { background-position: 100% 200%,0% -50%, center;}
    16.5% { background-position: 100% 100%,0% -50%, center; }
    33.2% { background-position: 100% 100%,0% -50%, center; }
    50% { background-position: 100% 200%,0% -50%, center; }
    54% { background-position: 100% 200%,0% 0%, center; }
    98% { background-position: 100% 200%,0% 0%, center; }
    100% {background-position: 100% 200%,0% -50%, center;}
}

@-webkit-keyframes sg {
    0% { background-position: 100% 200%,0% -50%, center;}
    16.5% { background-position: 100% 100%,0% -50%, center; }
    33.2% { background-position: 100% 100%,0% -50%, center; }
    50% { background-position: 100% 200%,0% -50%, center; }
    54% { background-position: 100% 200%,0% 0%, center; }
    98% { background-position: 100% 200%,0% 0%, center; }
    100% {background-position: 100% 200%,0% -50%, center;}
} 

/* UBW */
tr:hover .animetitle[href*="/28701/"]{
background-image:url(https://rawgit.com/rl404/MyAnimeList/master/test/images/ubw2.png),
	url(https://rawgit.com/rl404/MyAnimeList/master/test/images/ubw.gif);
background-size:100%,100%;	
background-position: bottom;
width:100%;
height:385px;
top: -15px;
padding-top: 35px;
min-width:935px;
max-width:1237px;
margin-left:auto;
margin-right:auto;
} 
tr:hover .animetitle[href*="/28701/"]:before{top: 100px;}

/* madoka */
tr:hover .animetitle[href*="/9756/"]{
background:url(https://rawgit.com/rl404/MyAnimeList/master/test/images/ubw2.png),
    url(https://rawgit.com/rl404/MyAnimeList/master/test/images/kyubey.gif)left center ;
background-size:100%,50%;
width:100%;
height:385px;
top: -15px;
padding-top: 35px;
min-width:935px;
max-width:1237px;
margin-left:auto;
margin-right:auto;
} 
tr:hover .animetitle[href*="/9756/"]:hover:before{content:"";background-image: url('https://myanimelist.cdn-dena.com/images/anime/11/55225.jpg')}
tr:hover .animetitle[href*="/9756/"]:before{content:"NO!";
background:url(https://rawgit.com/rl404/MyAnimeList/master/test/images/kyubey2.gif) bottom no-repeat;
background-size: 206px,auto;top: 100px;
color:red;
padding-top: 50px; 
height: 241px;
}

/* guilty crown */
tr:hover .animetitle[href*="/10793/"]{
background-image:url(https://rawgit.com/rl404/MyAnimeList/master/test/images/gc.png);
background-size:100%;	
width:100%;
height:385px;
top: -15px;
padding-top: 35px;
min-width:935px;
max-width:1237px;
margin-left:auto;
margin-right:auto;
} 
tr:hover .animetitle[href*="/10793/"]:before{top: 100px;}

/* end of eva */
tr:hover .animetitle[href*="/32/"]{
background:url(https://rawgit.com/rl404/MyAnimeList/master/test/images/rain2.gif),
    url(https://rawgit.com/rl404/MyAnimeList/master/test/images/rain2.gif),
    url(https://rawgit.com/rl404/MyAnimeList/master/test/images/rain2.gif),
    url(https://rawgit.com/rl404/MyAnimeList/master/test/images/eva.png);
background-size:747px 5000px,747px 1000px,747px,100%;	
background-position: 0 0, 50% 0,0 0, center;
width:100%;
height:385px;
top: -15px;
padding-top: 35px;
min-width:935px;
max-width:1237px;
margin-left:auto;
margin-right:auto;
} 
tr:hover .animetitle[href*="/32/"]:before{top: 100px;}

/* nichijou */
tr:hover .animetitle[href*="/10165/"]{
background:url(https://rawgit.com/rl404/MyAnimeList/master/test/images/ubw2.png),
    url(https://rawgit.com/rl404/MyAnimeList/master/test/images/nichijou.gif) left center;
background-size:100%;	
width:100%;
height:385px;
top: -15px;
padding-top: 35px;
min-width:935px;
max-width:1237px;
margin-left:auto;
margin-right:auto;
} 
tr:hover .animetitle[href*="/10165/"]:before{top: 100px;}

/* akame */
tr:hover .animetitle[href*="/22199/"]{
background:url(https://rawgit.com/rl404/MyAnimeList/master/test/images/ubw2.png),
	url(https://rawgit.com/rl404/MyAnimeList/master/test/images/akame.gif);
background-size:100%,100%;	
background-position: bottom;
width:100%;
height:385px;
top: -15px;
padding-top: 35px;
min-width:935px;
max-width:1237px;
margin-left:auto;
margin-right:auto;
} 
tr:hover .animetitle[href*="/22199/"]:before{top: 100px;}

/* totoro */
tr:hover .animetitle[href*="/523/"]{
background-image:url(https://rawgit.com/rl404/MyAnimeList/master/test/images/rain.gif),
    url(https://rawgit.com/rl404/MyAnimeList/master/test/images/rain.gif),
    url(https://rawgit.com/rl404/MyAnimeList/master/test/images/rain.gif),
	url(https://rawgit.com/rl404/MyAnimeList/master/test/images/totoro.png);
background-size:747px 5000px,747px 1000px,747px,100%;	
background-position: 0 0, 50% 0,0 0, center;
width:100%;
height:385px;
top: -15px;
padding-top: 35px;
min-width:935px;
max-width:1237px;
margin-left:auto;
margin-right:auto;
} 
tr:hover .animetitle[href*="/523/"]:before{top: 100px;}

/* 5cm */
tr:hover .animetitle[href*="/1689/"]{
background-image:url(https://rawgit.com/rl404/MyAnimeList/master/test/images/ubw2.png),
    url(https://rawgit.com/rl404/MyAnimeList/master/test/images/5cm2.gif),
    url(https://rawgit.com/rl404/MyAnimeList/master/test/images/5cm2.gif),
    url(https://rawgit.com/rl404/MyAnimeList/master/test/images/5cm2.gif),   
	url(https://rawgit.com/rl404/MyAnimeList/master/test/images/5cm.png);
background-size:100%, 15%,30%,100%,100%;	 
background-position: 0 0, 20% 0,0 0,0 0,left bottom; 
background-position: left bottom;
width:100%;
height:385px;
top: -15px;
padding-top: 35px;
min-width:935px;
max-width:1237px;
margin-left:auto;
margin-right:auto;
} 
tr:hover .animetitle[href*="/1689/"]:before{top: 100px;}

/* carnival phantasm */
tr:hover .animetitle[href*="/10012/"]{
background:url(https://rawgit.com/rl404/MyAnimeList/master/test/images/bersercar.png),
    url(https://rawgit.com/rl404/MyAnimeList/master/test/images/ubw2.png),
	url(https://rawgit.com/rl404/MyAnimeList/master/test/images/lion1.gif),
    url(https://rawgit.com/rl404/MyAnimeList/master/test/images/lion2.gif),
    url(https://rawgit.com/rl404/MyAnimeList/master/test/images/lion3.gif),
    url(https://rawgit.com/rl404/MyAnimeList/master/test/images/lion4.gif),
    url(https://rawgit.com/rl404/MyAnimeList/master/test/images/lion5.gif),
    url(https://rawgit.com/rl404/MyAnimeList/master/test/images/lion6.gif),
    url(https://rawgit.com/rl404/MyAnimeList/master/test/images/lion7.gif),
    url(https://rawgit.com/rl404/MyAnimeList/master/test/images/lion1.gif),
    url(https://rawgit.com/rl404/MyAnimeList/master/test/images/lion2.gif);
background-size:200px,100%, 755px, 755px, 755px, 755px, 755px, 755px, 755px, 755px, 755px;	
background-repeat: no-repeat;
background-position: 150% 100%,0 0, 0 0, 
    755px 0, 
    1510px 0,
    2265px 0,
    3020px 0,
    3775px 0,
    4530px 0,
    5285px 0,
    6040px 0;
width:100%;
height:385px;
top: -15px;
padding-top: 35px;
min-width:935px;
max-width:1237px;
margin-left:auto;
margin-right:auto;    
animation: cp 36s linear infinite;
-webkit-animation: cp 72s linear infinite;
} 
tr:hover .animetitle[href*="/10012/"]:before{top: 100px;}

@keyframes cp {
    0% { background-position: 150% 100%, 0 0, 0 0, 
	    755px 0, 
	    1510px 0,
	    2265px 0,
	    3020px 0,
	    3775px 0,
	    4530px 0,
	    5285px 0,
	    6040px 0;} 
    100% {background-position: -6000px 100%, 0 0,-5285px 0,
    	-4530px 0, 
	    -3775px 0, 
	    -3020px 0,
	    -2265px 0,
	    -1510px 0,
	    -755px 0,
	    0px 0,
	    755px 0;};
}

@-webkit-keyframes cp {
    0% { background-position: 150% 100%, 0 0, 0 0, 
	    755px 0, 
	    1510px 0,
	    2265px 0,
	    3020px 0,
	    3775px 0,
	    4530px 0,
	    5285px 0,
	    6040px 0;} 
    100% {background-position: -6000px 100%, 0 0, -5285px 0,
    	-4530px 0, 
	    -3775px 0, 
	    -3020px 0,
	    -2265px 0,
	    -1510px 0,
	    -755px 0,
	    0px 0,
	    755px 0;};
}

/* bakemonogatari */
tr:hover .animetitle[href*="/5081/"]{
background-image:url(https://rawgit.com/rl404/MyAnimeList/master/test/images/snow1.png),
    url(https://rawgit.com/rl404/MyAnimeList/master/test/images/snow1.png),
    url(https://rawgit.com/rl404/MyAnimeList/master/test/images/snow2.png),
	url(https://rawgit.com/rl404/MyAnimeList/master/test/images/bakemonogatari.png);
background-size:auto,420px,1000px,100%;	
width:100%;
height:385px;
top: -15px;
padding-top: 35px;
min-width:935px;
max-width:1237px;
margin-left:auto;
margin-right:auto;
animation: snow1 15s linear infinite;
-webkit-animation: snow1 15s linear infinite;
} 
tr:hover .animetitle[href*="/5081/"]:before{top: 100px;}

@keyframes snow1 {
    0% { background-position: 0 -300px, 0px -840px, 0px -2000px,right; }
    100% { background-position: 0 0, 0 0, 0 0,right; }
    
}

@-webkit-keyframes snow1 {
        0% { background-position: 0 -300px, 0px -840px, 0px -2000px,right; }
    100% { background-position: 0 0,0 0, 0 0,right; }
} 

/* suzumiya haruhi no shoushitsu */
tr:hover .animetitle[href*="/7311/"]{
background-image:url(https://rawgit.com/rl404/MyAnimeList/master/test/images/snow1.png),
    url(https://rawgit.com/rl404/MyAnimeList/master/test/images/snow1.png),
    url(https://rawgit.com/rl404/MyAnimeList/master/test/images/snow2.png),
	url(https://rawgit.com/rl404/MyAnimeList/master/test/images/shns.png);
background-size:auto,420px,1000px,100%;	
width:100%;
height:385px;
top: -15px;
padding-top: 35px;
min-width:935px;
max-width:1237px;
margin-left:auto;
margin-right:auto;
animation: snow1 15s linear infinite;
-webkit-animation: snow1 15s linear infinite;
} 
tr:hover .animetitle[href*="/7311/"]:before{top: 100px;}

/* mirai nikki */
tr:hover .animetitle[href*="/10620/"]{
width:100%;
height:385px;
top: -15px;
padding-top: 35px;
min-width:935px;
max-width:1237px;
margin-left:auto;
margin-right:auto;} 
tr:hover .animetitle[href*="/10620/"]:before{top: 100px;}
tr:hover .animetitle[href*="/10620/"]:hover{   
	background:url(https://rawgit.com/rl404/MyAnimeList/master/test/images/mirainikki.png);
	background-size:100%;	
	box-shadow: inset 0px 0px 100px -40px rgba(255,0,0,0.5);
}

/* nisemonogatari */
tr:hover .animetitle[href*="/11597/"]{
background:url(https://rawgit.com/rl404/MyAnimeList/master/test/images/nisemonogatari.png) ;
background-size:100%;	
width:100%;
height:385px;
top: -15px;
padding-top: 35px;
min-width:935px;
max-width:1237px;
margin-left:auto;
margin-right:auto;
} 
tr:hover .animetitle[href*="/11597/"]:before{top: 100px;}