/*

EDIT BUTTON

*/
#list_surround table:nth-of-type(n+4) tbody div small {
    /*letter-spacing: 5px;*/
    visibility: hidden;
    color: transparent !important;
    font-size: 14px;
}

#list_surround table:nth-of-type(n+4) tbody small a:first-of-type {
    opacity: 0;
}

#list_surround table:nth-of-type(n+4) tbody small a:last-of-type {
    display: none !important;
}

#list_surround table:nth-of-type(n+4) tbody:hover small a:first-of-type {  
    visibility: hidden; 
    opacity: 1 !important;
    transition: all 0.4s ease 0s;
}