a, a:visited {
    text-decoration:none !important;
    color:black;
}

/*
 * POP UP MODAL
 */

#fancybox-wrap {
	position: fixed !important;
	top: 5% !important;
	bottom: 5%;
	left: 0px !important;
	right: 0px !important;
	width: 1100px !important;
	height: auto !important;
	margin: auto !important;
}

#fancybox-inner {
	bottom: 10px;
	width: 1080px !important;
	height: auto !important;
}

/* 
 * BASIC LIST 
 */

body {
	background-color:#f2f2f2 !important;
	font-family: "Century Gothic", CenturyGothic, AppleGothic, Futura,"Futura Bk BT", "Trebuchet MS", Arial, sans-serif !important;
	font-size:13px;
 	background-image:url(http://sig.grumpybumpers.com/host/rl404.gif); 
	background-repeat:repeat;
	background-attachment:fixed;
	background-size:cover;
	background-position:center;
}

#list_surround {
	position:absolute;
	margin-top:550px;
	left:0px;
	z-index:3;
	right:0px;
	width:1000px;
	/*min-width:935px;*/
	/*max-width:1237px;*/
	margin-left:auto;
	margin-right:auto;
	top:0px;
	background-color:rgba(255,255,255,.8);
	box-shadow:inset 0px 0px 5px 0px #fff, 0px 0px 5px 0px #000;
}

#list_surround:before {
/* 	content:"Go and do some clickie clickie on anime below,\a especially anime with score 9 or higher \a some pretty cool stuff will happen. \a Also, don\'t forget to hover on something inside too."; */
	position:relative;
	margin-right:10px;
	top:10px;
	float:right;
	white-space:pre;
	text-align:right;
}

/*
 * TOP BAR
 */

body:before {
	content:'';
	background-color:rgba(255,255,255,.8);
	background-repeat:repeat;
	background-attachment:fixed;
	background-size:cover;
	background-position:center;
	box-shadow:inset 0px 0px 5px 0px #fff, 0px 0px 5px 0px #000;
	position:absolute;
	margin-top:0px !important;
	width:100%;
	min-width:935px;
	height:100px;
	z-index:0;
	display:block;
}

#list_surround table:first-of-type {
	position:absolute;
	top:-550px;
	margin:0 auto;
	left:478px;
	right:0px;
	width:420px;
	height:100px;
	z-index:3;
}

#list_surround table:first-of-type td, 
#list_surround table:first-of-type td a {
	display:block;
	color:transparent;
	width:70px;
	height:80px;
	font-size:0px;
	transition:.2s;
	float:left;
}

#list_surround table:first-of-type td a {
	padding-top:20px;
}

#list_surround table:first-of-type td a:before {
	font-size:20px;
	font-weight:bold;
	color:#555;
	border:3px solid #555;
	border-radius:18px;
	display:block;
	height:30px;
	width:30px;
	line-height:28px;
}

#list_surround table:first-of-type td a:hover:before {
	color:#777;
	border-color:#777;
}

#list_surround table:first-of-type td a:hover{
	box-shadow: 0px -5px 0px 0px #333 inset;
}

#list_surround table:first-of-type td a:hover:after, 
.status_selected a:after {
	font-size:12px;
	color:#555;
	display:block;
	height:30px;
	line-height:30px;
	border-radius:18px;
	margin-top:10px;
}

#list_surround table:first-of-type td:nth-of-type(2) a:before {content:'C';}
#list_surround table:first-of-type td:nth-of-type(2) a:after {content:'Completed';}
#list_surround table:first-of-type td:nth-of-type(3) a:before {content:'H';}
#list_surround table:first-of-type td:nth-of-type(3) a:after {content:'On Hold';}
#list_surround table:first-of-type td:nth-of-type(4) a:before {content:'D';}
#list_surround table:first-of-type td:nth-of-type(4) a:after {content:'Dropped';}
#list_surround table:first-of-type td:nth-of-type(5) a:before {content:'P';}
#list_surround table:first-of-type td:nth-of-type(5) a:after {content:'Planned';}

#list_surround table:first-of-type td a:hover {
  background-size:auto 100%;
  background-repeat:no-repeat;
  animation: statusbutton 5s ease-out;
}
#list_surround table:first-of-type td:nth-of-type(1) a:hover{
  background-image:url(https://raw.githubusercontent.com/rl404/MyAnimeList/master/Expander/images/chino.png);
}

#list_surround table:first-of-type td:nth-of-type(2) a:hover{
  background-image:url(https://raw.githubusercontent.com/rl404/MyAnimeList/master/Expander/images/c.png);
}

#list_surround table:first-of-type td:nth-of-type(3) a:hover{
  background-image:url(https://raw.githubusercontent.com/rl404/MyAnimeList/master/Expander/images/etotama.png);
}
#list_surround table:first-of-type td:nth-of-type(4) a:hover{
  background-image:url(https://raw.githubusercontent.com/rl404/MyAnimeList/master/Expander/images/gg.png);
}

#list_surround table:first-of-type td:nth-of-type(5) a:hover{
  background-image:url(https://raw.githubusercontent.com/rl404/MyAnimeList/master/Expander/images/index.png);
}

#list_surround table:first-of-type td:nth-of-type(6) a:hover{
  background-image:url(https://raw.githubusercontent.com/rl404/MyAnimeList/master/Expander/images/km.png);
}

#list_surround table:first-of-type td:nth-of-type(1) a:before {content:'W';}
#list_surround table:first-of-type td:nth-of-type(1) a:after {content:'Watching';}
#list_surround table:first-of-type td:nth-of-type(6) a:before {content:'A';}
#list_surround table:first-of-type td:nth-of-type(6) a:after {content:'All Anime';}


@keyframes statusbutton {
	0% {background-position: -70px 0;}
	100% {background-position: 0 0;}
}

.status_selected a {
	background-color:#333 !important;
	box-shadow: 0px -5px 0px 0px #eee inset !important;
}
.status_selected a:before {color:#fff !important;border-color:#fff !important;}
.status_selected a:after {color:#fff !important;}

#mal_control_strip {
	background-image:none !important;
	background-color:transparent !important;
	height:100px;
	position:absolute;
	width:922px !important;
	top:0px;
	margin:0 auto !important;
	left:0px !important;
	right:22px !important;
}

#mal_control_strip td {
	border:0px;
}

#mal_control_strip td div, 
#mal_control_strip td div a, 
#mal_control_strip td div span {
	font-family: "Century Gothic", CenturyGothic, AppleGothic, Futura,"Futura Bk BT", "Trebuchet MS", Arial, sans-serif !important;
}

#mal_control_strip #mal_cs_listinfo div a {
	position:absolute;
	top:50px;
	left:0px;
	height:50px;
	width:169px;
	border-right:1px dashed rgba(0,0,0,.1);
	text-align:center;
	line-height:50px;
	font-size:16px;
	color:#555;
	transition:.2s;
}

#mal_control_strip #mal_cs_listinfo div a:hover {
	box-shadow: 5px 0px 0px 0px #333 inset !important;
}

#mal_control_strip #mal_cs_listinfo div strong a {
	top:0px;
	font-size:16px;
}

#mal_control_strip #mal_cs_links div a {
	position:absolute;
	top:0px;
	left:170px;
	height:25px;
	width:79px;
	border-right:1px dashed rgba(0,0,0,.1);
	text-align:center;
	line-height:25px;
	font-size:12px;
	color:#555;
	transition:.2s;
}

#mal_control_strip #mal_cs_links div:first-child a:first-child {top:0px;}
#mal_control_strip #mal_cs_links div:first-child a:nth-child(2) {top:25px;}
#mal_control_strip #mal_cs_links div:nth-child(2) a:first-child {top:50px;}
#mal_control_strip #mal_cs_links div:nth-child(2) a:nth-child(2) {top:75px;}
#mal_control_strip #mal_cs_links div a:hover {box-shadow: 5px 0px 0px 0px #333 inset !important;}

#mal_control_strip #mal_cs_otherlinks div:first-child {
	position:absolute;
	top:0px;
	left:250px;
	margin:0px;
	height:12px;
	padding:19px 0px;
	width:250px;
	text-align:center;
	line-height:12px;
	font-size:12px;
	font-weight:100 !important;
	color:#555;
}

#mal_control_strip #mal_cs_otherlinks div:first-child a {
	color:#555;
	font-weight:bold;
	transition:.2s;
}

#mal_control_strip #mal_cs_otherlinks div:nth-child(2) a {
	position:absolute;
	top:50px;
	left:250px;
	margin:0px;
	height:50px;
	width:110px;
	text-align:center;
	line-height:50px;
	font-size:12px;
	color:#555;
	transition:.2s;
	z-index:2;
}

#mal_control_strip #mal_cs_otherlinks div:nth-child(2) a[href*="/sharedanime.php"] {line-height:35px;}
#mal_control_strip #mal_cs_otherlinks div:nth-child(2) span {
	position:absolute;
	top:75px;
	left:250px;
	margin:0px;
	height:25px;
	width:110px;
	text-align:center;
	line-height:20px;
	font-size:12px;
	color:#555;
	z-index:1;
	transition:.2s;
}

#mal_control_strip #mal_cs_otherlinks div:nth-child(2) {color:transparent !important;}
#mal_control_strip #mal_cs_otherlinks div:nth-child(2) a:first-child:hover {box-shadow: 0px -5px 0px 0px #333 inset;}
#mal_control_strip #mal_cs_otherlinks div:nth-child(2) a:nth-of-type(2) {left:360px;width:70px;line-height:50px;}
#mal_control_strip #mal_cs_otherlinks div:nth-child(2) a:nth-of-type(3) {left:430px;width:70px;line-height:50px;}
#mal_control_strip #mal_cs_otherlinks div:nth-child(2) a:nth-of-type(n+2):hover {box-shadow: 0px -5px 0px 0px #333 inset;}

#mal_control_strip #mal_cs_otherlinks:nth-child(2) div:first-child {left:160px;width:340px;}
#mal_control_strip #mal_cs_otherlinks:nth-child(2) div:nth-child(2) a {left:160px;width:100px;}
#mal_control_strip #mal_cs_otherlinks:nth-child(2) div:nth-child(2) a:nth-of-type(2) {left:260px;width:140px;}
#mal_control_strip #mal_cs_otherlinks:nth-child(2) div:nth-child(2) a:nth-of-type(3) {left:400px;width:100px;}

#mal_cs_powered {display:none;}
#mal_cs_pic {background-color:#333;}

.table_header {
	display:none;
}

#list_surround table {
	margin-top:5px;
	margin-bottom:5px;
}

/*
 * HEADER
 */

table[class*='header_'] {
	position:relative;
	font-size:32px;
	font-weight:bold;
	letter-spacing:20px;
	color:#333;
	text-shadow:1px 1px 0px rgba(255,255,255,.5), -1px 1px 0px rgba(255,255,255,.5);
	text-shadow:0px 0px 1px #000;
	z-index: -1;
}

table[class*='header_'] tr {
	margin-top:40px;
	width:990px !important;
	height:20px !important;
	border:none !important;
	display:block;
}

table[class*='header'] + table {
	/*display:none !important;*/
}

.header_title {
	width: 990px;
	height:20px;
	background-color:rgba(0,0,0,.4);
	box-shadow:-15px 0px 0px rgba(0,0,0,.4),15px 0px 0px rgba(0,0,0,.4);
}

.header_title span {
	position:absolute;
	margin-top:-30px;
	margin-left: 120px;
}

/*
 * TABLE ENTRY 
 */

#list_surround table:nth-of-type(n+2) {
	display: inline;
	margin-left:4px;
}

#list_surround table:nth-of-type(n+2) tr {
	display:block;
	margin-bottom:5px;
	border:solid 1px white;
}

/* edit + more button */
td > div > small {
	display:none;
	position:absolute;
	top:275px;
	left:0px;
	width:190px;
	height:25px;
	box-shadow: 0px 1px 0px 0px #eee inset !important;
}

tr:hover td > div > small,
tr:hover td > div > small a {
	display:block;
	color:white;
}

tr:hover td > div > small a:hover {
	box-shadow: 0px 2px 0px 0px #eee inset !important;
}

/* edit */
.List_LightBox {
	position:absolute;
	left:20px;
	width:40px;
	padding-top:5px;
}

/* more */
a[id*="xmenu"] {
	position:absolute;
	right:20px;
	top:0px;
	width:40px;
	padding-top:5px;
}

/* airing status */
.animetitle + small {
	display:block;
	position:absolute;
	top:260px;
	width:190px;
	z-index:-1;
	background-color: rgba(255,255,0,0.5);
}

tr:hover .animetitle + small {
	z-index: 1;
	background-color:rgba(255,255,0,0.5);
}

/* number */
#list_surround table:nth-of-type(n+2) tr td:nth-of-type(1) {
	display:block;
	width:190px;
	height:300px;
/* 	background-color:rgba(0,0,100,0.3); */
	color:transparent;
}

#list_surround table:nth-of-type(n+2) tr:hover td:nth-of-type(1) {
	background-color:#333;
	margin-left:200px;
}

/* anime title */
#list_surround table:nth-of-type(n+2) tr td:nth-of-type(2) {
	display:inline;
	font-weight:bold;
	text-align: center;
	position:absolute;
	margin-top:-300px;
	width:190px;
	height:35px;
	background-color: white;
}

.animetitle:before {	
	content:"";
	display:block;
	position:absolute;
	background: url(https://myanimelist.cdn-dena.com/images/anime/4/19644.jpg);
/* 	background-color:#333; */
	background-size:cover;
	width:190px;
	height:300px;
	filter: grayscale(100%);
	opacity:0.8;
	z-index: -5;
}

#list_surround table:nth-of-type(n+2) tr:hover .animetitle:before {
	left:-200px !important;
	filter: grayscale(0%);
	opacity:1;
}

#list_surround table:nth-of-type(n+2) tr:hover td:nth-of-type(2) {
	background-color:transparent !important;
	border-bottom:1px solid #eee;
	left:200px;
}

tr:hover .animetitle {
	color: white;
}

/* score */
#list_surround table:nth-of-type(n+2) tr td:nth-of-type(3) {
	display:inline;
	height:21px;
	position:absolute;
	margin-top:-25px;
	padding-top:4px;
	width:60px;
	background-color:white;
}

#list_surround table:nth-of-type(n+2) tr:hover td:nth-of-type(3):before {
	content: "Score: ";
	font-weight:bold;
}

#list_surround table:nth-of-type(n+2) tr:hover td:nth-of-type(3), 
#list_surround table:nth-of-type(n+2) tr:hover td:nth-of-type(3) a {
	left:210px;
	top: 60px;
	width:190px !important;
	text-align:left;
	color:white;
	background-color: transparent !important;
}

/* type */
#list_surround table:nth-of-type(n+2) tr td:nth-of-type(4) {
	display:inline;
	height:21px;
	position:absolute;
	width:60px;
	margin-top:-25px;
	margin-left:60px;
	padding-top:4px;
	background-color:white;
}

#list_surround table:nth-of-type(n+2) tr:hover td:nth-of-type(4):before {
	content: "Type: ";
	font-weight:bold;
}

#list_surround table:nth-of-type(n+2) tr:hover td:nth-of-type(4) {
	left:150px;
	top:80px;
	width:190px !important;
	text-align:left;
	color: white;
	background-color: transparent !important;
}

/* episode */
#list_surround table:nth-of-type(n+2) tr td:nth-of-type(5) {
	display:inline;
	height:21px;
	position:absolute;
	width:70px;
	margin-top:-25px;
	margin-left:120px;
	padding-top:4px;
	background-color:white;;
}

#list_surround table:nth-of-type(n+2) tr:hover td:nth-of-type(5):before {
	content: "Episode: ";
	font-weight:bold;
}

#list_surround table:nth-of-type(n+2) tr:hover td:nth-of-type(5),
#list_surround table:nth-of-type(n+2) tr:hover td:nth-of-type(5) a {
	left:90px;
	top:100px;
	width:190px !important;
	text-align:left;
	color:white;
	background-color: transparent !important;
}

/* tags */
#list_surround table:nth-of-type(n+2) tr td:nth-of-type(6) {
	display:none;
}

#list_surround table:nth-of-type(n+2) tr:hover td:nth-of-type(6):before {
	content:"Review:";
	font-weight:bold;
}

#list_surround table:nth-of-type(n+2) tr:hover td:nth-of-type(6) {
	display: block !important;
	position: absolute;
	width:170px;
	left: 210px;
	top:98px;
	color: white;
}

#list_surround table:nth-of-type(n+2) tr:hover td:nth-of-type(6) a {
	color: white;
}

/*
 * CATEGORY BOX 
 */

.category_totals {
	display:block;
	width: 170px !important;	
	height:300px !important;
	font-size:12px;
	padding-right:10px;
	padding-left:10px;
	line-height:20px;
	text-align:center;
	color:black !important;
}

.category_totals:before {
	content: "Total";
	display:block;
	width:190px;
	height:35px;
	text-align:center;
	margin-left:-10px;
	margin-bottom: 10px;
	font-weight:bold;
	font-size:14px;
	background-color: white;
}

tr:hover .category_totals {
	color:white !important;
}

tr:hover .category_totals:before {
	background-color:#333;
	border-bottom:1px solid #eee;
}

tr:hover .category_totals:after {
	content:'';
	position:absolute;
	width:190px;
	height:300px;
	left:0px;
	top:0px;
	background-color: #333;
}

#grand_totals:before {content:'Totals: '; font-weight:bold;}

#grand_totals {
	position:absolute;
	top:0px;
	left:0px;
	height:20px;
	line-height:20px;
	font-size:12px;
	padding:0 10px;
	text-align:left;
	color:rgba(0,0,0,0.5);
	transition: all 0.15s ease-in-out 0s;
}

#grand_totals:hover {color:#000;}

/*
 * EXPANDING FIELD
 */

#list_surround .hide + table:active tr, 
#list_surround .hide + table tr:hover, 
#list_surround table[class*=header] + table + table:active tr, 
#list_surround table[class*=header] + table + table tr:hover {
	background-color:#333;
	display:block;
	position:relative;
/* 	left:200px; */
/* 	top:-5px; */
	width:390px;
	height:300px;
/* 	margin-top:0px; */
/* 	margin-bottom:-5px; */
/* 	margin-left:0%; */
/* 	margin-right:0%; */
	pointer-events:auto !important;
	cursor:auto;
	z-index:1 !important;
}

#list_surround .hide + table, 
#list_surround table[class*=header] + table + table {cursor:pointer;}

#list_surround .hide + table tr, 
#list_surround table[class*=header] + table + table tr {
	pointer-events:none;
	z-index:-1 !important;
/* 	height:0px; */
}

#list_surround table[class*=header_cw] + table ~ table tr:hover {background:linear-gradient(#333, blue);}
#list_surround table[class*=header_completed] + table ~ table tr:hover {background:linear-gradient(#333, green);}
#list_surround table[class*=header_onhold] + table ~ table tr:hover {background:linear-gradient(#333, yellow);}
#list_surround table[class*=header_dropped] + table ~ table tr:hover {background:linear-gradient(#333, red);}
#list_surround table[class*=header_ptw] + table ~ table tr:hover {background:linear-gradient(#333, orange);}

/* 
 * COPYRIGHT
 */

#list_surround:after {
	content:"";
	display:block;
	width:1px;
	height:100px;
	position:absolute;
}

#copyright:before {
	content:'Style created by dzikibambus and modified  by rl404.\a';
	white-space:pre-wrap;
}

#copyright {
	padding:50px 0px 50px 0px;
/* 	margin-top:-25px !important; */
	color:#fff;
	text-shadow:0px 0px 0.5px #fff;
	background-color:#333;
}

/* 
 * SCORE + EPISODE INPUT
 */

div[id*="scorediv"] {
	width:100px;
	position:absolute;
	right:0px;
	top:5px;
}

span[id*='epLayer'] {
	width:100px;
	position:absolute;
	right:0px;
	top:3px;
}

input[id*='epID'] {
	width:50px;
}

div[id*="scorediv"] input[type=text], input[id*='epID'] {
	background-color:transparent;
	border:solid 1px white;
	width:50%;
	right: 0px;
	color:white;
	font-family: "Century Gothic";
	text-align:center;
}

div[id*="scorediv"] input[type=button], span[id*='epLayer'] input:last-of-type {
	background: none;
    border: none;
    cursor: pointer;
    outline: inherit;
	color:#eee;
}

div[id*="scorediv"] input[type=button]:hover, span[id*='epLayer'] input:last-of-type:hover {
	border-bottom:1px solid #eee;
}

span[id*='epLayer'] input:last-of-type {
	width:30px;
	position:absolute;
	right:15px;
	top:2px;
} 

/*
 * TAG (REVIEW) TEXTAREA 
 */

textarea.inputtext {
	width:165px;
	height:130px;
	background-color:transparent;
	color:#eee;
	font-family: "Century Gothic";
	font-size:13px;
}

td[class*=td]:nth-of-type(6) input {
	background: none;
    border: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;
	color:#eee;
}

td[class*=td]:nth-of-type(6) input:hover {
	border-bottom:1px solid #eee;
}

/* 
 * SORTING
 */

#list_surround table[class*=header_] + table {
	display: table;
	width:300px;
	position:absolute;
	margin-top: -25px;
	margin-left:700px;
}

#list_surround table[class*=header_] + table tr,
#list_surround table[class*=header_] + table tr:hover {
	display:table-row;
	background: transparent !important;
	border:none;
}

#list_surround table[class*=header_] + table tr td,
#list_surround table[class*=header_] + table tr:hover td {
	display:table-cell !important;
	position:static !important;
	margin:0px !important;
	padding:0px !important;
	height:20px !important;
	color:white !important;
	width:50px !important;
	background: transparent !important;
	text-align:center !important;
	border: none !important;
}

#list_surround table[class*=header_] + table tr td:first-of-type,
#list_surround table[class*=header_] + table tr td:last-child {
	display:none !important;
}

#list_surround table[class*=header_] + table a {
	color:white !important;
}

#list_surround table[class*=header_] + table a:hover {
	color:#777 !important;
}

#list_surround table[class*=header_] + table tr td:before {
	display:none !important;
}

#list_surround table[class*=header_] + table tr td:nth-of-type(2):before {
	content:'Sort by: ';
	display:block !important;
	position:absolute;
	width:50px;
	height:20px;
	margin-left:-60px;
}