#scoreval32, 
#scoreval31 {
	position: relative;
	left:-5px;
}
#scoreval32:after, 
#scoreval31:after {
	position: absolute;
	left: 7px;
	text-align: left;
	content: ".5";
}

tr:hover #scoreval32,
tr:hover #scoreval31 {
	position: relative;
	left:-90px;
}

tr:hover #scoreval32:after,
tr:hover #scoreval31:after {
	position: absolute;
	font-size: 220px;
	left:123px;
}