/* size 1210x420 */

tr:hover td div small a[id*="xmenu"] {
  width: 100%;
  height: 100%;
  visibility: visible;
  color: transparent;
  top: 0px;
}

/* No game no life */

tr:hover #xmenu19815 {
  background: url(https://raw.githubusercontent.com/rl404/MyAnimeList/v1.3.1/Expander/images/shiro.png) no-repeat,
    url(https://raw.githubusercontent.com/rl404/MyAnimeList/v1.3.1/Madoka/images/star1.png),
    url(https://raw.githubusercontent.com/rl404/MyAnimeList/v1.3.1/Madoka/images/star1.png),
    url(https://raw.githubusercontent.com/rl404/MyAnimeList/v1.3.1/Madoka/images/star2.png),
    url("https://raw.githubusercontent.com/rl404/MyAnimeList/v1.3.1/Expander/images/ngnl.png");
  background-size: 200px, auto, 420px, 1000px, cover;
  animation: shiro 15s linear infinite;
}

/* No game zero */

tr:hover #xmenu33674 {
  background: url(https://raw.githubusercontent.com/rl404/MyAnimeList/v1.3.1/Expander/images/overlay.png),
    url(https://raw.githubusercontent.com/rl404/MyAnimeList/v1.3.1/Expander/images/ngnl2.jpg) center;
  background-size: cover;
}

@keyframes shiro {
  0% {
    background-position: calc(100% + 200px) 100%, 0 0, 0 0, 0 0, top;
  }
  50% {
    background-position: 100% 100%, 0 -150px, 0 -420px, 0 -1000px, top;
  }
  100% {
    background-position: calc(100% + 600px) 100%, 0 -300px, 0 -840px, 0px -2000px, top;
  }
}

/* Angel beats */

tr:hover #xmenu6547 {
  background: url(https://raw.githubusercontent.com/rl404/MyAnimeList/v1.3.1/Expander/images/overlay.png),
    url(https://raw.githubusercontent.com/rl404/MyAnimeList/v1.3.1/Expander/images/ab.jpg);
  background-size: 100%, 100%;
  background-repeat: no-repeat;
  background-position: 100% 100%, top center;
  animation: ab 15s linear;
}

@keyframes ab {
  0% {
    background-position: 100% 100%, bottom center;
  }
  100% {
    background-position: 100% 100%, top center;
  }
}

/* Kotonoha no niwa */

tr:hover #xmenu16782 {
  background: url(https://raw.githubusercontent.com/rl404/MyAnimeList/v1.3.1/Expander/images/rain.gif),
    url(https://raw.githubusercontent.com/rl404/MyAnimeList/v1.3.1/Expander/images/rain.gif),
    url(https://raw.githubusercontent.com/rl404/MyAnimeList/v1.3.1/Expander/images/rain.gif),
    url(https://raw.githubusercontent.com/rl404/MyAnimeList/v1.3.1/Expander/images/overlay.png),
    url("https://raw.githubusercontent.com/rl404/MyAnimeList/v1.3.1/Expander/images/gow.jpg");
  background-size: 747px 5000px, 747px 1000px, 747px, 100%, cover;
  background-position: 0 0, 50% 0, 0 0, center;
}

/* Gurren Lagann */

tr:hover #xmenu2001 {
  background: url(https://raw.githubusercontent.com/rl404/MyAnimeList/v1.3.1/Expander/images/ttgl2.gif),
    url(https://raw.githubusercontent.com/rl404/MyAnimeList/v1.3.1/Expander/images/overlay.png),
    url(https://raw.githubusercontent.com/rl404/MyAnimeList/v1.3.1/Expander/images/ttgl.jpg);
  background-size: 200px, 100%, cover;
  background-repeat: no-repeat;
  background-position: -20% 100%, 0, bottom center;
  animation: ttgl 15s linear;
}

@keyframes ttgl {
  0% {
    background-position: 130% 100%, 0, top center;
  }
  100% {
    background-position: -20% 100%, 0, bottom center;
  }
}

/* Clannad */

tr:hover #xmenu2167 {
  background: url(https://raw.githubusercontent.com/rl404/MyAnimeList/v1.3.1/Expander/images/ubw2.png),
    url(https://raw.githubusercontent.com/rl404/MyAnimeList/v1.3.1/Expander/images/5cm2.gif),
    url(https://raw.githubusercontent.com/rl404/MyAnimeList/v1.3.1/Expander/images/5cm2.gif),
    url(https://raw.githubusercontent.com/rl404/MyAnimeList/v1.3.1/Expander/images/5cm2.gif),
    url(https://raw.githubusercontent.com/rl404/MyAnimeList/v1.3.1/Expander/images/clannad.jpg);
  background-size: 100%, 15%, 30%, 100%, cover;
  background-position: 0 0, 20% 0, 0 0, 0 0, center;
}

/* clannad after story */

tr:hover #xmenu4181 {
  background: url(https://raw.githubusercontent.com/rl404/MyAnimeList/v1.3.1/Expander/images/star1.png),
    url(https://raw.githubusercontent.com/rl404/MyAnimeList/v1.3.1/Expander/images/star1.png),
    url(https://raw.githubusercontent.com/rl404/MyAnimeList/v1.3.1/Expander/images/star2.png),
    url(https://raw.githubusercontent.com/rl404/MyAnimeList/v1.3.1/Expander/images/overlay.png),
    url(https://raw.githubusercontent.com/rl404/MyAnimeList/v1.3.1/Expander/images/clannadas.jpg);
  background-size: auto, 420px, 1000px, 100%, cover;
  animation: sparkle2 15s linear infinite;
}

@keyframes sparkle2 {
  0% {
    background-position: 0 0, 0 0, 0 0, 0, 0 0;
  }
  100% {
    background-position: 0 -300px, 0px -840px, 0px -2000px, 0, 0 0;
  }
}

/* STEINS GATE */

tr:hover #xmenu9253 {
  background: url(https://raw.githubusercontent.com/rl404/MyAnimeList/v1.3.1/Expander/images/sg3.gif),
    url(https://raw.githubusercontent.com/rl404/MyAnimeList/v1.3.1/Expander/images/sg2.gif),
    url(https://raw.githubusercontent.com/rl404/MyAnimeList/v1.3.1/Expander/images/overlay.png),
    url(https://raw.githubusercontent.com/rl404/MyAnimeList/v1.3.1/Expander/images/sg.jpg);
  background-size: 200px, 150px, 100%, cover;
  background-repeat: no-repeat;
  background-position: 100% 200%, 0% -50%, 0, center;
  animation: sg 12s linear infinite;
}

@keyframes sg {
  0% {
    background-position: 100% 200%, 0% -50%, 0, center;
  }
  16.5% {
    background-position: 100% 100%, 0% -50%, 0, center;
  }
  33.2% {
    background-position: 100% 100%, 0% -50%, 0, center;
  }
  50% {
    background-position: 100% 200%, 0% -50%, 0, center;
  }
  54% {
    background-position: 100% 200%, 0% 0%, 0, center;
  }
  98% {
    background-position: 100% 200%, 0% 0%, 0, center;
  }
  100% {
    background-position: 100% 200%, 0% -50%, 0, center;
  }
}

/* Steins gate 0 */

tr:hover #xmenu30484 {
  background: url(https://raw.githubusercontent.com/rl404/MyAnimeList/v1.3.1/Expander/images/overlay.png),
    url(https://raw.githubusercontent.com/rl404/MyAnimeList/v1.3.1/Expander/images/sg0.jpg);
  background-size: 100%;
}

/* UBW */

tr:hover #xmenu28701,
tr:hover #xmenu22297 {
  background: url(https://raw.githubusercontent.com/rl404/MyAnimeList/v1.3.1/Expander/images/ubw2.png),
    url(https://raw.githubusercontent.com/rl404/MyAnimeList/v1.3.1/Expander/images/ubw.gif);
  background-size: 100%, cover;
  background-position: bottom;
}

/* madoka */

tr:hover #xmenu9756 {
  background: url(https://raw.githubusercontent.com/rl404/MyAnimeList/v1.3.1/Expander/images/ubw2.png),
    url(https://raw.githubusercontent.com/rl404/MyAnimeList/v1.3.1/Expander/images/kyubey.gif) left center;
  background-size: 100%, cover;
}

tr:hover .animetitle[href*="/9756/"]:hover:before {
  content: "NO!";
  background: url(https://raw.githubusercontent.com/rl404/MyAnimeList/v1.3.1/Expander/images/kyubey2.gif) bottom
    no-repeat;
  background-size: 206px, auto;
  color: red;
  padding-top: 50px;
  height: 241px;
}

/* Shoujo shuumatsu */

tr:hover #xmenu35838 {
  background: url(https://raw.githubusercontent.com/rl404/MyAnimeList/v1.3.1/Expander/images/snow1.png),
    url(https://raw.githubusercontent.com/rl404/MyAnimeList/v1.3.1/Expander/images/snow1.png),
    url(https://raw.githubusercontent.com/rl404/MyAnimeList/v1.3.1/Expander/images/snow2.png),
    url(https://raw.githubusercontent.com/rl404/MyAnimeList/v1.3.1/Expander/images/shuumatsu.png);
  background-size: auto, 420px, 1000px, cover;
  animation: snow1 15s linear infinite;
}

/* guilty crown */

tr:hover #xmenu10793 {
  background: url(https://raw.githubusercontent.com/rl404/MyAnimeList/v1.3.1/Expander/images/ubw2.png),
    url(https://raw.githubusercontent.com/rl404/MyAnimeList/v1.3.1/Expander/images/gc.gif);
  background-size: cover;
}

/* Neon Genesis Eva */

tr:hover #xmenu30 {
  background: url(https://raw.githubusercontent.com/rl404/MyAnimeList/v1.3.1/Expander/images/overlay.png),
    url(https://raw.githubusercontent.com/rl404/MyAnimeList/v1.3.1/Expander/images/neon.jpg) center;
  background-size: cover;
}

/* end of eva */

tr:hover #xmenu32 {
  background: url(https://raw.githubusercontent.com/rl404/MyAnimeList/v1.3.1/Expander/images/rain2.gif),
    url(https://raw.githubusercontent.com/rl404/MyAnimeList/v1.3.1/Expander/images/rain2.gif),
    url(https://raw.githubusercontent.com/rl404/MyAnimeList/v1.3.1/Expander/images/rain2.gif),
    url(https://raw.githubusercontent.com/rl404/MyAnimeList/v1.3.1/Expander/images/overlay.png),
    url(https://raw.githubusercontent.com/rl404/MyAnimeList/v1.3.1/Expander/images/eva.jpg);
  background-size: 747px 5000px, 747px 1000px, 747px, 100%, cover;
  background-position: 0 0, 50% 0, 0 0, center;
}

/* nichijou */

tr:hover #xmenu10165 {
  background: url(https://raw.githubusercontent.com/rl404/MyAnimeList/v1.3.1/Expander/images/ubw2.png),
    url(https://raw.githubusercontent.com/rl404/MyAnimeList/v1.3.1/Expander/images/nichijou.gif) left center;
  background-size: cover;
}

/* akame */

tr:hover #xmenu22199 {
  background: url(https://raw.githubusercontent.com/rl404/MyAnimeList/v1.3.1/Expander/images/ubw2.png),
    url(https://raw.githubusercontent.com/rl404/MyAnimeList/v1.3.1/Expander/images/akame.gif);
  background-size: 100%, cover;
  background-position: bottom;
}

/* totoro */

tr:hover #xmenu523 {
  background: url(https://raw.githubusercontent.com/rl404/MyAnimeList/v1.3.1/Expander/images/rain.gif),
    url(https://raw.githubusercontent.com/rl404/MyAnimeList/v1.3.1/Expander/images/rain.gif),
    url(https://raw.githubusercontent.com/rl404/MyAnimeList/v1.3.1/Expander/images/rain.gif),
    url(https://raw.githubusercontent.com/rl404/MyAnimeList/v1.3.1/Expander/images/totoro.png);
  background-size: 747px 5000px, 747px 1000px, 747px, cover;
  background-position: 0 0, 50% 0, 0 0, center;
}

/* 5cm */

tr:hover #xmenu1689 {
  background: url(https://raw.githubusercontent.com/rl404/MyAnimeList/v1.3.1/Expander/images/ubw2.png),
    url(https://raw.githubusercontent.com/rl404/MyAnimeList/v1.3.1/Expander/images/5cm2.gif),
    url(https://raw.githubusercontent.com/rl404/MyAnimeList/v1.3.1/Expander/images/5cm2.gif),
    url(https://raw.githubusercontent.com/rl404/MyAnimeList/v1.3.1/Expander/images/5cm2.gif),
    url(https://raw.githubusercontent.com/rl404/MyAnimeList/v1.3.1/Expander/images/5cm.png);
  background-size: 100%, 15%, 30%, 100%, cover;
  background-position: 0 0, 20% 0, 0 0, 0 0, left bottom;
}

/* carnival phantasm */

tr:hover #xmenu10012 {
  background: url(https://raw.githubusercontent.com/rl404/MyAnimeList/v1.3.1/Expander/images/bersercar.png),
    url(https://raw.githubusercontent.com/rl404/MyAnimeList/v1.3.1/Expander/images/ubw2.png),
    url(https://raw.githubusercontent.com/rl404/MyAnimeList/v1.3.1/Expander/images/lion1.gif),
    url(https://raw.githubusercontent.com/rl404/MyAnimeList/v1.3.1/Expander/images/lion2.gif),
    url(https://raw.githubusercontent.com/rl404/MyAnimeList/v1.3.1/Expander/images/lion3.gif),
    url(https://raw.githubusercontent.com/rl404/MyAnimeList/v1.3.1/Expander/images/lion4.gif),
    url(https://raw.githubusercontent.com/rl404/MyAnimeList/v1.3.1/Expander/images/lion5.gif),
    url(https://raw.githubusercontent.com/rl404/MyAnimeList/v1.3.1/Expander/images/lion6.gif),
    url(https://raw.githubusercontent.com/rl404/MyAnimeList/v1.3.1/Expander/images/lion7.gif),
    url(https://raw.githubusercontent.com/rl404/MyAnimeList/v1.3.1/Expander/images/lion1.gif),
    url(https://raw.githubusercontent.com/rl404/MyAnimeList/v1.3.1/Expander/images/lion2.gif);
  background-size: 200px, 100%, 755px, 755px, 755px, 755px, 755px, 755px, 755px, 755px, 755px;
  background-repeat: no-repeat;
  background-position: 150% 100%, 0 0, 0 0, 755px 0, 1510px 0, 2265px 0, 3020px 0, 3775px 0, 4530px 0, 5285px 0,
    6040px 0;
  animation: cp 72s linear infinite;
}

@keyframes cp {
  0% {
    background-position: 150% 100%, 0 0, 0 0, 755px 0, 1510px 0, 2265px 0, 3020px 0, 3775px 0, 4530px 0, 5285px 0,
      6040px 0;
  }
  100% {
    background-position: -6000px 100%, 0 0, -5285px 0, -4530px 0, -3775px 0, -3020px 0, -2265px 0, -1510px 0, -755px 0,
      0px 0, 755px 0;
  }
}

/* bakemonogatari */

tr:hover #xmenu5081 {
  background: url(https://raw.githubusercontent.com/rl404/MyAnimeList/v1.3.1/Expander/images/snow1.png),
    url(https://raw.githubusercontent.com/rl404/MyAnimeList/v1.3.1/Expander/images/snow1.png),
    url(https://raw.githubusercontent.com/rl404/MyAnimeList/v1.3.1/Expander/images/snow2.png),
    url(https://raw.githubusercontent.com/rl404/MyAnimeList/v1.3.1/Expander/images/bakemonogatari.png);
  background-size: auto, 420px, 1000px, cover;
  animation: snow1 15s linear infinite;
}

@keyframes snow1 {
  0% {
    background-position: 0 -300px, 0px -840px, 0px -2000px, right;
  }
  100% {
    background-position: 0 0, 0 0, 0 0, right;
  }
}

/* suzumiya haruhi no shoushitsu */

tr:hover #xmenu7311 {
  background: url(https://raw.githubusercontent.com/rl404/MyAnimeList/v1.3.1/Expander/images/snow1.png),
    url(https://raw.githubusercontent.com/rl404/MyAnimeList/v1.3.1/Expander/images/snow1.png),
    url(https://raw.githubusercontent.com/rl404/MyAnimeList/v1.3.1/Expander/images/snow2.png),
    url(https://raw.githubusercontent.com/rl404/MyAnimeList/v1.3.1/Expander/images/shns.png);
  background-size: auto, 420px, 1000px, cover;
  animation: snow1 15s linear infinite;
}

/* fate zero */

tr:hover #xmenu11741 {
  background: url(https://raw.githubusercontent.com/rl404/MyAnimeList/v1.3.1/Expander/images/star-m-1.png),
    url(https://raw.githubusercontent.com/rl404/MyAnimeList/v1.3.1/Expander/images/star-m-2.png),
    url(https://raw.githubusercontent.com/rl404/MyAnimeList/v1.3.1/Expander/images/star-m-2.png),
    url(https://raw.githubusercontent.com/rl404/MyAnimeList/v1.3.1/Expander/images/fatezero.png);
  background-size: auto, 420px, 1000px, cover;
  animation: sparkle2 15s linear infinite;
}

/* yozakura no quartet */

tr:hover #xmenu18497 {
  background: url(https://raw.githubusercontent.com/rl404/MyAnimeList/v1.3.1/Expander/images/ubw2.png),
    url(https://raw.githubusercontent.com/rl404/MyAnimeList/v1.3.1/Expander/images/5cm2.gif),
    url(https://raw.githubusercontent.com/rl404/MyAnimeList/v1.3.1/Expander/images/5cm2.gif),
    url(https://raw.githubusercontent.com/rl404/MyAnimeList/v1.3.1/Expander/images/5cm2.gif),
    url(https://raw.githubusercontent.com/rl404/MyAnimeList/v1.3.1/Expander/images/yq.png);
  background-size: 100%, 15%, 30%, 100%, cover;
  background-position: 0 0, 20% 0, 0 0, 0 0, top;
}

tr:hover .animetitle[href*="/18497/"]:hover:before {
  background: url(https://raw.githubusercontent.com/rl404/MyAnimeList/v1.3.1/Expander/images/yq2.gif) center center
    no-repeat;
  background-size: 481px;
  padding-top: 50px;
  height: 241px;
}

/* girl und panzer */

tr:hover #xmenu14131 {
  background: url(https://raw.githubusercontent.com/rl404/MyAnimeList/v1.3.1/Expander/images/ubw2.png),
    url(https://raw.githubusercontent.com/rl404/MyAnimeList/v1.3.1/Expander/images/gup.gif),
    url(https://raw.githubusercontent.com/rl404/MyAnimeList/v1.3.1/Expander/images/gup.png) bottom;
  background-size: 100%, 2720px, cover;
  animation: scroll 60s linear infinite;
}

@keyframes scroll {
  0% {
    background-position: 0 0, 0, bottom;
  }
  100% {
    background-position: 0 0, -2720px, bottom;
  }
}

/* girls und panzer movie */

tr:hover #xmenu18617 {
  background: url(https://raw.githubusercontent.com/rl404/MyAnimeList/v1.3.1/Expander/images/ubw2.png),
    url(https://raw.githubusercontent.com/rl404/MyAnimeList/v1.3.1/Expander/images/gup2.gif),
    url(https://raw.githubusercontent.com/rl404/MyAnimeList/v1.3.1/Expander/images/gup.png) bottom;
  background-size: 100%, 819px, cover;
  animation: scroll2 30s linear infinite;
}

@keyframes scroll2 {
  0% {
    background-position: 0 0, 0, bottom;
  }
  100% {
    background-position: 0 0, -819px, bottom;
  }
}

/* girls und panzer arisu */

tr:hover #xmenu32740 {
  background: url(https://raw.githubusercontent.com/rl404/MyAnimeList/v1.3.1/Expander/images/ubw2.png),
    url(https://raw.githubusercontent.com/rl404/MyAnimeList/v1.3.1/Expander/images/gup3.gif),
    url(https://raw.githubusercontent.com/rl404/MyAnimeList/v1.3.1/Expander/images/gup.png) bottom;
  background-size: 100%, 375px, cover;
  animation: scroll3 10s linear infinite;
}

@keyframes scroll3 {
  0% {
    background-position: 0 0, 0, bottom;
  }
  100% {
    background-position: 0 0, -375px, bottom;
  }
}

/* chuunibyou */

tr:hover #xmenu18671,
tr:hover #xmenu14741 {
  background: url(https://raw.githubusercontent.com/rl404/MyAnimeList/v1.3.1/Expander/images/chuuni.png);
  background-size: cover;
}

tr:hover .animetitle[href*="/18671/"]:hover:before,
tr:hover .animetitle[href*="/14741/"]:hover:before {
  background: url(https://raw.githubusercontent.com/rl404/MyAnimeList/v1.3.1/Expander/images/chuuni.gif) left center
      no-repeat,
    black;
  background-size: 100%;
}

/* kill la kill */

tr:hover #xmenu18679 {
  background: url(https://raw.githubusercontent.com/rl404/MyAnimeList/v1.3.1/Expander/images/rain2.gif),
    url(https://raw.githubusercontent.com/rl404/MyAnimeList/v1.3.1/Expander/images/rain2.gif),
    url(https://raw.githubusercontent.com/rl404/MyAnimeList/v1.3.1/Expander/images/rain2.gif),
    url(https://raw.githubusercontent.com/rl404/MyAnimeList/v1.3.1/Expander/images/killlakill.png);
  background-size: 747px 5000px, 747px 1000px, 747px, cover;
  background-position: 0 0, 50% 0, 0 0, center;
}

/* noucome */

tr:hover #xmenu19221 {
  background: url(https://raw.githubusercontent.com/rl404/MyAnimeList/v1.3.1/Expander/images/noucome.png);
  background-size: cover;
}

tr:hover .animetitle[href*="/19221/"]:hover:before {
  background: url(https://raw.githubusercontent.com/rl404/MyAnimeList/v1.3.1/Expander/images/noucome.gif) top no-repeat;
  background-size: cover;
}

/* outbreak */

tr:hover #xmenu19369 {
  background: url(https://raw.githubusercontent.com/rl404/MyAnimeList/v1.3.1/Expander/images/outbreak.png);
  background-size: cover;
}

/* akuma no riddle */

tr:hover #xmenu19429 {
  background: url(https://raw.githubusercontent.com/rl404/MyAnimeList/v1.3.1/Expander/images/anr.png);
  background-size: cover;
}

/* tokyo ghoul */

tr:hover #xmenu22319 {
  background: url(https://raw.githubusercontent.com/rl404/MyAnimeList/v1.3.1/Expander/images/rain2.gif),
    url(https://raw.githubusercontent.com/rl404/MyAnimeList/v1.3.1/Expander/images/rain2.gif),
    url(https://raw.githubusercontent.com/rl404/MyAnimeList/v1.3.1/Expander/images/rain2.gif),
    url(https://raw.githubusercontent.com/rl404/MyAnimeList/v1.3.1/Expander/images/tg.png);
  background-size: 747px 5000px, 747px 1000px, 747px, cover;
  background-position: 0 0, 50% 0, 0 0, center;
}

tr:hover .animetitle[href*="anime/22319/"]:after {
  content: "";
}

tr:hover .animetitle[href*="anime/22319/"]:hover:after {
  content: "1000 - 7";
  position: absolute;
  margin-left: 10px;
  margin-top: -2px;
  color: red;
  font-weight: bold;
  font-family: arial, sans-serif;
  text-shadow: 0px 0px 5px black;
  font-size: 15px;
  pointer-events: none;
  transform: rotate(8deg);
}

/* shigatsu */

tr:hover #xmenu23273 {
  background: url(https://raw.githubusercontent.com/rl404/MyAnimeList/v1.3.1/Expander/images/ubw2.png),
    url(https://raw.githubusercontent.com/rl404/MyAnimeList/v1.3.1/Expander/images/5cm2.gif),
    url(https://raw.githubusercontent.com/rl404/MyAnimeList/v1.3.1/Expander/images/5cm2.gif),
    url(https://raw.githubusercontent.com/rl404/MyAnimeList/v1.3.1/Expander/images/5cm2.gif),
    url(https://raw.githubusercontent.com/rl404/MyAnimeList/v1.3.1/Expander/images/shigatsu.png);
  background-size: 100%, 15%, 30%, 100%, cover;
  background-position: 0 0, 20% 0, 0 0, 0 0, top;
}

/* nanatsu no taizai */

tr:hover #xmenu23755 {
  background: url(https://raw.githubusercontent.com/rl404/MyAnimeList/v1.3.1/Expander/images/rain2.gif),
    url(https://raw.githubusercontent.com/rl404/MyAnimeList/v1.3.1/Expander/images/rain2.gif),
    url(https://raw.githubusercontent.com/rl404/MyAnimeList/v1.3.1/Expander/images/rain2.gif),
    url(https://raw.githubusercontent.com/rl404/MyAnimeList/v1.3.1/Expander/images/nnt.png);
  background-size: 747px 5000px, 747px 1000px, 747px, 2089px;
  background-position: 0, 50%, 0, 0;
  animation: scroll4 30s linear infinite;
}

@keyframes scroll4 {
  0% {
    background-position: 0, 50%, 0, 0;
  }
  100% {
    background-position: 0, 50%, 0, -2089px;
  }
}

tr:hover #xmenu34577 {
  background: url(https://raw.githubusercontent.com/rl404/MyAnimeList/v1.3.1/Expander/images/ubw2.png),
    url(https://raw.githubusercontent.com/rl404/MyAnimeList/v1.3.1/Expander/images/nnt2.jpg) center;
  background-size: cover;
}

/* tsukimonogatari */

tr:hover #xmenu28025 {
  background: url(https://raw.githubusercontent.com/rl404/MyAnimeList/v1.3.1/Expander/images/tsukimonogatari.png);
  background-size: cover;
}

/* monogatari 2nd season */

tr:hover #xmenu17074 {
  background: url(https://raw.githubusercontent.com/rl404/MyAnimeList/v1.3.1/Expander/images/monogatari2nd.png);
  background-size: cover;
  animation: scroll5 30s linear infinite;
}

@keyframes scroll5 {
  0% {
    background-position: 0;
  }
  100% {
    background-position: -1200px;
  }
}

/* charlotte */

tr:hover #xmenu28999 {
  background: url(https://raw.githubusercontent.com/rl404/MyAnimeList/v1.3.1/Expander/images/charlotte.png);
  background-size: cover;
}

/* grisaia no rakuen */

tr:hover #xmenu17729 {
  background: url(https://raw.githubusercontent.com/rl404/MyAnimeList/v1.3.1/Expander/images/rakuen.png);
  background-size: cover;
}

/* grisaia no kajitsu */

tr:hover #xmenu29095 {
  background: url(https://raw.githubusercontent.com/rl404/MyAnimeList/v1.3.1/Expander/images/kajitsu.png);
  background-size: cover;
}

/* grisaia 0 */

tr:hover #xmenu29093 {
  background: url(https://raw.githubusercontent.com/rl404/MyAnimeList/v1.3.1/Expander/images/grisaia0.png);
  background-size: cover;
}

/* overlord */

tr:hover #xmenu29803 {
  background: url(https://raw.githubusercontent.com/rl404/MyAnimeList/v1.3.1/Expander/images/overlord.png);
  background-size: cover;
}

/* one punch man */

tr:hover #xmenu30276 {
  background: url(https://raw.githubusercontent.com/rl404/MyAnimeList/v1.3.1/Expander/images/star-m-1.png),
    url(https://raw.githubusercontent.com/rl404/MyAnimeList/v1.3.1/Expander/images/star-m-2.png),
    url(https://raw.githubusercontent.com/rl404/MyAnimeList/v1.3.1/Expander/images/star-m-2.png),
    url(https://raw.githubusercontent.com/rl404/MyAnimeList/v1.3.1/Expander/images/opm.png);
  background-size: auto, 420px, 1000px, cover;
  animation: sparkle2 15s linear infinite;
}

tr:hover .animetitle[href*="/30276/"]:hover:before {
  background: url(https://raw.githubusercontent.com/rl404/MyAnimeList/v1.3.1/Expander/images/opm2.png) top no-repeat;
  background-size: cover;
}

/* ansatsu */

tr:hover #xmenu24833 {
  background: url(https://raw.githubusercontent.com/rl404/MyAnimeList/v1.3.1/Expander/images/ansatsu.png);
  background-size: cover;
}

/* ansatsu 2 */

tr:hover #xmenu30654 {
  background: url(https://raw.githubusercontent.com/rl404/MyAnimeList/v1.3.1/Expander/images/star-m-1.png),
    url(https://raw.githubusercontent.com/rl404/MyAnimeList/v1.3.1/Expander/images/star-m-2.png),
    url(https://raw.githubusercontent.com/rl404/MyAnimeList/v1.3.1/Expander/images/star-m-2.png),
    url(https://raw.githubusercontent.com/rl404/MyAnimeList/v1.3.1/Expander/images/ansatsu2.png);
  background-size: auto, 420px, 1000px, cover;
  animation: sparkle2 15s linear infinite;
}

/* owarimonogatari */

tr:hover #xmenu31181 {
  background: url(https://raw.githubusercontent.com/rl404/MyAnimeList/v1.3.1/Expander/images/owarimonogatari.png) center;
  background-size: cover;
}

/* owarimonogatari 2 */

tr:hover #xmenu35247 {
  background: url(https://raw.githubusercontent.com/rl404/MyAnimeList/v1.3.1/Expander/images/ubw2.png),
    url(https://raw.githubusercontent.com/rl404/MyAnimeList/v1.3.1/Expander/images/owarimonogatari2.gif) top center;
  background-size: cover;
}

/* flying witch */

tr:hover #xmenu31376 {
  background: url(https://raw.githubusercontent.com/rl404/MyAnimeList/v1.3.1/Expander/images/flyingwitch.png);
  background-size: cover;
}

/* sao os */

tr:hover #xmenu31765 {
  background: url(https://raw.githubusercontent.com/rl404/MyAnimeList/v1.3.1/Expander/images/saoos.png) center;
  background-size: cover;
}

/* konobi */

tr:hover #xmenu31952 {
  background: url(https://raw.githubusercontent.com/rl404/MyAnimeList/v1.3.1/Expander/images/konobi.png) center;
  background-size: cover;
}

tr:hover .animetitle[href*="/31952/"]:hover:before {
  background: url(https://raw.githubusercontent.com/rl404/MyAnimeList/v1.3.1/Expander/images/konobi.gif);
  background-size: cover;
}

/* kimi no na wa */

tr:hover #xmenu32281 {
  background: url(https://raw.githubusercontent.com/rl404/MyAnimeList/v1.3.1/Expander/images/kiminonawa.png);
  background-size: cover;
}

/* Kizumonogatari 1 */

tr:hover #xmenu9260 {
  background: url(https://raw.githubusercontent.com/rl404/MyAnimeList/v1.3.1/Expander/images/kz1.png);
  background-size: cover;
}

/* Kizumonogatari 2 */

tr:hover #xmenu31757 {
  background: url(https://raw.githubusercontent.com/rl404/MyAnimeList/v1.3.1/Expander/images/rain-30.gif),
    url(https://raw.githubusercontent.com/rl404/MyAnimeList/v1.3.1/Expander/images/rain-30.gif),
    url(https://raw.githubusercontent.com/rl404/MyAnimeList/v1.3.1/Expander/images/rain-30.gif),
    url(https://raw.githubusercontent.com/rl404/MyAnimeList/v1.3.1/Expander/images/kz2.png);
  background-size: 30%, 50%, 0, cover;
  background-position: 0 0, 50% 0, 25% 0, center;
  background-repeat: repeat;
}

/* Kizumonogatari 3 */

tr:hover #xmenu31758 {
  background: url(https://raw.githubusercontent.com/rl404/MyAnimeList/v1.3.1/Expander/images/kz3.png) center;
  background-size: cover;
}

/* Nekomonogatari */

tr:hover #xmenu15689 {
  background: url(https://raw.githubusercontent.com/rl404/MyAnimeList/v1.3.1/Expander/images/ubw2.png),
    url(https://raw.githubusercontent.com/rl404/MyAnimeList/v1.3.1/Expander/images/neko.gif) top center;
  background-size: cover;
}

/* Cromartie high school */

tr:hover #xmenu114 {
  background: url(https://raw.githubusercontent.com/rl404/MyAnimeList/v1.3.1/Expander/images/ubw2.png),
    url(https://raw.githubusercontent.com/rl404/MyAnimeList/v1.3.1/Expander/images/cromartie.gif) top center;
  background-size: cover;
}

/* Spirited away */

tr:hover #xmenu199 {
  background: url(https://raw.githubusercontent.com/rl404/MyAnimeList/v1.3.1/Expander/images/rain.gif),
    url(https://raw.githubusercontent.com/rl404/MyAnimeList/v1.3.1/Expander/images/rain.gif),
    url(https://raw.githubusercontent.com/rl404/MyAnimeList/v1.3.1/Expander/images/rain.gif),
    url(https://raw.githubusercontent.com/rl404/MyAnimeList/v1.3.1/Expander/images/sa.png);
  background-size: 747px 5000px, 747px 1000px, 747px, cover;
  background-position: 0 0, 50% 0, 0 0, center;
}

/* Eva 2 */

tr:hover #xmenu3784 {
  background-image: url(https://raw.githubusercontent.com/rl404/MyAnimeList/v1.3.1/Expander/images/rain2.gif),
    url(https://raw.githubusercontent.com/rl404/MyAnimeList/v1.3.1/Expander/images/rain2.gif),
    url(https://raw.githubusercontent.com/rl404/MyAnimeList/v1.3.1/Expander/images/rain2.gif),
    url(https://raw.githubusercontent.com/rl404/MyAnimeList/v1.3.1/Expander/images/eva2.png);
  background-size: 747px 5000px, 747px 1000px, 747px, cover;
  background-position: 0 0, 0 0, 50% 0, 0 0, center;
}

/* Anohana */

tr:hover #xmenu9989 {
  background: url(https://raw.githubusercontent.com/rl404/MyAnimeList/v1.3.1/Expander/images/ubw2.png),
    url(https://raw.githubusercontent.com/rl404/MyAnimeList/v1.3.1/Expander/images/flower1.png),
    url(https://raw.githubusercontent.com/rl404/MyAnimeList/v1.3.1/Expander/images/flower2.png),
    url(https://raw.githubusercontent.com/rl404/MyAnimeList/v1.3.1/Expander/images/anohana.png);
  background-size: 100%, 150px, 150px, cover;
  background-repeat: repeat;
  animation: snow2 15s linear infinite;
}

tr:hover .animetitle[href*="/9989/"]:hover:before {
  content: "I found you ;_;";
  background: url(https://raw.githubusercontent.com/rl404/MyAnimeList/v1.3.1/Expander/images/anohana2.png);
  background-size: cover;
  color: #0d1b2b;
  padding-top: 10px;
  height: 281px;
}

@keyframes snow2 {
  0% {
    background-position: 0 0, 0 -300px, 70px -300px, center;
  }
  100% {
    background-position: 0 0, 0 0, 70px 0, center;
  }
}

/* yuru yuri */

tr:hover #xmenu10495 {
  background: url(https://raw.githubusercontent.com/rl404/MyAnimeList/v1.3.1/Expander/images/ubw2.png),
    url(https://raw.githubusercontent.com/rl404/MyAnimeList/v1.3.1/Expander/images/y1.png),
    url(https://raw.githubusercontent.com/rl404/MyAnimeList/v1.3.1/Expander/images/y2.png),
    url(https://raw.githubusercontent.com/rl404/MyAnimeList/v1.3.1/Expander/images/y3.png),
    url(https://raw.githubusercontent.com/rl404/MyAnimeList/v1.3.1/Expander/images/y4.png),
    url(https://raw.githubusercontent.com/rl404/MyAnimeList/v1.3.1/Expander/images/y5.png),
    url(https://raw.githubusercontent.com/rl404/MyAnimeList/v1.3.1/Expander/images/y6.png),
    url(https://raw.githubusercontent.com/rl404/MyAnimeList/v1.3.1/Expander/images/y7.png),
    url(https://raw.githubusercontent.com/rl404/MyAnimeList/v1.3.1/Expander/images/y8.png),
    url(https://raw.githubusercontent.com/rl404/MyAnimeList/v1.3.1/Expander/images/y1.png),
    url(https://raw.githubusercontent.com/rl404/MyAnimeList/v1.3.1/Expander/images/y2.png);
  background-size: 100%, 673px, 673px, 673px, 673px, 673px, 673px, 673px, 673px, 673px, 673px;
  background-repeat: no-repeat;
  background-position: 0 0, 0 0, 673px 0, 1346px 0, 2019px 0, 2692px 0, 3365px 0, 4038px 0, 4711px 0, 5384px 0, 6057px 0;
  animation: cp2 72s linear infinite;
}

tr:hover .animetitle[href*="/10495/"]:hover:before {
  background: url(https://raw.githubusercontent.com/rl404/MyAnimeList/v1.3.1/Expander/images/yuru.png) no-repeat,
    url(https://raw.githubusercontent.com/rl404/MyAnimeList/v1.3.1/Expander/images/ubw2.png),
    url(https://myanimelist.cdn-dena.com/images/anime/2/52921.jpg);
  background-position: 0 0, 0 0, center;
  background-size: auto 291px, 100%, auto;
  animation: yuru 5s ease-out;
}

@keyframes yuru {
  0% {
    background-position: -206px 0, 0 0, center;
  }
  100% {
    background-position: 0 0, 0 0, center;
  }
}

@keyframes cp2 {
  0% {
    background-position: 0 0, 0 0, 673px 0, 1346px 0, 2019px 0, 2692px 0, 3365px 0, 4038px 0, 4711px 0, 5384px 0,
      6057px 0;
  }
  100% {
    background-position: 0 0, -5384px 0, -4711px 0, -4038px 0, -3365px 0, -2692px 0, -2019px 0, -1346px 0, -673px 0,
      0px 0, 673px 0;
  }
}

/* Another */

tr:hover #xmenu11111 {
  background: url(https://raw.githubusercontent.com/rl404/MyAnimeList/v1.3.1/Expander/images/rain2.gif),
    url(https://raw.githubusercontent.com/rl404/MyAnimeList/v1.3.1/Expander/images/rain2.gif),
    url(https://raw.githubusercontent.com/rl404/MyAnimeList/v1.3.1/Expander/images/rain2.gif),
    url(https://raw.githubusercontent.com/rl404/MyAnimeList/v1.3.1/Expander/images/another.png);
  background-size: 747px 5000px, 747px 1000px, 747px, cover;
  background-position: 0 0, 50% 0, 0 0, center;
}

/* Black Rock Shooter */

tr:hover #xmenu11285 {
  background: url(https://raw.githubusercontent.com/rl404/MyAnimeList/v1.3.1/Expander/images/ubw2.png),
    url(https://raw.githubusercontent.com/rl404/MyAnimeList/v1.3.1/Expander/images/brs.gif) center;
  background-size: cover;
}

tr:hover .animetitle[href*="/11285/"]:hover:before {
  background: url(https://raw.githubusercontent.com/rl404/MyAnimeList/v1.3.1/Expander/images/brs2.gif) center;
  background-size: cover;
}

/* Index */

tr:hover #xmenu11743 {
  background: url(https://raw.githubusercontent.com/rl404/MyAnimeList/v1.3.1/Expander/images/index.png) no-repeat;
  background-size: auto 100%;
  background-position: -10px 0;
  animation: index 5s ease-out;
}

@keyframes index {
  0% {
    background-position: -200px 0;
  }
  100% {
    background-position: -10px 0;
  }
}

/* sao */

tr:hover #xmenu11757 {
  background: url(https://raw.githubusercontent.com/rl404/MyAnimeList/v1.3.1/Expander/images/sao2.png) no-repeat,
    url(https://raw.githubusercontent.com/rl404/MyAnimeList/v1.3.1/Expander/images/sao.png);
  background-size: 300px, cover;
  background-position: left bottom, 0 0;
  animation: sao 5s ease-out;
}

@keyframes sao {
  0% {
    background-position: left calc(100% + 200px), 0 0;
  }
  100% {
    background-position: left bottom, 0 0;
  }
}

/* Summer Wars */

tr:hover #xmenu5681 {
  background: url(https://raw.githubusercontent.com/rl404/MyAnimeList/v1.3.1/Expander/images/sw.png) center;
  background-size: cover;
}

/* Sayonara no asa marquia */

tr:hover #xmenu35851 {
  background: url(https://raw.githubusercontent.com/rl404/MyAnimeList/v1.3.1/Expander/images/ubw2.png),
    url(https://raw.githubusercontent.com/rl404/MyAnimeList/v1.3.1/Expander/images/marquia.jpg) center;
  background-size: cover;
}

/* Koe no katachi */

tr:hover #xmenu28851 {
  background: url(https://raw.githubusercontent.com/rl404/MyAnimeList/v1.3.1/Expander/images/ubw2.png),
    url(https://raw.githubusercontent.com/rl404/MyAnimeList/v1.3.1/Expander/images/5cm2.gif),
    url(https://raw.githubusercontent.com/rl404/MyAnimeList/v1.3.1/Expander/images/5cm2.gif),
    url(https://raw.githubusercontent.com/rl404/MyAnimeList/v1.3.1/Expander/images/5cm2.gif),
    url(https://raw.githubusercontent.com/rl404/MyAnimeList/v1.3.1/Expander/images/koenokatachi.png);
  background-size: 100%, 15%, 30%, 100%, cover;
  background-position: 0 0, 20% 0, 0 0, 0 0, center;
}

/* Rezero */

tr:hover #xmenu31240 {
  background: url(https://raw.githubusercontent.com/rl404/MyAnimeList/v1.3.1/Expander/images/rezero.png);
  background-size: cover;
}

/* Nourin */

tr:hover #xmenu18095 {
  background: url(https://raw.githubusercontent.com/rl404/MyAnimeList/v1.3.1/Expander/images/nourin1.png) center;
  background-size: cover;
  animation: nourin 10s linear infinite;
}

tr:hover .animetitle[href*="/18095/"]:hover:before {
  background: url(https://raw.githubusercontent.com/rl404/MyAnimeList/v1.3.1/Expander/images/nourin3.png);
  background-size: cover;
}

@keyframes nourin {
  0% {
    background: url(https://raw.githubusercontent.com/rl404/MyAnimeList/v1.3.1/Expander/images/nourin1.png) center;
  }
  45% {
    background: url(https://raw.githubusercontent.com/rl404/MyAnimeList/v1.3.1/Expander/images/nourin1.png) center;
  }
  50% {
    background: url(https://raw.githubusercontent.com/rl404/MyAnimeList/v1.3.1/Expander/images/nourin2.png) center;
  }
  95% {
    background: url(https://raw.githubusercontent.com/rl404/MyAnimeList/v1.3.1/Expander/images/nourin2.png) center;
  }
  100% {
    background: url(https://raw.githubusercontent.com/rl404/MyAnimeList/v1.3.1/Expander/images/nourin1.png) center;
  }
}

/* princess principal */

tr:hover #xmenu35240 {
  background: url(https://raw.githubusercontent.com/rl404/MyAnimeList/v1.3.1/Expander/images/pp.png);
  background-size: cover;
}

/* Denki-gai */

tr:hover #xmenu24031 {
  background: url(https://raw.githubusercontent.com/rl404/MyAnimeList/v1.3.1/Expander/images/denki1.png),
    url(https://raw.githubusercontent.com/rl404/MyAnimeList/v1.3.1/Expander/images/denki2.png),
    url(https://raw.githubusercontent.com/rl404/MyAnimeList/v1.3.1/Expander/images/denki3.png),
    url(https://raw.githubusercontent.com/rl404/MyAnimeList/v1.3.1/Expander/images/denki4.png),
    url(https://raw.githubusercontent.com/rl404/MyAnimeList/v1.3.1/Expander/images/denki5.png),
    url(https://raw.githubusercontent.com/rl404/MyAnimeList/v1.3.1/Expander/images/denki6.png),
    url(https://raw.githubusercontent.com/rl404/MyAnimeList/v1.3.1/Expander/images/denki7.png),
    url(https://raw.githubusercontent.com/rl404/MyAnimeList/v1.3.1/Expander/images/denki1.png);
  background-size: 1300px;
  background-repeat: no-repeat;
  background-position: 0, 1300px, 2600px, 3900px, 5200px, 6500px, 7800px, 9100px;
  animation: denki 72s linear infinite;
}

@keyframes denki {
  0% {
    background-position: 0, 1300px, 2600px, 3900px, 5200px, 6500px, 7800px, 9100px;
  }
  100% {
    background-position: -9100px, -7800px, -6500px, -5200px, -3900px, -2600px, -1300px, 0;
  }
}

/* Madoka movie 3 */

tr:hover #xmenu11981 {
  background: url(https://raw.githubusercontent.com/rl404/MyAnimeList/v1.3.1/Expander/images/madoka2.png);
  background-size: cover;
}

/* Ookami wolf children */

tr:hover #xmenu12355 {
  background: url(https://raw.githubusercontent.com/rl404/MyAnimeList/v1.3.1/Expander/images/snow1.png),
    url(https://raw.githubusercontent.com/rl404/MyAnimeList/v1.3.1/Expander/images/snow1.png),
    url(https://raw.githubusercontent.com/rl404/MyAnimeList/v1.3.1/Expander/images/snow2.png),
    url(https://raw.githubusercontent.com/rl404/MyAnimeList/v1.3.1/Expander/images/wolf.png);
  background-size: auto, 420px, 1000px, cover;
  animation: snow1 15s linear infinite;
}

/* Sakurasou */

tr:hover #xmenu13759 {
  background: url(https://raw.githubusercontent.com/rl404/MyAnimeList/v1.3.1/Expander/images/ubw2.png),
    url(https://raw.githubusercontent.com/rl404/MyAnimeList/v1.3.1/Expander/images/5cm2.gif),
    url(https://raw.githubusercontent.com/rl404/MyAnimeList/v1.3.1/Expander/images/5cm2.gif),
    url(https://raw.githubusercontent.com/rl404/MyAnimeList/v1.3.1/Expander/images/5cm2.gif),
    url(https://raw.githubusercontent.com/rl404/MyAnimeList/v1.3.1/Expander/images/sakurasou.jpg);
  background-size: 100%, 15%, 30%, 100%, cover;
  background-position: 0 0, 20% 0, 0 0, 0 0, top;
}

/* Ai mai mi */

tr:hover #xmenu16169,
tr:hover #xmenu23551 {
  background: url(https://raw.githubusercontent.com/rl404/MyAnimeList/v1.3.1/Expander/images/ubw2.png),
    url(https://raw.githubusercontent.com/rl404/MyAnimeList/v1.3.1/Expander/images/aimaimi1.gif),
    url(https://raw.githubusercontent.com/rl404/MyAnimeList/v1.3.1/Expander/images/aimaimi2.gif),
    url(https://raw.githubusercontent.com/rl404/MyAnimeList/v1.3.1/Expander/images/aimaimi3.gif),
    url(https://raw.githubusercontent.com/rl404/MyAnimeList/v1.3.1/Expander/images/aimaimi4.gif),
    url(https://raw.githubusercontent.com/rl404/MyAnimeList/v1.3.1/Expander/images/aimaimi5.gif),
    url(https://raw.githubusercontent.com/rl404/MyAnimeList/v1.3.1/Expander/images/aimaimi1.gif),
    url(https://raw.githubusercontent.com/rl404/MyAnimeList/v1.3.1/Expander/images/aimaimi2.gif);
  background-size: 100%, 840px, 840px, 840px, 840px, 840px, 840px, 840px;
  background-repeat: no-repeat;
  animation: aimai 72s linear infinite;
}

@keyframes aimai {
  0% {
    background-position: 0 0, 0 0, 840px, 1680px, 2520px, 3360px, 4110px, 4950px;
  }
  100% {
    background-position: 0 0, -4110px 0, -3360px 0, -2520px 0, -1680px 0, -840px 0, 0px 0, 840px 0;
  }
}

/* Kiniro mosaic */

tr:hover #xmenu16732 {
  background: url(https://raw.githubusercontent.com/rl404/MyAnimeList/v1.3.1/Expander/images/kiniro2.png);
  background-size: cover;
}

tr:hover .animetitle[href*="/16732/"]:hover:before {
  background: url(https://raw.githubusercontent.com/rl404/MyAnimeList/v1.3.1/Expander/images/kiniro.gif);
  background-size: cover;
}

/* Seitokai Yaku 2 */

tr:hover #xmenu20847 {
  background: url(https://raw.githubusercontent.com/rl404/MyAnimeList/v1.3.1/Expander/images/seitokai2.png) center;
  background-size: cover;
}

tr:hover .animetitle[href*="/20847/"]:hover:before {
  background: url(https://raw.githubusercontent.com/rl404/MyAnimeList/v1.3.1/Expander/images/seitokai.png) no-repeat,
    url(https://raw.githubusercontent.com/rl404/MyAnimeList/v1.3.1/Expander/images/ubw2.png),
    url("https://myanimelist.cdn-dena.com/images/anime/9/56941.jpg");
  background-position: 0 0, 0 0, center;
  background-size: auto 291px, 100%, auto;
  animation: yuru 5s ease-out;
}

/* Kiseijuu parasyte */

tr:hover #xmenu22535 {
  background: url(https://raw.githubusercontent.com/rl404/MyAnimeList/v1.3.1/Expander/images/rain2.gif),
    url(https://raw.githubusercontent.com/rl404/MyAnimeList/v1.3.1/Expander/images/rain2.gif),
    url(https://raw.githubusercontent.com/rl404/MyAnimeList/v1.3.1/Expander/images/rain2.gif),
    url(https://raw.githubusercontent.com/rl404/MyAnimeList/v1.3.1/Expander/images/kiseijuu.png);
  background-size: 747px 5000px, 747px 1000px, 747px, cover;
  background-position: 0 0, 50% 0, 0 0, center;
}

/* Himegoto */

tr:hover #xmenu22835 {
  background: url(https://raw.githubusercontent.com/rl404/MyAnimeList/v1.3.1/Expander/images/himegoto.png);
  background-size: 1525px;
  animation: himegoto 15s linear infinite;
}

tr:hover .animetitle[href*="/22835/"]:hover:before {
  background: url(https://raw.githubusercontent.com/rl404/MyAnimeList/v1.3.1/Expander/images/trap.jpeg);
  background-size: cover;
}

@keyframes himegoto {
  0% {
    background-position: 0;
  }
  100% {
    background-position: -1525px;
  }
}

/* re hamatora */

tr:hover #xmenu23421 {
  background: url(https://raw.githubusercontent.com/rl404/MyAnimeList/v1.3.1/Expander/images/rehamatora.png);
  background-size: cover;
}

/* Ars nova movie arpeggio */

tr:hover #xmenu24921 {
  background: url(https://raw.githubusercontent.com/rl404/MyAnimeList/v1.3.1/Expander/images/arpeggio.png) center;
  background-size: cover;
}

/* Kancolle movie */

tr:hover #xmenu31418 {
  background: url(https://raw.githubusercontent.com/rl404/MyAnimeList/v1.3.1/Expander/images/rain.gif),
    url(https://raw.githubusercontent.com/rl404/MyAnimeList/v1.3.1/Expander/images/rain.gif),
    url(https://raw.githubusercontent.com/rl404/MyAnimeList/v1.3.1/Expander/images/rain.gif),
    url(https://raw.githubusercontent.com/rl404/MyAnimeList/v1.3.1/Expander/images/fubuki.png);
  background-size: 747px 5000px, 747px 1000px, 747px, cover;
  background-position: 0 0, 50% 0, 0 0, center;
}

/* Gantz movie */

tr:hover #xmenu32071 {
  background: url(https://raw.githubusercontent.com/rl404/MyAnimeList/v1.3.1/Expander/images/rain2.gif),
    url(https://raw.githubusercontent.com/rl404/MyAnimeList/v1.3.1/Expander/images/rain2.gif),
    url(https://raw.githubusercontent.com/rl404/MyAnimeList/v1.3.1/Expander/images/rain2.gif),
    url(https://raw.githubusercontent.com/rl404/MyAnimeList/v1.3.1/Expander/images/gantz.png);
  background-size: 747px 5000px, 747px 1000px, 747px, cover;
  background-position: 0 0, 50% 0, 0 0, center;
}

/* Blame movie */

tr:hover #xmenu32086 {
  background: url(https://raw.githubusercontent.com/rl404/MyAnimeList/v1.3.1/Expander/images/blame.png);
  background-size: cover;
}

/* Kobayashi-san */

tr:hover #xmenu33206 {
  background: url(https://raw.githubusercontent.com/rl404/MyAnimeList/v1.3.1/Expander/images/kobayashi.png);
  background-size: cover;
}

tr:hover .animetitle[href*="/33206/"]:hover:before {
  background: url(https://raw.githubusercontent.com/rl404/MyAnimeList/v1.3.1/Expander/images/kanna.gif) center center
    no-repeat;
  background-size: cover;
  padding-top: 50px;
  height: 241px;
}

/* Voilet evergarden */

tr:hover #xmenu33352,
tr:hover #xmenu39741,
tr:hover #xmenu37987 {
  background: url(https://raw.githubusercontent.com/rl404/MyAnimeList/v1.3.1/Expander/images/violet.png);
  background-size: cover;
}

/* Centaur no nayami */

tr:hover #xmenu34525 {
  background: url(https://raw.githubusercontent.com/rl404/MyAnimeList/v1.3.1/Expander/images/centaur.png);
  background-size: cover;
}

/* Made in abyss */

tr:hover #xmenu34599 {
  background: url(https://raw.githubusercontent.com/rl404/MyAnimeList/v1.3.1/Expander/images/madeinabyss.png);
  background-size: cover;
}

/* Overlord 2 */

tr:hover #xmenu35073 {
  background: url(https://raw.githubusercontent.com/rl404/MyAnimeList/v1.3.1/Expander/images/overlord2.png);
  background-size: cover;
}

/* Mitsuboshi colors */

tr:hover #xmenu35078 {
  background: url(https://raw.githubusercontent.com/rl404/MyAnimeList/v1.3.1/Expander/images/colors.png);
  background-size: cover;
}

/* Devilman crybaby */

tr:hover #xmenu35120 {
  background: url(https://raw.githubusercontent.com/rl404/MyAnimeList/v1.3.1/Expander/images/devilman.png);
  background-size: cover;
}

/* Hinamatsuri*/

tr:hover #xmenu36296 {
  background: url(https://raw.githubusercontent.com/rl404/MyAnimeList/v1.3.1/Expander/images/hina.png);
  background-size: cover;
}

tr:hover .animetitle[href*="/36296/"]:hover:before {
  background: url(https://raw.githubusercontent.com/rl404/MyAnimeList/v1.3.1/Expander/images/hina.jpg);
  background-size: cover;
}

/* Wataten */

tr:hover #xmenu37993 {
  background: url(https://raw.githubusercontent.com/rl404/MyAnimeList/v1.3.1/Expander/images/wataten.png) center;
  background-size: cover;
}

/* Rezero 2 */

tr:hover #xmenu39587 {
  background: url(https://raw.githubusercontent.com/rl404/MyAnimeList/v1.3.1/Expander/images/rezero2.png) center;
  background-size: cover;
}

/* Fate GO */

tr:hover #xmenu38084 {
  background: url(https://raw.githubusercontent.com/rl404/MyAnimeList/v1.3.1/Expander/images/fatego.png) center;
  background-size: cover;
}

/* Yakusoku no neverland */

tr:hover #xmenu37779 {
  background: url(https://raw.githubusercontent.com/rl404/MyAnimeList/v1.3.1/Expander/images/yakusoku.png) center;
  background-size: cover;
}

/* Overlord 3 */

tr:hover #xmenu37675 {
  background: url(https://raw.githubusercontent.com/rl404/MyAnimeList/v1.3.1/Expander/images/overlord3.png) center;
  background-size: cover;
}

/* Vinland Saga */

tr:hover #xmenu37521 {
  background: url(https://raw.githubusercontent.com/rl404/MyAnimeList/v1.3.1/Expander/images/vinland.png) center;
  background-size: cover;
}

/* Mob Psycho 2 */

tr:hover #xmenu37510 {
  background: url(https://raw.githubusercontent.com/rl404/MyAnimeList/v1.3.1/Expander/images/mob.png) center;
  background-size: cover;
}

/* Slime */

tr:hover #xmenu37430,
tr:hover #xmenu39551 {
  background: url(https://raw.githubusercontent.com/rl404/MyAnimeList/v1.3.1/Expander/images/slime.png) center;
  background-size: cover;
}

/* Owarimonogatari */

tr:hover #xmenu36999 {
  background: url(https://raw.githubusercontent.com/rl404/MyAnimeList/v1.3.1/Expander/images/owarimonogatari2.png)
    center;
  background-size: cover;
}

/* kimetsu no yaiba rengoku */

tr:hover #xmenu40456 {
  background: url(https://raw.githubusercontent.com/rl404/MyAnimeList/v1.3.1/Expander/images/knyr.png) center;
  background-size: cover;
}

/* non non biyori nonstop */

tr:hover #xmenu39808 {
  background: url(https://raw.githubusercontent.com/rl404/MyAnimeList/v1.3.1/Expander/images/nnbyn.png) center;
  background-size: cover;
}

/* made in abyss movie 3 */

tr:hover #xmenu36862 {
  background: url(https://raw.githubusercontent.com/rl404/MyAnimeList/v1.3.1/Expander/images/madeinabyssm3.png) center;
  background-size: cover;
}

/* fate heaven */

tr:hover #xmenu25537 {
  background: url(https://raw.githubusercontent.com/rl404/MyAnimeList/v1.3.1/Expander/images/fateheaven1.png) center;
  background-size: cover;
}

tr:hover #xmenu33049 {
  background: url(https://raw.githubusercontent.com/rl404/MyAnimeList/v1.3.1/Expander/images/fateheaven2.png) center;
  background-size: cover;
}

tr:hover #xmenu33050 {
  background: url(https://raw.githubusercontent.com/rl404/MyAnimeList/v1.3.1/Expander/images/fateheaven3.png) center;
  background-size: cover;
}

/* kanojo to kanojo no neko */

tr:hover #xmenu32491 {
  background: url(https://raw.githubusercontent.com/rl404/MyAnimeList/v1.3.1/Expander/images/kanojononeko.png) center;
  background-size: cover;
}

/* mangaka to assistant */

tr:hover #xmenu21863 {
  background: url(https://raw.githubusercontent.com/rl404/MyAnimeList/v1.3.1/Expander/images/mangaka.png) center;
  background-size: cover;
}

/* ----------------------------------- */

/* Sabagebu */

tr:hover .animetitle[href*="/20709/"] {
  background: url(https://raw.githubusercontent.com/rl404/MyAnimeList/v1.3.1/Expander/images/ubw2.png),
    url(https://raw.githubusercontent.com/rl404/MyAnimeList/v1.3.1/Expander/images/sabagebu.gif) center;
  background-size: cover;
  width: 100%;
  height: 385px;
  top: -15px;
  padding-top: 35px;
  min-width: 935px;
  max-width: 1237px;
  margin-left: auto;
  margin-right: auto;
}

tr:hover .animetitle[href*="/20709/"]:before {
  top: 100px;
}

tr:hover .animetitle[href*="/20709/"]:hover {
  background: url(https://raw.githubusercontent.com/rl404/MyAnimeList/v1.3.1/Expander/images/sabagebu.png) center;
  background-size: cover;
}

/* Railgun s2 */

tr:hover .animetitle[href*="/16049/"] {
  background: url(https://raw.githubusercontent.com/rl404/MyAnimeList/v1.3.1/Expander/images/ubw2.png),
    url(https://raw.githubusercontent.com/rl404/MyAnimeList/v1.3.1/Expander/images/railgun.gif) center;
  background-size: 100%, cover;
  width: 100%;
  height: 385px;
  top: -15px;
  padding-top: 35px;
  min-width: 935px;
  max-width: 1237px;
  margin-left: auto;
  margin-right: auto;
}

tr:hover .animetitle[href*="/16049/"]:before {
  top: 100px;
}

tr:hover .animetitle[href*="/16049/"]:hover {
  background: url(https://raw.githubusercontent.com/rl404/MyAnimeList/v1.3.1/Expander/images/railgun.png);
  background-size: cover;
}

/* tokyo mag */

tr:hover .animetitle[href*="/6211/"] {
  background: url(https://raw.githubusercontent.com/rl404/MyAnimeList/v1.3.1/Expander/images/tm.png);
  background-size: cover;
  width: 100%;
  height: 385px;
  top: -15px;
  padding-top: 35px;
  min-width: 935px;
  max-width: 1237px;
  margin-left: auto;
  margin-right: auto;
  animation: shake2 0.5s infinite !important;
}

tr:hover .animetitle[href*="/6211/"]:before {
  top: 100px;
}

tr:hover .animetitle[href*="/6211/"]:hover {
  animation: shake2 0s !important;
}

@keyframes shake2 {
  0% {
    transform: translate(1px, 1px) rotate(0deg);
  }
  10% {
    transform: translate(-1px, -2px) rotate(-1deg);
  }
  20% {
    transform: translate(-3px, 0px) rotate(1deg);
  }
  30% {
    transform: translate(3px, 2px) rotate(0deg);
  }
  40% {
    transform: translate(1px, -1px) rotate(1deg);
  }
  50% {
    transform: translate(-1px, 2px) rotate(-1deg);
  }
  60% {
    transform: translate(-3px, 1px) rotate(0deg);
  }
  70% {
    transform: translate(3px, 1px) rotate(-1deg);
  }
  80% {
    transform: translate(-1px, -1px) rotate(1deg);
  }
  90% {
    transform: translate(1px, 2px) rotate(0deg);
  }
  100% {
    transform: translate(1px, -2px) rotate(-1deg);
  }
}

/* Digimon adv movie */

tr:hover .animetitle[href*="/2961/"] {
  background: url(https://raw.githubusercontent.com/rl404/MyAnimeList/v1.3.1/Expander/images/dg30.png),
    url(https://raw.githubusercontent.com/rl404/MyAnimeList/v1.3.1/Expander/images/ubw2.png),
    url(https://raw.githubusercontent.com/rl404/MyAnimeList/v1.3.1/Expander/images/dg.gif);
  background-size: 100%, 100%, 50%;
  background-repeat: repeat;
  width: 100%;
  height: 385px;
  top: -15px;
  padding-top: 35px;
  min-width: 935px;
  max-width: 1237px;
  margin-left: auto;
  margin-right: auto;
}

tr:hover .animetitle[href*="/2961/"]:before {
  top: 100px;
}

tr:hover .animetitle[href*="/2961/"]:hover {
  background: url(https://raw.githubusercontent.com/rl404/MyAnimeList/v1.3.1/Expander/images/dg20.png);
  background-size: cover;
}

/* seto no hayanome */

tr:hover .animetitle[href*="/2104/"] {
  background: url(https://raw.githubusercontent.com/rl404/MyAnimeList/v1.3.1/Expander/images/ubw2.png),
    url(https://raw.githubusercontent.com/rl404/MyAnimeList/v1.3.1/Expander/images/snh.gif) top center;
  background-size: 100%, cover;
  width: 100%;
  height: 385px;
  top: -15px;
  padding-top: 35px;
  min-width: 935px;
  max-width: 1237px;
  margin-left: auto;
  margin-right: auto;
  animation: ab 10s linear;
}

tr:hover .animetitle[href*="/2104/"]:before {
  top: 100px;
}

tr:hover .animetitle[href*="/2104/"]:hover {
  background: url(https://raw.githubusercontent.com/rl404/MyAnimeList/v1.3.1/Expander/images/ubw2.png),
    url(https://raw.githubusercontent.com/rl404/MyAnimeList/v1.3.1/Expander/images/5cm2.gif),
    url(https://raw.githubusercontent.com/rl404/MyAnimeList/v1.3.1/Expander/images/snh.png) center;
  background-size: cover;
}

/* konosuba */

tr:hover .animetitle[href*="/30831/"] {
  background: url(https://raw.githubusercontent.com/rl404/MyAnimeList/v1.3.1/Expander/images/konosuba12.png) center;
  background-size: cover;
  width: 100%;
  height: 385px;
  top: -15px;
  padding-top: 35px;
  min-width: 935px;
  max-width: 1237px;
  margin-left: auto;
  margin-right: auto;
}

tr:hover .animetitle[href*="/30831/"]:before {
  top: 100px;
}

tr:hover .animetitle[href*="/30831/"]:hover {
  background: url(https://raw.githubusercontent.com/rl404/MyAnimeList/v1.3.1/Expander/images/konosuba11.png) center;
  background-size: cover;
}

/* konosuba ova */

tr:hover .animetitle[href*="/32380/"] {
  background: url(https://raw.githubusercontent.com/rl404/MyAnimeList/v1.3.1/Expander/images/ubw2.png),
    url(https://raw.githubusercontent.com/rl404/MyAnimeList/v1.3.1/Expander/images/konosubaova.gif) center;
  background-size: cover;
  width: 100%;
  height: 385px;
  top: -15px;
  padding-top: 35px;
  min-width: 935px;
  max-width: 1237px;
  margin-left: auto;
  margin-right: auto;
}

tr:hover .animetitle[href*="/32380/"]:before {
  top: 100px;
}

tr:hover .animetitle[href*="/32380/"]:hover {
  background: url(https://raw.githubusercontent.com/rl404/MyAnimeList/v1.3.1/Expander/images/konosubaova.png) center;
  background-size: cover;
}

/* konosuba 2 */

tr:hover .animetitle[href*="/32937/"] {
  background: url(https://raw.githubusercontent.com/rl404/MyAnimeList/v1.3.1/Expander/images/ubw2.png),
    url(https://raw.githubusercontent.com/rl404/MyAnimeList/v1.3.1/Expander/images/konosuba22.gif) center;
  background-size: cover;
  width: 100%;
  height: 385px;
  top: -15px;
  padding-top: 35px;
  min-width: 935px;
  max-width: 1237px;
  margin-left: auto;
  margin-right: auto;
}

tr:hover .animetitle[href*="/32937/"]:before {
  top: 100px;
}

tr:hover .animetitle[href*="/32937/"]:hover {
  background: url(https://raw.githubusercontent.com/rl404/MyAnimeList/v1.3.1/Expander/images/ubw2.png),
    url(https://raw.githubusercontent.com/rl404/MyAnimeList/v1.3.1/Expander/images/konosuba21.gif) center;
  background-size: cover;
}

/* kekkai sensen */

tr:hover .animetitle[href*="/24439/"] {
  background: url(https://raw.githubusercontent.com/rl404/MyAnimeList/v1.3.1/Expander/images/ubw2.png),
    url(https://raw.githubusercontent.com/rl404/MyAnimeList/v1.3.1/Expander/images/kekkai.gif) center;
  background-size: cover;
  width: 100%;
  height: 385px;
  top: -15px;
  padding-top: 35px;
  min-width: 935px;
  max-width: 1237px;
  margin-left: auto;
  margin-right: auto;
}

tr:hover .animetitle[href*="/24439/"]:before {
  top: 100px;
}

tr:hover .animetitle[href*="/24439/"]:hover {
  background: url(https://raw.githubusercontent.com/rl404/MyAnimeList/v1.3.1/Expander/images/ubw2.png),
    url(https://raw.githubusercontent.com/rl404/MyAnimeList/v1.3.1/Expander/images/kekkai.png) center;
  background-size: cover;
}

/* hanamonogatari */

tr:hover .animetitle[href*="/21855/"] {
  background: url(https://raw.githubusercontent.com/rl404/MyAnimeList/v1.3.1/Expander/images/ubw2.png),
    url(https://raw.githubusercontent.com/rl404/MyAnimeList/v1.3.1/Expander/images/hanamonogatari.gif) center;
  background-size: cover;
  width: 100%;
  height: 385px;
  top: -15px;
  padding-top: 35px;
  min-width: 935px;
  max-width: 1237px;
  margin-left: auto;
  margin-right: auto;
}

tr:hover .animetitle[href*="/21855/"]:before {
  top: 100px;
}

tr:hover .animetitle[href*="/21855/"]:hover {
  background: url(https://raw.githubusercontent.com/rl404/MyAnimeList/v1.3.1/Expander/images/hanamonogatari.png) center;
  background-size: cover;
}

/* nisemonogatari */

tr:hover .animetitle[href*="/11597/"] {
  background: url(https://raw.githubusercontent.com/rl404/MyAnimeList/v1.3.1/Expander/images/ubw2.png),
    url(https://raw.githubusercontent.com/rl404/MyAnimeList/v1.3.1/Expander/images/nisemonogatari2.gif) center;
  background-size: cover;
  width: 100%;
  height: 385px;
  top: -15px;
  padding-top: 35px;
  min-width: 935px;
  max-width: 1237px;
  margin-left: auto;
  margin-right: auto;
}

tr:hover .animetitle[href*="/11597/"]:hover {
  background: url(https://raw.githubusercontent.com/rl404/MyAnimeList/v1.3.1/Expander/images/nisemonogatari.png) center;
  background-size: cover;
}

tr:hover .animetitle[href*="/11597/"]:hover:before {
  background: url("https://cdn.myanimelist.net/images/anime/1044/103654.jpg");
  background-size: cover;
}

tr:hover .animetitle[href*="/11597/"]:before {
  top: 100px;
  background: url(https://raw.githubusercontent.com/rl404/MyAnimeList/v1.3.1/Expander/images/nisemonogatari.gif);
  background-size: cover;
}

/* mirai nikki */

tr:hover .animetitle[href*="/10620/"] {
  background: url(https://raw.githubusercontent.com/rl404/MyAnimeList/v1.3.1/Expander/images/mirainikki2.png),
    url(https://raw.githubusercontent.com/rl404/MyAnimeList/v1.3.1/Expander/images/mirainikki.png);
  background-size: 100%;
  box-shadow: inset 0px 0px 100px -20px rgba(255, 0, 0, 0.5);
  width: 100%;
  height: 385px;
  top: -15px;
  padding-top: 35px;
  min-width: 935px;
  max-width: 1237px;
  margin-left: auto;
  margin-right: auto;
}

tr:hover .animetitle[href*="/10620/"]:before {
  top: 100px;
}

tr:hover .animetitle[href*="/10620/"]:hover {
  background: url(https://raw.githubusercontent.com/rl404/MyAnimeList/v1.3.1/Expander/images/mirainikki.png);
  background-size: cover;
  box-shadow: inset 0px 0px 0px 0px;
}

/* frieren */

tr:hover #xmenu52991 {
  background: url(https://raw.githubusercontent.com/rl404/MyAnimeList/v1.3.1/Expander/images/frierenbg.png) center;
  background-size: cover;
}