/* size 1210x420 */

/* No game no life */
tr:hover .animetitle[href*="/19815/"]{
background-image:url(https://cdn.rawgit.com/rl404/MyAnimeList/master/Madoka/images/star1.png),
    url(https://cdn.rawgit.com/rl404/MyAnimeList/master/Madoka/images/star2.png),
	url('https://rawgit.com/rl404/MyAnimeList/master/Expander/images/ngnl.png');
background-size: 0,0,100%;	
width:100%;
height:385px;
top: -15px;
min-width:935px;
max-width:1237px;
margin-left:auto;
margin-right:auto;
border:1px;
padding-top: 35px;
animation: sparkle 15s linear infinite;
-webkit-animation: sparkle 15s linear infinite;
}
tr:hover .animetitle[href*="/19815/"]:before{top: 100px;}

@keyframes sparkle {
    0% { background-position: 0 0, 0 0,0 0; }
    100% { background-position: -150px 300px, 150px 300px,0 0; }
}

@-webkit-keyframes sparkle {
    0% { background-position: 0 0, 0 0,0 0; }
    100% { background-position: -150px 300px, 150px 300px,0 0; }
} 

/* Angel beats */
tr:hover .animetitle[href*="/6547/"]{
background-image:url(https://rawgit.com/rl404/MyAnimeList/master/Expander/images/ubw2.png),
    url(https://rawgit.com/rl404/MyAnimeList/master/Expander/images/ab.png);
background-size:100%,100%;
background-repeat: no-repeat;
background-position: 100% 100%, top center; 
width:100%;
height:385px;
top: -15px;
padding-top: 35px;
min-width:935px;
max-width:1237px;
margin-left:auto;
margin-right:auto;    
animation: ab 15s linear ;
-webkit-animation: ab 15s linear ;
} 
tr:hover .animetitle[href*="/6547/"]:before{top: 100px;}

@keyframes ab {
    0% { background-position:100% 100%, bottom center; }
    100% { background-position: 100% 100%, top center ; }
}

@-webkit-keyframes ab {
    0% { background-position:100% 100%, bottom center; }
    100% { background-position: 100% 100%, top center ; }
} 

/* Kotonoha no niwa */
tr:hover .animetitle[href*="/16782/"]{
background-image:url(https://rawgit.com/rl404/MyAnimeList/master/Expander/images/rain.gif),
    url(https://rawgit.com/rl404/MyAnimeList/master/Expander/images/rain.gif),
    url(https://rawgit.com/rl404/MyAnimeList/master/Expander/images/rain.gif),
	url('https://rawgit.com/rl404/MyAnimeList/master/Expander/images/gow.png');
background-size:747px 5000px,747px 1000px,747px,100%;
background-position: 0 0, 50% 0,0 0, center;
width:100%;
height:385px;
top: -15px;
padding-top: 35px;
min-width:935px;
max-width:1237px;
margin-left:auto;
margin-right:auto;
} 
tr:hover .animetitle[href*="/16782/"]:before{top: 100px;}

/* Gurren Lagann */
tr:hover .animetitle[href*="/2001/"]{
background-image:url('https://rawgit.com/rl404/MyAnimeList/master/Expander/images/ttgl.png'),
  	url(https://rawgit.com/rl404/MyAnimeList/master/Expander/images/ttgl2.gif);
background-size:100%,200px;
background-repeat: no-repeat;
background-position: bottom center,-20% 100%; 
width:100%;
height:385px;
top: -15px;
padding-top: 35px;
min-width:935px;
max-width:1237px;
margin-left:auto;
margin-right:auto;    
animation: ttgl 15s linear ;
-webkit-animation: ttgl 15s linear ;
} 
tr:hover .animetitle[href*="/2001/"]:before{top: 100px;}

@keyframes ttgl {
    0% { background-position: top center, 130% 100%; }
    100% { background-position: bottom center, -20% 100%; }
}

@-webkit-keyframes ttgl {
    0% { background-position: top center, 130% 100%; }
    100% { background-position: bottom center, -20% 100%;}
} 

/* clannad after story */
tr:hover .animetitle[href*="/4181/"]{
background-image:url(https://rawgit.com/rl404/MyAnimeList/master/Expander/images/star1.png),
    url(https://rawgit.com/rl404/MyAnimeList/master/Expander/images/star1.png),
    url(https://rawgit.com/rl404/MyAnimeList/master/Expander/images/star2.png),
	url(https://rawgit.com/rl404/MyAnimeList/master/Expander/images/clannad.png);
background-size:auto,420px,1000px,auto;	
width:100%;
height:385px;
top: -15px;
padding-top: 35px;
min-width:935px;
max-width:1237px;
margin-left:auto;
margin-right:auto;
animation: sparkle2 15s linear infinite;
-webkit-animation: sparkle2 15s linear infinite;
} 
tr:hover .animetitle[href*="/4181/"]:before{top: 100px;}

@keyframes sparkle2 {
    0% { background-position: 0 0, 0 0, 0 0,0 0; }
    100% { background-position: 0 -300px, 0px -840px, 0px -2000px,0 0; }
}

@-webkit-keyframes sparkle2 {
    0% { background-position: 0 0,0 0, 0 0,0 0; }
    100% { background-position: 0 -300px, 0px -840px, 0px -2000px,0 0; }
} 

/* STEINS GATE */
tr:hover .animetitle[href*="/9253/"]{
background-image:url(https://rawgit.com/rl404/MyAnimeList/master/Expander/images/sg3.gif),
    url(https://rawgit.com/rl404/MyAnimeList/master/Expander/images/sg2.gif),
	url(https://rawgit.com/rl404/MyAnimeList/master/Expander/images/sg.png);
background-size: 200px,150px,100%;	
background-repeat: no-repeat;
background-position: 100% 200%,0% -50%, center;
width:100%;
height:385px;
top: -15px;
min-width:935px;
max-width:1237px;
margin-left:auto;
margin-right:auto;
border:1px;
padding-top: 35px;
animation: sg 12s linear infinite;
-webkit-animation: sg 12s linear infinite;
}
tr:hover .animetitle[href*="/9253/"]:before{top: 100px;}

@keyframes sg {
    0% { background-position: 100% 200%,0% -50%, center;}
    16.5% { background-position: 100% 100%,0% -50%, center; }
    33.2% { background-position: 100% 100%,0% -50%, center; }
    50% { background-position: 100% 200%,0% -50%, center; }
    54% { background-position: 100% 200%,0% 0%, center; }
    98% { background-position: 100% 200%,0% 0%, center; }
    100% {background-position: 100% 200%,0% -50%, center;}
}

@-webkit-keyframes sg {
    0% { background-position: 100% 200%,0% -50%, center;}
    16.5% { background-position: 100% 100%,0% -50%, center; }
    33.2% { background-position: 100% 100%,0% -50%, center; }
    50% { background-position: 100% 200%,0% -50%, center; }
    54% { background-position: 100% 200%,0% 0%, center; }
    98% { background-position: 100% 200%,0% 0%, center; }
    100% {background-position: 100% 200%,0% -50%, center;}
} 

/* UBW */
tr:hover .animetitle[href*="/28701/"],
tr:hover .animetitle[href*="/22297/"]{
background-image:url(https://rawgit.com/rl404/MyAnimeList/master/Expander/images/ubw2.png),
	url(https://rawgit.com/rl404/MyAnimeList/master/Expander/images/ubw.gif);
background-size:100%,100%;	
background-position: bottom;
width:100%;
height:385px;
top: -15px;
padding-top: 35px;
min-width:935px;
max-width:1237px;
margin-left:auto;
margin-right:auto;
} 
tr:hover .animetitle[href*="/28701/"]:before,
tr:hover .animetitle[href*="/22297/"]:before{top: 100px;}

/* madoka */
tr:hover .animetitle[href*="/9756/"]{
background:url(https://rawgit.com/rl404/MyAnimeList/master/Expander/images/ubw2.png),
    url(https://rawgit.com/rl404/MyAnimeList/master/Expander/images/kyubey.gif)left center ;
background-size:100%,50%;
width:100%;
height:385px;
top: -15px;
padding-top: 35px;
min-width:935px;
max-width:1237px;
margin-left:auto;
margin-right:auto;
} 
tr:hover .animetitle[href*="/9756/"]:hover:before{content:"";background-image: url('https://myanimelist.cdn-dena.com/images/anime/11/55225.jpg')}
tr:hover .animetitle[href*="/9756/"]:before{content:"NO!";
background:url(https://rawgit.com/rl404/MyAnimeList/master/Expander/images/kyubey2.gif) bottom no-repeat;
background-size: 206px,auto;top: 100px;
color:red;
padding-top: 50px; 
height: 241px;
}

/* guilty crown */
tr:hover .animetitle[href*="/10793/"]{
background-image:url(https://rawgit.com/rl404/MyAnimeList/master/Expander/images/ubw2.png),
url(https://rawgit.com/rl404/MyAnimeList/master/Expander/images/gc.gif);
background-size:100%;	
width:100%;
height:385px;
top: -15px;
padding-top: 35px;
min-width:935px;
max-width:1237px;
margin-left:auto;
margin-right:auto;
} 
tr:hover .animetitle[href*="/10793/"]:before{top: 100px;}

/* end of eva */
tr:hover .animetitle[href*="/32/"]{
background:url(https://rawgit.com/rl404/MyAnimeList/master/Expander/images/rain2.gif),
    url(https://rawgit.com/rl404/MyAnimeList/master/Expander/images/rain2.gif),
    url(https://rawgit.com/rl404/MyAnimeList/master/Expander/images/rain2.gif),
    url(https://rawgit.com/rl404/MyAnimeList/master/Expander/images/eva.png);
background-size:747px 5000px,747px 1000px,747px,100%;	
background-position: 0 0, 50% 0,0 0, center;
width:100%;
height:385px;
top: -15px;
padding-top: 35px;
min-width:935px;
max-width:1237px;
margin-left:auto;
margin-right:auto;
} 
tr:hover .animetitle[href*="/32/"]:before{top: 100px;}

/* nichijou */
tr:hover .animetitle[href*="/10165/"]{
background:url(https://rawgit.com/rl404/MyAnimeList/master/Expander/images/ubw2.png),
    url(https://rawgit.com/rl404/MyAnimeList/master/Expander/images/nichijou.gif) left center;
background-size:100%;	
width:100%;
height:385px;
top: -15px;
padding-top: 35px;
min-width:935px;
max-width:1237px;
margin-left:auto;
margin-right:auto;
} 
tr:hover .animetitle[href*="/10165/"]:before{top: 100px;}

/* akame */
tr:hover .animetitle[href*="/22199/"]{
background:url(https://rawgit.com/rl404/MyAnimeList/master/Expander/images/ubw2.png),
	url(https://rawgit.com/rl404/MyAnimeList/master/Expander/images/akame.gif);
background-size:100%,100%;	
background-position: bottom;
width:100%;
height:385px;
top: -15px;
padding-top: 35px;
min-width:935px;
max-width:1237px;
margin-left:auto;
margin-right:auto;
} 
tr:hover .animetitle[href*="/22199/"]:before{top: 100px;}

/* totoro */
tr:hover .animetitle[href*="/523/"]{
background-image:url(https://rawgit.com/rl404/MyAnimeList/master/Expander/images/rain.gif),
    url(https://rawgit.com/rl404/MyAnimeList/master/Expander/images/rain.gif),
    url(https://rawgit.com/rl404/MyAnimeList/master/Expander/images/rain.gif),
	url(https://rawgit.com/rl404/MyAnimeList/master/Expander/images/totoro.png);
background-size:747px 5000px,747px 1000px,747px,100%;	
background-position: 0 0, 50% 0,0 0, center;
width:100%;
height:385px;
top: -15px;
padding-top: 35px;
min-width:935px;
max-width:1237px;
margin-left:auto;
margin-right:auto;
} 
tr:hover .animetitle[href*="/523/"]:before{top: 100px;}

/* 5cm */
tr:hover .animetitle[href*="/1689/"]{
background-image:url(https://rawgit.com/rl404/MyAnimeList/master/Expander/images/ubw2.png),
    url(https://rawgit.com/rl404/MyAnimeList/master/Expander/images/5cm2.gif),
    url(https://rawgit.com/rl404/MyAnimeList/master/Expander/images/5cm2.gif),
    url(https://rawgit.com/rl404/MyAnimeList/master/Expander/images/5cm2.gif),   
	url(https://rawgit.com/rl404/MyAnimeList/master/Expander/images/5cm.png);
background-size:100%, 15%,30%,100%,100%;	 
background-position: 0 0, 20% 0,0 0,0 0,left bottom; 
width:100%;
height:385px;
top: -15px;
padding-top: 35px;
min-width:935px;
max-width:1237px;
margin-left:auto;
margin-right:auto;
} 
tr:hover .animetitle[href*="/1689/"]:before{top: 100px;}

/* carnival phantasm */
tr:hover .animetitle[href*="/10012/"]{
background:url(https://rawgit.com/rl404/MyAnimeList/master/Expander/images/bersercar.png),
    url(https://rawgit.com/rl404/MyAnimeList/master/Expander/images/ubw2.png),
	url(https://rawgit.com/rl404/MyAnimeList/master/Expander/images/lion1.gif),
    url(https://rawgit.com/rl404/MyAnimeList/master/Expander/images/lion2.gif),
    url(https://rawgit.com/rl404/MyAnimeList/master/Expander/images/lion3.gif),
    url(https://rawgit.com/rl404/MyAnimeList/master/Expander/images/lion4.gif),
    url(https://rawgit.com/rl404/MyAnimeList/master/Expander/images/lion5.gif),
    url(https://rawgit.com/rl404/MyAnimeList/master/Expander/images/lion6.gif),
    url(https://rawgit.com/rl404/MyAnimeList/master/Expander/images/lion7.gif),
    url(https://rawgit.com/rl404/MyAnimeList/master/Expander/images/lion1.gif),
    url(https://rawgit.com/rl404/MyAnimeList/master/Expander/images/lion2.gif);
background-size:200px,100%, 755px, 755px, 755px, 755px, 755px, 755px, 755px, 755px, 755px;	
background-repeat: no-repeat;
background-position: 150% 100%,0 0, 0 0, 
    755px 0, 
    1510px 0,
    2265px 0,
    3020px 0,
    3775px 0,
    4530px 0,
    5285px 0,
    6040px 0;
width:100%;
height:385px;
top: -15px;
padding-top: 35px;
min-width:935px;
max-width:1237px;
margin-left:auto;
margin-right:auto;    
animation: cp 72s linear infinite;
-webkit-animation: cp 72s linear infinite;
} 
tr:hover .animetitle[href*="/10012/"]:before{top: 100px;}

@keyframes cp {
    0% { background-position: 150% 100%, 0 0, 0 0, 
	    755px 0, 
	    1510px 0,
	    2265px 0,
	    3020px 0,
	    3775px 0,
	    4530px 0,
	    5285px 0,
	    6040px 0;}
    100% {background-position: -6000px 100%, 0 0,-5285px 0,
    	-4530px 0, 
	    -3775px 0, 
	    -3020px 0,
	    -2265px 0,
	    -1510px 0,
	    -755px 0,
	    0px 0,
	    755px 0;}
}

@-webkit-keyframes cp {
    0% { background-position: 150% 100%, 0 0, 0 0, 
	    755px 0, 
	    1510px 0,
	    2265px 0,
	    3020px 0,
	    3775px 0,
	    4530px 0,
	    5285px 0,
	    6040px 0;} 
    100% {background-position: -6000px 100%, 0 0, -5285px 0,
    	-4530px 0, 
	    -3775px 0, 
	    -3020px 0,
	    -2265px 0,
	    -1510px 0,
	    -755px 0,
	    0px 0,
	    755px 0;}
}

/* bakemonogatari */
tr:hover .animetitle[href*="/5081/"]{
background-image:url(https://rawgit.com/rl404/MyAnimeList/master/Expander/images/snow1.png),
    url(https://rawgit.com/rl404/MyAnimeList/master/Expander/images/snow1.png),
    url(https://rawgit.com/rl404/MyAnimeList/master/Expander/images/snow2.png),
	url(https://rawgit.com/rl404/MyAnimeList/master/Expander/images/bakemonogatari.png);
background-size:auto,420px,1000px,100%;	
width:100%;
height:385px;
top: -15px;
padding-top: 35px;
min-width:935px;
max-width:1237px;
margin-left:auto;
margin-right:auto;
animation: snow1 15s linear infinite;
-webkit-animation: snow1 15s linear infinite;
} 
tr:hover .animetitle[href*="/5081/"]:before{top: 100px;}

@keyframes snow1 {
    0% { background-position: 0 -300px, 0px -840px, 0px -2000px,right; }
    100% { background-position: 0 0, 0 0, 0 0,right; }
    
}

@-webkit-keyframes snow1 {
        0% { background-position: 0 -300px, 0px -840px, 0px -2000px,right; }
    100% { background-position: 0 0,0 0, 0 0,right; }
} 

/* suzumiya haruhi no shoushitsu */
tr:hover .animetitle[href*="/7311/"]{
background-image:url(https://rawgit.com/rl404/MyAnimeList/master/Expander/images/snow1.png),
    url(https://rawgit.com/rl404/MyAnimeList/master/Expander/images/snow1.png),
    url(https://rawgit.com/rl404/MyAnimeList/master/Expander/images/snow2.png),
	url(https://rawgit.com/rl404/MyAnimeList/master/Expander/images/shns.png);
background-size:auto,420px,1000px,100%;	
width:100%;
height:385px;
top: -15px;
padding-top: 35px;
min-width:935px;
max-width:1237px;
margin-left:auto;
margin-right:auto;
animation: snow1 15s linear infinite;
-webkit-animation: snow1 15s linear infinite;
} 
tr:hover .animetitle[href*="/7311/"]:before{top: 100px;}

/* mirai nikki */
tr:hover .animetitle[href*="/10620/"]{
background:url(https://rawgit.com/rl404/MyAnimeList/master/Expander/images/mirainikki.png);
background-size:100%;	
box-shadow: inset 0px 0px 100px -20px rgba(255,0,0,0.5);
width:100%;
height:385px;
top: -15px;
padding-top: 35px;
min-width:935px;
max-width:1237px;
margin-left:auto;
margin-right:auto;} 
tr:hover .animetitle[href*="/10620/"]:before{top: 100px;}
tr:hover .animetitle[href*="/10620/"]:hover{   
	background: none;
	box-shadow: inset 0px 0px 0px 0px;  
}

/* nisemonogatari */
tr:hover .animetitle[href*="/11597/"]{
background:url(https://rawgit.com/rl404/MyAnimeList/master/Expander/images/ubw2.png),
    url(https://rawgit.com/rl404/MyAnimeList/master/Expander/images/nisemonogatari2.gif) center ;
background-size:100%;	
width:100%;
height:385px;
top: -15px;
padding-top: 35px;
min-width:935px;
max-width:1237px;
margin-left:auto;
margin-right:auto;
} 
tr:hover .animetitle[href*="/11597/"]:hover{
background: url(https://cdn.rawgit.com/rl404/MyAnimeList/master/Expander/images/nisemonogatari.png) center;
background-size:100%;
}
tr:hover .animetitle[href*="/11597/"]:hover:before{background: url('https://myanimelist.cdn-dena.com/images/anime/10/35619.jpg');}
tr:hover .animetitle[href*="/11597/"]:before{
top: 100px;
background:url(https://rawgit.com/rl404/MyAnimeList/master/Expander/images/nisemonogatari.gif);
background-size:206px;
}

/* fate zero */
tr:hover .animetitle[href*="/11741/"]{
background:url(https://cdn.rawgit.com/rl404/MyAnimeList/master/Madoka/images/star1.png),
    url(https://cdn.rawgit.com/rl404/MyAnimeList/master/Madoka/images/star2.png),
    url(https://cdn.rawgit.com/rl404/MyAnimeList/master/Madoka/images/star2.png),
    url(https://rawgit.com/rl404/MyAnimeList/master/Expander/images/fatezero.png) ;
background-size:auto,420px,1000px,100%;	
width:100%;
height:385px;
top: -15px;
padding-top: 35px;
min-width:935px;
max-width:1237px;
margin-left:auto;
margin-right:auto;
    animation: sparkle2 15s linear infinite;
-webkit-animation: sparkle2 15s linear infinite;
} 
tr:hover .animetitle[href*="/11741/"]:before{top: 100px;}

/* yozakura no quartet */
tr:hover .animetitle[href*="/18497/"]{
background:url(https://rawgit.com/rl404/MyAnimeList/master/Expander/images/ubw2.png),
    url(https://rawgit.com/rl404/MyAnimeList/master/Expander/images/5cm2.gif),
    url(https://rawgit.com/rl404/MyAnimeList/master/Expander/images/5cm2.gif),
    url(https://rawgit.com/rl404/MyAnimeList/master/Expander/images/5cm2.gif),   
    url(https://rawgit.com/rl404/MyAnimeList/master/Expander/images/yq.png) ;
background-size:100%, 15%,30%,100%,100%;	 
background-position: 0 0, 20% 0,0 0,0 0,top; 	
width:100%;
height:385px;
top: -15px;
padding-top: 35px;
min-width:935px;
max-width:1237px;
margin-left:auto;
margin-right:auto;    
} 
tr:hover .animetitle[href*="/18497/"]:hover:before{background: url('https://myanimelist.cdn-dena.com/images/anime/5/52563.jpg');}
tr:hover .animetitle[href*="/18497/"]:before{
background:url(https://rawgit.com/rl404/MyAnimeList/master/Expander/images/yq2.gif) center center no-repeat;
background-size:481px;top: 100px;
color:red;
padding-top: 50px; 
height: 241px;
}

/* girl und panzer */
tr:hover .animetitle[href*="/14131/"]{
background:url(https://rawgit.com/rl404/MyAnimeList/master/Expander/images/ubw2.png),
	url(https://rawgit.com/rl404/MyAnimeList/master/Expander/images/gup.gif),
    url(https://rawgit.com/rl404/MyAnimeList/master/Expander/images/gup.png) bottom;
background-size:100%,2720px,100%;	
width:100%;
height:385px;
top: -15px;
padding-top: 35px;
min-width:935px;
max-width:1237px;
margin-left:auto;
margin-right:auto;
-moz-animation: scroll 60s linear infinite;
-webkit-animation: scroll 60s linear infinite;
} 
tr:hover .animetitle[href*="/14131/"]:before{top: 100px;}

@-moz-keyframes scroll{
	0% { background-position: 0 0,0,bottom; }
	100% { background-position: 0 0,-2720px,bottom; }
}

@-webkit-keyframes scroll{
	0% { background-position: 0 0,0,bottom; }
	100% { background-position: 0 0,-2720px,bottom; }
}

/* girls und panzer movie */
tr:hover .animetitle[href*="/18617/"]{
background:url(https://rawgit.com/rl404/MyAnimeList/master/Expander/images/ubw2.png),
	url(https://rawgit.com/rl404/MyAnimeList/master/Expander/images/gup2.gif),
    url(https://rawgit.com/rl404/MyAnimeList/master/Expander/images/gup.png) bottom;
background-size:100%,819px,100%;	
width:100%;
height:385px;
top: -15px;
padding-top: 35px;
min-width:935px;
max-width:1237px;
margin-left:auto;
margin-right:auto;
-moz-animation: scroll2 30s linear infinite;
-webkit-animation: scroll2 30s linear infinite;
} 
tr:hover .animetitle[href*="/18617/"]:before{top: 100px;}

@-moz-keyframes scroll2{
	0% { background-position: 0 0,0,bottom; }
	100% { background-position: 0 0,-819px,bottom; }
}

@-webkit-keyframes scroll2{
	0% { background-position: 0 0,0,bottom; }
	100% { background-position: 0 0,-819px,bottom; }
}

/* girls und panzer arisu */
tr:hover .animetitle[href*="/32740/"]{
background:url(https://rawgit.com/rl404/MyAnimeList/master/Expander/images/ubw2.png),
	url(https://rawgit.com/rl404/MyAnimeList/master/Expander/images/gup3.gif),
    url(https://rawgit.com/rl404/MyAnimeList/master/Expander/images/gup.png) bottom;
background-size:100%,375px,100%;
width:100%;
height:385px;
top: -15px;
padding-top: 35px;
min-width:935px;
max-width:1237px;
margin-left:auto;
margin-right:auto;
-moz-animation: scroll3 10s linear infinite;
-webkit-animation: scroll3 10s linear infinite;
} 
tr:hover .animetitle[href*="/32740/"]:before{top: 100px;}

@-moz-keyframes scroll3{
	0% { background-position: 0 0,0,bottom; }
	100% { background-position: 0 0,-375px,bottom; }
}

@-webkit-keyframes scroll3{
	0% { background-position: 0 0,0,bottom; }
	100% { background-position: 0 0,-375px,bottom; }
}

/* chuunibyou */
tr:hover .animetitle[href*="/18671/"],
tr:hover .animetitle[href*="/14741/"]{
background:url(https://rawgit.com/rl404/MyAnimeList/master/Expander/images/chuuni.png);
background-size:100%;
width:100%;
height:385px;
top: -15px;
padding-top: 35px;
min-width:935px;
max-width:1237px;
margin-left:auto;
margin-right:auto;
} 
tr:hover .animetitle[href*="/18671/"]:hover:before{background-image: url('https://myanimelist.cdn-dena.com/images/anime/7/56643.jpg')}
tr:hover .animetitle[href*="/14741/"]:hover:before{background-image: url('https://myanimelist.cdn-dena.com/images/anime/12/46931.jpg')}
tr:hover .animetitle[href*="/18671/"]:before,
tr:hover .animetitle[href*="/14741/"]:before{
background:url(https://rawgit.com/rl404/MyAnimeList/master/Expander/images/chuuni.gif)left center no-repeat,black;
background-size: 100%;top: 100px;
}

/* kill la kill */
tr:hover .animetitle[href*="/18679/"]{
background:url(https://rawgit.com/rl404/MyAnimeList/master/Expander/images/rain2.gif),
    url(https://rawgit.com/rl404/MyAnimeList/master/Expander/images/rain2.gif),
    url(https://rawgit.com/rl404/MyAnimeList/master/Expander/images/rain2.gif),
    url(https://rawgit.com/rl404/MyAnimeList/master/Expander/images/killlakill.png);
background-size:747px 5000px,747px 1000px,747px,100%;	
background-position: 0 0, 50% 0,0 0, center;
width:100%;
height:385px;
top: -15px;
padding-top: 35px;
min-width:935px;
max-width:1237px;
margin-left:auto;
margin-right:auto;
} 
tr:hover .animetitle[href*="/18679/"]:before{top: 100px;}

/* noucome */
tr:hover .animetitle[href*="/19221/"]{
background:url(https://rawgit.com/rl404/MyAnimeList/master/Expander/images/noucome.png);
background-size:100%;	 
width:100%;
height:385px;
top: -15px;
padding-top: 35px;
min-width:935px;
max-width:1237px;
margin-left:auto;
margin-right:auto;    
} 
tr:hover .animetitle[href*="/19221/"]:hover:before{background: url('https://myanimelist.cdn-dena.com/images/anime/10/53235.jpg');}
tr:hover .animetitle[href*="/19221/"]:before{
background:url(https://rawgit.com/rl404/MyAnimeList/master/Expander/images/noucome.gif) top no-repeat;
background-size:206px 291px;top: 100px;
}

/* outbreak */
tr:hover .animetitle[href*="/19369/"]{
background:url(https://rawgit.com/rl404/MyAnimeList/master/Expander/images/outbreak.png);
background-size:100%;	
width:100%;
height:385px;
top: -15px;
padding-top: 35px;
min-width:935px;
max-width:1237px;
margin-left:auto;
margin-right:auto;
} 
tr:hover .animetitle[href*="/19369/"]:before{top: 100px;}

/* akuma no riddle */
tr:hover .animetitle[href*="/19429/"]{
background:url(https://rawgit.com/rl404/MyAnimeList/master/Expander/images/anr.png);
background-size:100%;	
width:100%;
height:385px;
top: -15px;
padding-top: 35px;
min-width:935px;
max-width:1237px;
margin-left:auto;
margin-right:auto;
} 
tr:hover .animetitle[href*="/19429/"]:before{top: 100px;}

/* hanamonogatari */
tr:hover .animetitle[href*="/21855/"]{
background:url(https://rawgit.com/rl404/MyAnimeList/master/Expander/images/ubw2.png),
    url(https://rawgit.com/rl404/MyAnimeList/master/Expander/images/hanamonogatari.gif) center;
background-size:100%;	
width:100%;
height:385px;
top: -15px;
padding-top: 35px;
min-width:935px;
max-width:1237px;
margin-left:auto;
margin-right:auto;
} 
tr:hover .animetitle[href*="/21855/"]:before{top: 100px;}
tr:hover .animetitle[href*="/21855/"]:hover{
background: url(https://cdn.rawgit.com/rl404/MyAnimeList/master/Expander/images/hanamonogatari.png) center;
background-size:100%;
}


/* tokyo ghoul */
tr:hover .animetitle[href*="/22319/"]{
background:url(https://rawgit.com/rl404/MyAnimeList/master/Expander/images/rain2.gif),
    url(https://rawgit.com/rl404/MyAnimeList/master/Expander/images/rain2.gif),
    url(https://rawgit.com/rl404/MyAnimeList/master/Expander/images/rain2.gif),
    url(https://rawgit.com/rl404/MyAnimeList/master/Expander/images/tg.png);
background-size:747px 5000px,747px 1000px,747px,100%;	
background-position: 0 0, 50% 0,0 0, center;
width:100%;
height:385px;
top: -15px;
padding-top: 35px;
min-width:935px;
max-width:1237px;
margin-left:auto;
margin-right:auto;
} 
tr:hover .animetitle[href*="/22319/"]:before{top: 100px;}

tr:hover .animetitle[href*="anime/22319/"]:after {content:"1000 - 7";
position:absolute;
margin-left:10px;
margin-top:-2px;
color:red;
font-weight:bold;
font-family:arial, sans-serif;
text-shadow:0px 0px 5px #777;
font-size:15px;
pointer-events:none;
transform:rotate(8deg);
-ms-transform:rotate(8deg);
-webkit-transform:rotate(8deg);}
tr:hover .animetitle[href*="anime/22319/"]:hover:after{content: "";}

/* shigatsu */
tr:hover .animetitle[href*="/23273/"]{
background:url(https://rawgit.com/rl404/MyAnimeList/master/Expander/images/ubw2.png),
    url(https://rawgit.com/rl404/MyAnimeList/master/Expander/images/5cm2.gif),
    url(https://rawgit.com/rl404/MyAnimeList/master/Expander/images/5cm2.gif),
    url(https://rawgit.com/rl404/MyAnimeList/master/Expander/images/5cm2.gif),   
    url(https://rawgit.com/rl404/MyAnimeList/master/Expander/images/shigatsu.png) ;
background-size:100%, 15%,30%,100%,100%;	 
background-position: 0 0, 20% 0,0 0,0 0,top; 	
width:100%;
height:385px;
top: -15px;
padding-top: 35px;
min-width:935px;
max-width:1237px;
margin-left:auto;
margin-right:auto;    
} 

/* nanatsu no taizai */
tr:hover .animetitle[href*="/23755/"]{
background:url(https://rawgit.com/rl404/MyAnimeList/master/Expander/images/rain2.gif),
    url(https://rawgit.com/rl404/MyAnimeList/master/Expander/images/rain2.gif),
    url(https://rawgit.com/rl404/MyAnimeList/master/Expander/images/rain2.gif),
    url(https://rawgit.com/rl404/MyAnimeList/master/Expander/images/nnt.png) ;
background-size:747px 5000px,747px 1000px,747px,2089px;	
background-position:0, 50%, 0, 0;
width:100%;
height:385px;
top: -15px;
padding-top: 35px;
min-width:935px;
max-width:1237px;
margin-left:auto;
margin-right:auto;
-moz-animation: scroll4 30s linear infinite;
-webkit-animation: scroll4 30s linear infinite;
} 
tr:hover .animetitle[href*="/23755/"]:before{top: 100px;}

@-moz-keyframes scroll4{
	0% { background-position: 0, 50%, 0,0; }
	100% { background-position: 0, 50%, 0,-2089px; }
}

@-webkit-keyframes scroll4{
	0% { background-position: 0, 50%, 0,0; }
	100% { background-position: 0, 50%, 0,-2089px; }
}

/* kekkai sensen */
tr:hover .animetitle[href*="/24439/"]{
background:url(https://rawgit.com/rl404/MyAnimeList/master/Expander/images/ubw2.png),
    url(https://rawgit.com/rl404/MyAnimeList/master/Expander/images/kekkai.gif)center;
background-size:100%;	 
width:100%;
height:385px;
top: -15px;
padding-top: 35px;
min-width:935px;
max-width:1237px;
margin-left:auto;
margin-right:auto;    
} 
tr:hover .animetitle[href*="/24439/"]:hover{
    background: url(https://rawgit.com/rl404/MyAnimeList/master/Expander/images/ubw2.png),
        url(https://rawgit.com/rl404/MyAnimeList/master/Expander/images/kekkai.png)center;
    background-size:100%;
}

/* tsukimonogatari */
tr:hover .animetitle[href*="/28025/"]{
background:url(https://rawgit.com/rl404/MyAnimeList/master/Expander/images/tsukimonogatari.png);
background-size:100%;
width:100%;
height:385px;
top: -15px;
padding-top: 35px;
min-width:935px;
max-width:1237px;
margin-left:auto;
margin-right:auto;
}
tr:hover .animetitle[href*="/28025/"]:before{top: 100px;}

/* monogatari 2nd season */
tr:hover .animetitle[href*="/17074/"]{
background:url(https://rawgit.com/rl404/MyAnimeList/master/Expander/images/monogatari2nd.png) ;
background-size:100%;	
width:100%;
height:385px;
top: -15px;
padding-top: 35px;
min-width:935px;
max-width:1237px;
margin-left:auto;
margin-right:auto;
    -moz-animation: scroll5 30s linear infinite;
-webkit-animation: scroll5 30s linear infinite;
} 
tr:hover .animetitle[href*="/17074/"]:before{top: 100px;}

@-moz-keyframes scroll5{
	0% { background-position: 0; }
	100% { background-position: -1200px; }
}

@-webkit-keyframes scroll5{
	0% { background-position: 0; }
	100% { background-position: -1200px; }
}

/* charlotte */
tr:hover .animetitle[href*="/28999/"]{
background:url(https://rawgit.com/rl404/MyAnimeList/master/Expander/images/charlotte.png) ;
background-size:100%;	
width:100%;
height:385px;
top: -15px;
padding-top: 35px;
min-width:935px;
max-width:1237px;
margin-left:auto;
margin-right:auto;
} 
tr:hover .animetitle[href*="/28999/"]:before{top: 100px;}

/* grisaia no rakuen */
tr:hover .animetitle[href*="/17729/"]{
background-image:url(https://rawgit.com/rl404/MyAnimeList/master/Expander/images/rakuen.png);
background-size:100%;	
width:100%;
height:385px;
top: -15px;
padding-top: 35px;
min-width:935px;
max-width:1237px;
margin-left:auto;
margin-right:auto;
} 
tr:hover .animetitle[href*="/17729/"]:before{top: 100px;}

/* grisaia no kajitsu */
tr:hover .animetitle[href*="/29095/"]{
background-image:url(https://rawgit.com/rl404/MyAnimeList/master/Expander/images/kajitsu.png);
background-size:100%;	
width:100%;
height:385px;
top: -15px;
padding-top: 35px;
min-width:935px;
max-width:1237px;
margin-left:auto;
margin-right:auto;
} 
tr:hover .animetitle[href*="/29095/"]:before{top: 100px;}

/* grisaia 0 */
tr:hover .animetitle[href*="/29093/"]{
background-image:url(https://rawgit.com/rl404/MyAnimeList/master/Expander/images/grisaia0.png);
background-size:100%;	
width:100%;
height:385px;
top: -15px;
padding-top: 35px;
min-width:935px;
max-width:1237px;
margin-left:auto;
margin-right:auto;
} 
tr:hover .animetitle[href*="/29093/"]:before{top: 100px;}

/* overlord */
tr:hover .animetitle[href*="/29803/"]{
background-image:url(https://rawgit.com/rl404/MyAnimeList/master/Expander/images/overlord.png);
background-size:100%;	
width:100%;
height:385px;
top: -15px;
padding-top: 35px;
min-width:935px;
max-width:1237px;
margin-left:auto;
margin-right:auto;
} 
tr:hover .animetitle[href*="/29803/"]:before{top: 100px;}

/* one punch man */
tr:hover .animetitle[href*="/30276/"]{
background:url(https://cdn.rawgit.com/rl404/MyAnimeList/master/Madoka/images/star1.png),
    url(https://cdn.rawgit.com/rl404/MyAnimeList/master/Madoka/images/star2.png),
    url(https://cdn.rawgit.com/rl404/MyAnimeList/master/Madoka/images/star2.png),
    url(https://cdn.rawgit.com/rl404/MyAnimeList/master/Expander/images/opm.png) ;
background-size:auto,420px,1000px,100%;	
width:100%;
height:385px;
top: -15px;
padding-top: 35px;
min-width:935px;
max-width:1237px;
margin-left:auto;
margin-right:auto;
animation: sparkle2 15s linear infinite;
-webkit-animation: sparkle2 15s linear infinite;
} 
tr:hover .animetitle[href*="/30276/"]:before{top: 100px;}
tr:hover .animetitle[href*="/30276/"]:hover:before{background: url('https://myanimelist.cdn-dena.com/images/anime/12/76049.jpg');}
tr:hover .animetitle[href*="/30276/"]:before{
background:url(https://cdn.rawgit.com/rl404/MyAnimeList/master/Expander/images/opm2.png) top no-repeat;
background-size:206px 291px;top: 100px;
}

/* ansatsu */
tr:hover .animetitle[href*="/24833/"]{
background-image:url(https://cdn.rawgit.com/rl404/MyAnimeList/master/Expander/images/ansatsu.png);
background-size:100%;	
width:100%;
height:385px;
top: -15px;
padding-top: 35px;
min-width:935px;
max-width:1237px;
margin-left:auto;
margin-right:auto;
} 
tr:hover .animetitle[href*="/24833/"]:before{top: 100px;}

/* ansatsu 2 */
tr:hover .animetitle[href*="/30654/"]{
background-image:url(https://cdn.rawgit.com/rl404/MyAnimeList/master/Madoka/images/star1.png),
    url(https://cdn.rawgit.com/rl404/MyAnimeList/master/Madoka/images/star2.png),
    url(https://cdn.rawgit.com/rl404/MyAnimeList/master/Madoka/images/star2.png),
    url(https://cdn.rawgit.com/rl404/MyAnimeList/master/Expander/images/ansatsu2.png);
background-size:auto,420px,1000px,100%;	
width:100%;
height:385px;
top: -15px;
padding-top: 35px;
min-width:935px;
max-width:1237px;
margin-left:auto;
margin-right:auto;
animation: sparkle2 15s linear infinite;
-webkit-animation: sparkle2 15s linear infinite;
} 
tr:hover .animetitle[href*="/30654/"]:before{top: 100px;}

/* konosuba */
tr:hover .animetitle[href*="/30831/"]{
background:url(https://cdn.rawgit.com/rl404/MyAnimeList/master/Expander/images/konosuba12.png)center;
background-size:100%;	 
width:100%;
height:385px;
top: -15px;
padding-top: 35px;
min-width:935px;
max-width:1237px;
margin-left:auto;
margin-right:auto;    
} 
tr:hover .animetitle[href*="/30831/"]:hover{
    background: url(https://cdn.rawgit.com/rl404/MyAnimeList/master/Expander/images/konosuba11.png)center;
    background-size:100%;
}

/* konosuba ova */
tr:hover .animetitle[href*="/32380/"]{
background:url(https://rawgit.com/rl404/MyAnimeList/master/Expander/images/ubw2.png),
    url(https://cdn.rawgit.com/rl404/MyAnimeList/master/Expander/images/konosubaova.gif)center;
background-size:100%;	 
width:100%;
height:385px;
top: -15px;
padding-top: 35px;
min-width:935px;
max-width:1237px;
margin-left:auto;
margin-right:auto;    
} 
tr:hover .animetitle[href*="/32380/"]:hover{
    background: url(https://cdn.rawgit.com/rl404/MyAnimeList/master/Expander/images/konosubaova.png)center;
    background-size:100%;
}

/* konosuba 2 */
tr:hover .animetitle[href*="/32937/"]{
background:url(https://rawgit.com/rl404/MyAnimeList/master/Expander/images/ubw2.png),
    url(https://cdn.rawgit.com/rl404/MyAnimeList/master/Expander/images/konosuba22.gif)center;
background-size:100%;	 
width:100%;
height:385px;
top: -15px;
padding-top: 35px;
min-width:935px;
max-width:1237px;
margin-left:auto;
margin-right:auto;    
} 
tr:hover .animetitle[href*="/32937/"]:hover{
background: url(https://rawgit.com/rl404/MyAnimeList/master/Expander/images/ubw2.png),
    url(https://cdn.rawgit.com/rl404/MyAnimeList/master/Expander/images/konosuba21.gif)center;
background-size:100%;
}

/* owarimonogatari */
tr:hover .animetitle[href*="/31181/"]{
background:url(https://rawgit.com/rl404/MyAnimeList/master/Expander/images/owarimonogatari.png) center ;
background-size:100%;	
width:100%;
height:385px;
top: -15px;
padding-top: 35px;
min-width:935px;
max-width:1237px;
margin-left:auto;
margin-right:auto;
} 
tr:hover .animetitle[href*="/31181/"]:before{top: 100px;}

/* owarimonogatari 2 */
tr:hover .animetitle[href*="/35247/"]{
background:url(https://rawgit.com/rl404/MyAnimeList/master/Expander/images/ubw2.png),
    url(https://rawgit.com/rl404/MyAnimeList/master/Expander/images/owarimonogatari2.gif) top center ;
background-size:100%;   
width:100%;
height:385px;
top: -15px;
padding-top: 35px;
min-width:935px;
max-width:1237px;
margin-left:auto;
margin-right:auto;
} 
tr:hover .animetitle[href*="/35247/"]:before{top: 100px;}

/* flying witch */
tr:hover .animetitle[href*="/31376/"]{
background:url(https://rawgit.com/rl404/MyAnimeList/master/Expander/images/flyingwitch.png) ;
background-size:100%;
width:100%;
height:385px;
top: -15px;
padding-top: 35px;
min-width:935px;
max-width:1237px;
margin-left:auto;
margin-right:auto;
}
tr:hover .animetitle[href*="/31376/"]:before{top: 100px;}

/* sao os */
tr:hover .animetitle[href*="/31765/"]{
background:url(https://rawgit.com/rl404/MyAnimeList/master/Expander/images/saoos.png) center;
background-size:100%;
width:100%;
height:385px;
top: -15px;
padding-top: 35px;
min-width:935px;
max-width:1237px;
margin-left:auto;
margin-right:auto;
}
tr:hover .animetitle[href*="/31765/"]:before{top: 100px;}

/* konobi */
tr:hover .animetitle[href*="/31952/"]{
background:url(https://rawgit.com/rl404/MyAnimeList/master/Expander/images/konobi.png) center;
background-size:100%;
width:100%;
height:385px;
top: -15px;
padding-top: 35px;
min-width:935px;
max-width:1237px;
margin-left:auto;
margin-right:auto;
}
tr:hover .animetitle[href*="/31952/"]:before{top: 100px;}
tr:hover .animetitle[href*="/31952/"]:hover:before{background: url('https://myanimelist.cdn-dena.com/images/anime/3/80688.jpg');}
tr:hover .animetitle[href*="/31952/"]:before{
background:url(https://rawgit.com/rl404/MyAnimeList/master/Expander/images/konobi.gif);
background-size:206px 291px;top: 100px;
}

/* kimi no na wa */
tr:hover .animetitle[href*="/32281/"]{
background-image:url(https://rawgit.com/rl404/MyAnimeList/master/Expander/images/kiminonawa.png);
background-size:100%;	
width:100%;
height:385px;
top: -15px;
padding-top: 35px;
min-width:935px;
max-width:1237px;
margin-left:auto;
margin-right:auto;
} 
tr:hover .animetitle[href*="/32281/"]:before{top: 100px;}

/* Kizumonogatari 1 */
tr:hover .animetitle[href*="/9260/"]{
background:url(https://rawgit.com/rl404/MyAnimeList/master/Expander/images/kz1.png);
background-size:100%;   
width:100%;
height:385px;
top: -15px;
padding-top: 35px;
min-width:935px;
max-width:1237px;
margin-left:auto;
margin-right:auto;} 
tr:hover .animetitle[href*="/9260/"]:before{top: 100px;}

/* Kizumonogatari 2 */
tr:hover .animetitle[href*="/31757/"]{
background-image:url(https://rawgit.com/rl404/MyAnimeList/master/Expander/images/rain-30.gif),
    url(https://rawgit.com/rl404/MyAnimeList/master/Expander/images/rain-30.gif),
    url(https://rawgit.com/rl404/MyAnimeList/master/Expander/images/rain-30.gif),
    url(https://rawgit.com/rl404/MyAnimeList/master/Expander/images/kz2.png);
background-size:30%,50%,0,100%;
background-position: 0 0, 50% 0,25% 0, center;
background-repeat:repeat;
width:100%;
height:385px;
top: -15px;
padding-top: 35px;
min-width:935px;
max-width:1237px;
margin-left:auto;
margin-right:auto;
} 
tr:hover .animetitle[href*="/31757/"]:before{top: 100px;}

/* Kizumonogatari 3 */
tr:hover .animetitle[href*="/31758/"]{
background:url(https://rawgit.com/rl404/MyAnimeList/master/Expander/images/kz3.png) center ;
background-size:100%;   
width:100%;
height:385px;
top: -15px;
padding-top: 35px;
min-width:935px;
max-width:1237px;
margin-left:auto;
margin-right:auto;
} 
tr:hover .animetitle[href*="/31758/"]:before{top: 100px;}

/* Nekomonogatari */
tr:hover .animetitle[href*="/15689/"]{
background:url(https://rawgit.com/rl404/MyAnimeList/master/Expander/images/ubw2.png),
url(https://rawgit.com/rl404/MyAnimeList/master/Expander/images/neko.gif) top center;
background-size:100%;
width:100%;
height:385px;
top: -15px;
padding-top: 35px;
min-width:935px;
max-width:1237px;
margin-left:auto;
margin-right:auto;
}
tr:hover .animetitle[href*="/15689/"]:before{top: 100px;}

/* Cromartie high school */
tr:hover .animetitle[href*="/114/"]{
background:url(https://rawgit.com/rl404/MyAnimeList/master/Expander/images/ubw2.png),
    url(https://rawgit.com/rl404/MyAnimeList/master/Expander/images/cromartie.gif) top center ;
background-size:100%;   
width:100%;
height:385px;
top: -15px;
padding-top: 35px;
min-width:935px;
max-width:1237px;
margin-left:auto;
margin-right:auto;
} 
tr:hover .animetitle[href*="/114/"]:before{top: 100px;}

/* Spirited away */
tr:hover .animetitle[href*="/199/"]{
background-image:url(https://rawgit.com/rl404/MyAnimeList/master/Expander/images/rain.gif),
    url(https://rawgit.com/rl404/MyAnimeList/master/Expander/images/rain.gif),
    url(https://rawgit.com/rl404/MyAnimeList/master/Expander/images/rain.gif),
    url(https://rawgit.com/rl404/MyAnimeList/master/Expander/images/sa.png);
background-size:747px 5000px,747px 1000px,747px,100%;
background-position: 0 0, 50% 0,0 0, center;
width:100%;
height:385px;
top: -15px;
padding-top: 35px;
min-width:935px;
max-width:1237px;
margin-left:auto;
margin-right:auto;
} 
tr:hover .animetitle[href*="/199/"]:before{top: 100px;}