#mal\_control_strip {
	position: fixed;
	display: block;
	right: 110px !important;
	bottom: 0;
	width: 0 !important;
	height: 0 !important;
	background: none !important;
	z-index: 3;
}

#mal\_control_strip table, #mal\_control_strip td  { display: block !important; }
 
#mal\_control_strip img, #mal\_cs_powered, #mal\_cs_powered img, #mal\_cs_pic, #mal\_cs_otherlinks strong, #search,
#mal\_cs_otherlinks div a[href*="shared"], #mal\_cs_otherlinks div span[title*="Compatibility Score"] { display: none; }

#mal_cs_pic, #mal_cs_listinfo, #mal_cs_links { border-right: none !important; }

#mal\_cs_otherlinks div:nth-child(2) { color: transparent !important; }

#mal_cs_otherlinks div a[href*="history"], #mal_cs_otherlinks div a[href*="list/"],
#mal_cs_otherlinks div a[href$="/forum/"], #mal_cs_otherlinks div a[href*="export"], 
#mal\_cs_links div a[href$="/"], #mal\_cs_links div:last-of-type a:first-of-type { display: none !important; }

#mal\_cs_otherlinks div a, #mal\_cs_listinfo div:last-of-type a, #mal\_cs_listinfo div:first-of-type a, 
#mal_cs_links div a[href*="addtolist"], #mal\_cs_links div:last-of-type a:first-of-type, #mal\_cs_links div:last-of-type a:last-of-type { 
	position: fixed;
	display: block;
	right: 110px;
	bottom: 2px;
	width: 34px;
	height: 34px;
	font-size: 0 !important;
	color: transparent;
	background-repeat: no-repeat;
}

#mal\_cs_otherlinks div a:after, #mal\_cs_listinfo div:last-of-type a:after, #mal\_cs_listinfo div:first-of-type a:after, 
#mal_cs_links div a[href*="addtolist"]:after, #mal\_cs_links div:last-of-type a:first-of-type:after, #mal\_cs_links div:last-of-type a:last-of-type:after {
	pointer-events: none;
	opacity: 0;
	position: absolute;
	display: inline-block;
	width: 100px;
	margin: -45px 0 0 -39px;
	padding: 4px;
	line-height: 17px;
	font-family: 'Caudex', serif;
	font-size: 14px;
	color: #1e1e1e;
	text-align: center;
	background: linear-gradient(top, rgb(252, 245, 238) 0%, rgb(206, 203, 208) 100%);
	background: -moz-linear-gradient(top, rgb(252, 245, 238) 0%, rgb(206, 203, 208) 100%);
	background: -webkit-linear-gradient(top, rgb(252, 245, 238) 0%, rgb(206, 203, 208) 100%);
	border: solid 1px #1e1e1e;
	border-radius: 16px;
	transition: all .3s linear;
	-webkit-transition: all .3s linear;
	z-index: 1;
}

#mal\_cs_otherlinks div a:hover:after, #mal\_cs_listinfo div:last-of-type a:hover:after, #mal\_cs_listinfo div:first-of-type a:hover:after, 
#mal_cs_links div a[href*="addtolist"]:hover:after, #mal\_cs_links div:last-of-type a:first-of-type:hover:after, #mal\_cs_links div:last-of-type a:last-of-type:hover:after { opacity: 1; margin: -25px 0 0 -39px; }

/*  USERNAME */
#mal\_cs_listinfo div:first-of-type a { margin-right: 132px; background-position: -102px 0; }

#mal\_cs_listinfo div:first-of-type a:after { content: 'Profile'; }

/* ADD */
#mal\_cs_links div a[href*="addtolist"] { margin-right: 88px; background-position: -136px 0; }

#mal\_cs_links div a[href*="addtolist"]:after { content: 'Add'; }

/* MANGALIST */
#mal\_cs_links div:last-of-type a:last-of-type { margin-right: 44px; background-position: -170px 0; }

#mal\_cs_links div:last-of-type a:last-of-type:after { content: 'Manga'; }

/* LOGOUT */
#mal\_cs_listinfo div:last-of-type a { margin-right: 0; background-position: -204px 0; }

#mal\_cs_listinfo div:last-of-type a:after { content: 'Logout'; }

/* LOGIN */
#mal\_cs_otherlinks div a[href*="login"] { margin-right: 88px; background-position: 0 0; }

#mal\_cs_otherlinks div a[href*="login"]:after { content: 'Login'; }

/* REGISTER */
#mal\_cs_otherlinks div a[href*="register"] { margin-right: 44px; background-position: -34px 0; }

#mal\_cs_otherlinks div a[href*="register"]:after { content: 'Register'; }

/* FAQ */
#mal\_cs_otherlinks div a[href*="forum"] { margin-right: 0; background-position: -68px 0; }

#mal\_cs_otherlinks div a[href*="forum"]:after { content: 'Help'; }