@import url(http://fonts.googleapis.com/css?family=Kite+One);
@import url(https://rawgit.com/rl404/MyAnimeList/master/Anohana/tabcontent.css);
@import url(https://rawgit.com/rl404/MyAnimeList/master/Anohana/categorymenu.css);
@import url(https://rawgit.com/rl404/MyAnimeList/master/Anohana/topmenu.css);

/* Cover */
@import url(https://rawgit.com/rl404/MyAnimeList/master/Anohana/cover.css);

/* Custom cursor */
* { cursor: default; }

/* Covers settings */
.hide {
	pointer-events: none;
	visibility: hidden;
	opacity: 0;
	position: absolute;
	display: block !important;
	margin-left: 730px !important;
	margin-top: -61px !important;
	width: 122px;
	height: 122px;
	background-repeat: no-repeat;
	background-position: center 50%;
	background-size: 130px auto;
	z-index: 1;
}

:hover + .hide {
	visibility: visible; 
	opacity: 1;
	box-shadow: -4px 4px 8px #a5a5a5, -4px 4px 8px #a5a5a5;	
}

#list_surround br { display: none; }

body:before, body:after {
	position: absolute;
	display: block;
	content: '';
	left: 0;
	top: 0;
	width: 100%;
	height: 350px;
}

body:before {
	background-image: url(https://rawgit.com/rl404/MyAnimeList/master/Anohana/images/bgtop.jpg);
	background-position: right top;
	background-repeat: repeat-x;
	animation: Slide 50s linear infinite;
	-webkit-animation: Slide 50s linear infinite;
	z-index: -2;
}

body:after {
	background-image: url(https://rawgit.com/rl404/MyAnimeList/master/Anohana/images/bgbot.png);
	background-position: center -6px;
	background-repeat: no-repeat;
	box-shadow: inset 0 -6px 0 #557ec2;
	z-index: -1;
}

body {
    color: #828282;
    font-size: 14px;
	font-family: 'Kite One', sans-serif;
	background-color: rgb(238, 244, 254) ;
}

a { text-decoration: none; }

#list_surround {
	position: relative;
	display: block;
	left: calc(100% + (300px - 100%));
	margin-top: 350px;
	width: 700px;
	border-right: dotted 1px #828282;
}

.animetitle { padding-left: 5px; }

.animetitle + small { display: none; }

.td1, .td2 { line-height: 21px !important; }

.td1 a, .td2 a { color: #828282; }

td[class^='td']:last-child { padding-right: 5px; text-align: right; }

.header_title { 
	display: inline-block; 
	height: 40px;
}

.header_cw, .header_completed, .header_onhold, .header_dropped, .header_ptw {  
	display: inline-block;
	font-size: 0;
	background: linear-gradient(right, rgba(255, 255, 255, 0) 0%, rgba(85, 126, 194, 1) 100%);
	background: -moz-linear-gradient(right, rgba(255, 255, 255, 0) 0%, rgba(85, 126, 194, 1) 100%);
	background:  -webkit-linear-gradient(right, rgba(255, 255, 255, 0) 0%, rgba(85, 126, 194, 1) 100%);
}
  
.header_cw span:after, .header_completed span:after, .header_onhold span:after, .header_dropped span:after, .header_ptw span:after {
	position: absolute;
	display: inline-block;
	width: 150px;
	line-height: 40px;
	font-size: 22px;
	color: #FFFFFF;
	text-align: left;
}
  
.header_cw span:after { content: 'Current'; }

.header_completed span:after { content: 'Completed'; }

.header_onhold span:after { content: 'On Hold'; }

.header_dropped span:after { content: 'Dropped'; }

.header_ptw span:after { content: 'Planned'; }

/* CURRENTLY WATCHING BACKGROUND */
.status_selected:first-child:before {
	background-image: url(https://rawgit.com/rl404/MyAnimeList/master/Anohana/images/bgwatching);
}

/* COMPLETED BACKGROUND */
.status_selected:nth-child(2):before {
	background-image: url(https://rawgit.com/rl404/MyAnimeList/master/Anohana/images/bgcompleted.jpg);
}

/* ON-HOLD BACKGROUND */
.status_selected:nth-child(3):before {
	background-image: url(https://rawgit.com/rl404/MyAnimeList/master/Anohana/images/bgonhold.jpg);
}

/* DROPPED BACKGROUND */
.status_selected:nth-child(4):before {
	background-image: url(https://rawgit.com/rl404/MyAnimeList/master/Anohana/images/bgdropped.jpg);
}

/* PLANNED BACKGROUND */
.status_selected:nth-child(5):before {
	background-image: url(https://rawgit.com/rl404/MyAnimeList/master/Anohana/images/bgplanned.jpg);
}

/* ALL BACKGROUND */
.status_selected:last-child:before {
	background-image: url(https://rawgit.com/rl404/MyAnimeList/master/Anohana/images/bgall.jpg);
}

.category_totals, #grand_totals, #copyright { font-size: 12px; } 

.category_totals {
	padding: 8px 0;
	text-align: center;
	border-top: dotted 1px #a5a5a5;
}

#grand_totals { display: none; }

#list_surround:after, #copyright {
	position: fixed;
	right: 0;
	bottom: 0;
	width: calc(100% - 300px);
}

#list_surround:after {
	content: '';
	height: 50px;
	background: url(https://rawgit.com/rl404/MyAnimeList/master/Anohana/images/table.png) left bottom repeat-x;
	z-index: 0;
}

#copyright {
	background-color:  rgb(238, 244, 254);
	border-top: solid 1px #a5a5a5;	
	z-index: 1;
}

#copyright:after { display: inline-block;  content: 'List designed by Hahaido. Modified by rl404. '; }

@keyframes Slide {
	0% { background-position: 0 0; }
	100% { background-position: -1935px 0; }
}
 
@-webkit-keyframes Slide {
	0% { background-position: 0 0; }
	100% { background-position: -1935px 0; }
}

#inlineContent { display: block !important; }

#inlineContent:before {
	position: fixed;
	display: block;
	content: '';
	left: 0;
	top: 0;
	width: 300px;
	height: 100%;
	background-color: rgb(255, 255, 255);
	box-shadow: inset -6px 0 0 #557ec2;
	z-index: -3;
}

/* Sliding animation */

@keyframes Slide_right_left
{
	0% { opacity: 0; transform: translateX(0) scale(.7, .7); z-index: -1; }
	20% { opacity: 0; }
	50% { transform: translateX(122px); z-index: -1; }
	55% { transform: translateX(122px); z-index: 1; }
	100% { opacity: 1; transform: translateX(0); z-index: 1; }
}

@-webkit-keyframes Slide_right_left
{
	0% { opacity: 0; -webkit-transform: translateX(0) scale(.7, .7); z-index: -1; }
	20% { opacity: 0; }
	50% { -webkit-transform: translateX(122px); z-index: -1; }
	55% { -webkit-transform: translateX(122px); z-index: 1; }
	100% { opacity: 1; -webkit-transform: translateX(0); z-index: 1; }
}