#list_surround table tbody:hover td[class^='td']:last-child {
	background: linear-gradient(right, rgba(255, 255, 255, 0) 0%, rgba(85, 126, 194, 1) 100%);
	background: -moz-linear-gradient(right, rgba(255, 255, 255, 0) 0%, rgba(85, 126, 194, 1) 100%);
	background:  -webkit-linear-gradient(right, rgba(255, 255, 255, 0) 0%, rgba(85, 126, 194, 1) 100%);
}

tr:hover > .td1, tr:hover > .td2 { color: #FFFFFF !important; background-color: rgba(85, 126, 194, 1); }

tr:hover > .td1 a, tr:hover > .td2 a { color: #FFFFFF; }

/* EDIT */
#list_surround table:nth-of-type(n+4) tbody div small { 
	visibility: visible;
    color: transparent !important;
    font-size: 14px; 
}

#list_surround table:nth-of-type(n+4) tbody small a:last-of-type { display: none !important; }

#list_surround table:nth-of-type(n+4) tbody small a:first-of-type {
	display: inline-block !important;
    opacity: 0;
}

#list_surround table:nth-of-type(n+4) tbody:hover small a:first-of-type {  
	display: inline-block !important;
	position: relative !important;
    visibility: visible; 
    opacity: 1 !important;
    transition: all 0.4s ease 0s;
}

/* SORT */
#list_surround > table:nth-of-type(n+4) ~ .header_cw + table,
#list_surround > table:nth-of-type(n+4) ~ .header_completed + table,
#list_surround > table:nth-of-type(n+4) ~ .header_onhold + table,
#list_surround > table:nth-of-type(n+4) ~ .header_dropped + table,
#list_surround > table:nth-of-type(n+4) ~ .header_ptw + table {
    display: none;
} 

.table_header span{ display: none; }

/* Disable Tags in the Sort Options */
.table_header[width="125"] { display: none !important; }

.header_cw + table, .header_completed + table, .header_onhold + table,
.header_dropped + table, .header_ptw + table {
	position: fixed;
	display: block;
	left: 1150px;
	top: 65px;
	width: 140px;
	z-index: 5;
}

.table_header:nth-of-type(1) { background-position: 0 0; }
.table_header:nth-of-type(2) { background-position: -26px 0; }
.table_header:nth-of-type(3) { background-position: -52px 0; }

.table_header:nth-of-type(1):hover { background-position: 0 -220px; }
.table_header:nth-of-type(2):hover { background-position: -26px -220px; }
.table_header:nth-of-type(3):hover { background-position: -52px -220px; }

.table_header { 
	display: inline-block;
	margin-left: 14px;
	width: 26px; 
	height: 220px;
	background-image: url(https://raw.githubusercontent.com/rl404/MyAnimeList/master/Anohana/images/menu.png);
	background-repeat: no-repeat;
	transition: background-position .3s linear;
	-webkit-transition: background-position .3s linear;
}

.table_header a { 
	font-size: 0;
	display: inline-block;
	width: 26px; 
	height: 220px;
 }

.table_header a:hover, .table_headerLink strong:hover {
	color: #FFFFFF !important;
	background-color: transparent;
}