#mal\_control_strip {
	position: fixed !important;
	display: block !important;
	left: 0 !important;
	bottom: 0;
	width: auto !important;
	background: none !important;
	z-index: 4;
}

#mal\_control_strip a, #mal\_control_strip a:after { font-family: 'Kite One', sans-serif !important; }

#mal\_control_strip a {
	display: block;
	left: 0;
	width: 284px;
	padding: 8px 4px;
	color: #828282 !important;
	font-size: 14px !important;
	text-align: center;
	text-decoration: none !important;
	border-top: solid 1px #a5a5a5;
}

#mal\_control_strip a:hover, #mal\_control_strip a:hover:after {
	color: #FFFFFF !important;
	background-color: rgb(199, 219, 252) !important;
}

#mal\_control_strip img, #mal\_cs_powered, #mal\_cs_powered img, #mal\_cs_pic, #mal\_cs_otherlinks strong, #search,
#mal\_cs_otherlinks div a[href*="shared"], #mal\_cs_otherlinks div span[title*="Compatibility Score"] { display: none; }

#mal_cs_pic, #mal_cs_listinfo, #mal_cs_links { border-right: none !important; }

#mal\_cs_otherlinks div:nth-child(2) { color: transparent !important; }

#mal_cs_otherlinks div a[href*="history"], #mal_cs_otherlinks div a[href*="list/"],
#mal_cs_otherlinks div a[href*="export"], #mal\_cs_otherlinks div a[href$="/forum/"],  
#mal\_cs_links div a[href$="/"] {display: none !important;}

/* Log in, Create list, Learn more */
#mal\_cs_otherlinks { 	
	position: absolute !important; 
	white-space: nowrap !important;
	z-index: -1;
}

#mal\_cs_otherlinks div {
	position: relative !important; 
	display: block !important; 
	margin: -127px 0 0 -11px !important;
} 

#mal\_cs_otherlinks div a { margin-top: -14px !important; } 

#mal\_cs_otherlinks div a[href*="forum"] { border-bottom: solid 1px #a5a5a5; }

#mal\_cs_listinfo div:last-of-type a, #mal\_cs_listinfo div:first-of-type a, 
#mal_cs_links div a[href*="addtolist"],  #mal\_cs_links div:last-of-type a:first-of-type,#mal\_cs_links div:last-of-type a:last-of-type { 
	position: absolute !important;
	font-size: 0 !important;
	color: transparent;
}

#mal\_cs_listinfo div:last-of-type a:after, #mal\_cs_listinfo div:first-of-type a:after, 
#mal_cs_links div a[href*="addtolist"]:after,  #mal\_cs_links div:last-of-type a:first-of-type:after, #mal\_cs_links div:last-of-type a:last-of-type:after { 
	display: block;
/* 	width: 288px; */
	font-size: 14px !important;
}

/*  USERNAME */
#mal\_cs_listinfo div:first-of-type a { top: -126px; }

#mal\_cs_listinfo div:first-of-type a:after { content: 'Profile'; }

/* ADD */
#mal\_cs_links div a[href*="addtolist"] { top: -89px; }

#mal\_cs_links div a[href*="addtolist"]:after { content: 'Add'; }

/* MANGALIST */
#mal\_cs_links div:last-of-type a:first-of-type  { top: -52px; width:138px;}
#mal\_cs_links div:last-of-type a:last-of-type  { top: -52px; width:142px; left:142px; border-left: solid 1px #a5a5a5;}

#mal\_cs_links div:last-of-type a:first-of-type:after { content: 'Anime'; }
#mal\_cs_links div:last-of-type a:last-of-type:after { content: 'Manga'; }

/* LOGOUT */
#mal\_cs_listinfo div:last-of-type a { top: -15px; border-bottom: solid 1px #a5a5a5; }

#mal\_cs_listinfo div:last-of-type a:after { content: 'Logut'; }

@-moz-document url-prefix() {
	#mal\_cs_otherlinks div { margin: -132px 0 0 -11px !important; }
	#mal\_cs_otherlinks div a { margin-top: -16px !important; } 
	/*  USERNAME */
	#mal\_cs_listinfo div:first-of-type a { top: -132px; }
	/* ADD */
	#mal\_cs_links div a[href*="addtolist"] { top: -94px; }
	/* MANGALIST */
	#mal\_cs_links div:last-of-type a:first-of-type  { top: -56px; }
	#mal\_cs_links div:last-of-type a:last-of-type  { top: -56px; }
	/* LOGOUT */
	#mal\_cs_listinfo div:last-of-type a { top: -18px; }
}