/*
 * EXPANDER DARK (DARK) LAYOUT THEME
 * List Designed by dzikibambus (https://myanimelist.net/profile/dzikibambus)
 * Modified by rl404 (https://myanimelist.net/profile/rl404)
 */

@import url(https://cdn.jsdelivr.net/gh/rl404/MyAnimeList@v1.3.3/Expander-Dark/main.css);
@import url(https://cdn.jsdelivr.net/gh/rl404/MyAnimeList@v1.3.3/Expander-Dark/nav.css);
@import url(https://cdn.jsdelivr.net/gh/rl404/MyAnimeList@v1.3.3/Expander-Dark/expand.css);

#list_surround:before {
  content: "";
}

#list_surround table:first-of-type td:nth-of-type(1) a:before {
  content: "R";
}

#list_surround table:first-of-type td:nth-of-type(1) a:after {
  content: "Reading";
}

#list_surround table:first-of-type td:nth-of-type(6) a:before {
  content: "A";
}

#list_surround table:first-of-type td:nth-of-type(6) a:after {
  content: "All Manga";
}

.td1:nth-child(7):last-child,
.td2:nth-child(7):last-child,
.table_header:nth-child(7):last-child {
  display: none;
}

tr:hover .td1:nth-of-type(4):before,
tr:hover .td2:nth-of-type(4):before {
  content: "Chapter: ";
  font-variant: small-caps;
  font-weight: bold;
}

tr:hover .td1:nth-of-type(4),
tr:hover .td2:nth-of-type(4) {
  margin-top: 75px;
  left: 585px;
}

tr:hover .td1:nth-of-type(5):before,
tr:hover .td2:nth-of-type(5):before {
  content: "Volume: ";
  font-variant: small-caps;
  font-weight: bold;
}

tr:hover .td1:nth-of-type(5),
tr:hover .td2:nth-of-type(5) {
  margin-top: 105px;
}

tr:hover .td1:nth-of-type(6):before,
tr:hover .td2:nth-of-type(6):before {
  content: "Type: ";
  font-variant: small-caps;
  font-weight: bold;
}

tr:hover .td1:nth-of-type(6),
tr:hover .td2:nth-of-type(6) {
  margin-top: 135px;
}

tr:hover .td1:nth-of-type(7):before,
tr:hover .td2:nth-of-type(7):before {
  content: "Review: ";
  font-variant: small-caps;
  font-weight: bold;
}

tr:hover .td1:nth-of-type(7),
tr:hover .td2:nth-of-type(7) {
  margin-top: 165px;
  height: 180px;
  width: 250px;
  left: 550px;
}

tr:hover .td1:nth-of-type(7) input,
tr:hover .td2:nth-of-type(7) input {
  background: none;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
  color: white;
}
