/*
 * EXPANDER DARK (ANIME) LAYOUT THEME
 * List Designed by dzikibambus (https://myanimelist.net/profile/dzikibambus)
 * Modified by rl404 (https://myanimelist.net/profile/rl404)
 */

@import url(https://cdn.jsdelivr.net/gh/rl404/MyAnimeList@v1.3.4/Expander-Dark/main.css);
@import url(https://cdn.jsdelivr.net/gh/rl404/MyAnimeList@v1.3.4/Expander-Dark/nav.css);
@import url(https://cdn.jsdelivr.net/gh/rl404/MyAnimeList@v1.3.4/Expander-Dark/expand.css);
@import url(https://cdn.jsdelivr.net/gh/rl404/MyAnimeList@v1.3.4/Expander/comment.css);
@import url(https://cdn.jsdelivr.net/gh/rl404/MyAnimeList@v1.3.4/Expander/score.css);
@import url(https://cdn.jsdelivr.net/gh/rl404/MyAnimeList@v1.3.4/Expander/special.css);
