name: tag

on: workflow_dispatch

jobs:
  tag:
    name: Tag
    runs-on: ubuntu-latest
    steps:
      - name: Check out code
        uses: actions/checkout@v6
      - name: Check tag
        id: tag_version
        uses: mathieudutour/github-tag-action@v6.2
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          dry_run: true
      - name: Find and replace version
        uses: jacobtomlinson/gha-find-replace@v3
        with:
          find: ${{ steps.tag_version.outputs.previous_tag }}
          replace: ${{ steps.tag_version.outputs.new_tag }}
      - name: Push changes
        id: push_changes
        uses: stefanzweifel/git-auto-commit-action@v7
      - name: Create tag
        uses: mathieudutour/github-tag-action@v6.2
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          commit_sha: ${{ steps.push_changes.outputs.commit_hash }}
